/* Safari 10.1+ (which is the latest version of Safari at this time) */

@media not all and (min-resolution: 0.001dpcm) {
    @media {
        .navbar.invisible-nav {
            transform: translateY(0em);
        }
    }
}
