ul.nav.nav-treeview {
	background: #494e54 !important;
}

.v-data-table tbody tr.v-data-table__expanded__content{
  box-shadow: none !important;
  background:#f4f4f4;
}

.v-data-table tbody tr.v-data-table__expanded__content .v-data-table{
  background:#f4f4f4 !important;
}
