@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?c4hdvc');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?c4hdvc#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?c4hdvc') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?c4hdvc') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?c4hdvc##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-global {
  &:before {
    content: $icon-global; 
  }
}
.icon-location {
  &:before {
    content: $icon-location; 
  }
}
.icon-phone {
  &:before {
    content: $icon-phone; 
  }
}
.icon-minus {
  &:before {
    content: $icon-minus; 
  }
}
.icon-cart {
  &:before {
    content: $icon-cart; 
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook; 
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram; 
  }
}
.icon-youtube {
  &:before {
    content: $icon-youtube; 
  }
}
.icon-invalid {
  &:before {
    content: $icon-invalid; 
  }
}
.icon-checkbox-outline {
  &:before {
    content: $icon-checkbox-outline; 
  }
}
.icon-checkbox-fill {
  &:before {
    content: $icon-checkbox-fill; 
  }
}
.icon-search {
  &:before {
    content: $icon-search; 
  }
}
.icon-dot-left {
  &:before {
    content: $icon-dot-left; 
  }
}
.icon-dot-right {
  &:before {
    content: $icon-dot-right; 
  }
}
.icon-comment {
  &:before {
    content: $icon-comment; 
  }
}
.icon-reload {
  &:before {
    content: $icon-reload; 
  }
}
.icon-three-dots-vertical {
  &:before {
    content: $icon-three-dots-vertical; 
  }
}
.icon-bell {
  &:before {
    content: $icon-bell; 
  }
}
.icon-list {
  &:before {
    content: $icon-list; 
  }
}
.icon-chevron-down {
  &:before {
    content: $icon-chevron-down; 
  }
}
.icon-chevron-up {
  &:before {
    content: $icon-chevron-up; 
  }
}
.icon-x {
  &:before {
    content: $icon-x; 
  }
}
.icon-chevron-right {
  &:before {
    content: $icon-chevron-right; 
  }
}
.icon-chevron-left {
  &:before {
    content: $icon-chevron-left; 
  }
}
.icon-check {
  &:before {
    content: $icon-check; 
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left; 
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right; 
  }
}
.icon-caret-up-fill {
  &:before {
    content: $icon-caret-up-fill; 
  }
}
.icon-caret-down-fill {
  &:before {
    content: $icon-caret-down-fill; 
  }
}
.icon-plus {
  &:before {
    content: $icon-plus; 
  }
}
.icon-share {
  &:before {
    content: $icon-share; 
  }
}
.icon-instagram2 {
  &:before {
    content: $icon-instagram2; 
  }
}
.icon-envelope {
  &:before {
    content: $icon-envelope; 
  }
}
.icon-mail2 {
  &:before {
    content: $icon-mail2; 
  }
}
.icon-google-plus {
  &:before {
    content: $icon-google-plus; 
  }
}
.icon-facebook1 {
  &:before {
    content: $icon-facebook1; 
  }
}
.icon-instagram1 {
  &:before {
    content: $icon-instagram1; 
  }
}
.icon-whatsapp {
  &:before {
    content: $icon-whatsapp; 
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter; 
  }
}
.icon-rss {
  &:before {
    content: $icon-rss; 
  }
}
.icon-vimeo {
  &:before {
    content: $icon-vimeo; 
  }
}
.icon-flickr2 {
  &:before {
    content: $icon-flickr2; 
  }
}
.icon-dribbble {
  &:before {
    content: $icon-dribbble; 
  }
}
.icon-behance {
  &:before {
    content: $icon-behance; 
  }
}
.icon-blogger {
  &:before {
    content: $icon-blogger; 
  }
}
.icon-tumblr {
  &:before {
    content: $icon-tumblr; 
  }
}
.icon-linkedin2 {
  &:before {
    content: $icon-linkedin2; 
  }
}
.icon-lastfm {
  &:before {
    content: $icon-lastfm; 
  }
}
.icon-stumbleupon {
  &:before {
    content: $icon-stumbleupon; 
  }
}
.icon-pinterest2 {
  &:before {
    content: $icon-pinterest2; 
  }
}

