@charset "UTF-8";
@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?c4hdvc");
  src: url("fonts/icomoon.eot?c4hdvc#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?c4hdvc") format("truetype"), url("fonts/icomoon.woff?c4hdvc") format("woff"), url("fonts/icomoon.svg?c4hdvc#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-global:before {
  content: "";
}

.icon-location:before {
  content: "";
}

.icon-phone:before {
  content: "";
}

.icon-minus:before {
  content: "";
}

.icon-cart:before {
  content: "";
}

.icon-facebook:before {
  content: "";
}

.icon-instagram:before {
  content: "";
}

.icon-youtube:before {
  content: "";
}

.icon-invalid:before {
  content: "";
}

.icon-checkbox-outline:before {
  content: "";
}

.icon-checkbox-fill:before {
  content: "";
}

.icon-search:before {
  content: "";
}

.icon-dot-left:before {
  content: "";
}

.icon-dot-right:before {
  content: "";
}

.icon-comment:before {
  content: "";
}

.icon-reload:before {
  content: "";
}

.icon-three-dots-vertical:before {
  content: "";
}

.icon-bell:before {
  content: "";
}

.icon-list:before {
  content: "";
}

.icon-chevron-down:before {
  content: "";
}

.icon-chevron-up:before {
  content: "";
}

.icon-x:before {
  content: "";
}

.icon-chevron-right:before {
  content: "";
}

.icon-chevron-left:before {
  content: "";
}

.icon-check:before {
  content: "";
}

.icon-arrow-left:before {
  content: "";
}

.icon-arrow-right:before {
  content: "";
}

.icon-caret-up-fill:before {
  content: "";
}

.icon-caret-down-fill:before {
  content: "";
}

.icon-plus:before {
  content: "";
}

.icon-share:before {
  content: "";
}

.icon-instagram2:before {
  content: "";
}

.icon-envelope:before {
  content: "";
}

.icon-mail2:before {
  content: "";
}

.icon-google-plus:before {
  content: "";
}

.icon-facebook1:before {
  content: "";
}

.icon-instagram1:before {
  content: "";
}

.icon-whatsapp:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}

.icon-rss:before {
  content: "";
}

.icon-vimeo:before {
  content: "";
}

.icon-flickr2:before {
  content: "";
}

.icon-dribbble:before {
  content: "";
}

.icon-behance:before {
  content: "";
}

.icon-blogger:before {
  content: "";
}

.icon-tumblr:before {
  content: "";
}

.icon-linkedin2:before {
  content: "";
}

.icon-lastfm:before {
  content: "";
}

.icon-stumbleupon:before {
  content: "";
}

.icon-pinterest2:before {
  content: "";
}
/*# sourceMappingURL=style.css.map */