$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-global: "\e91e";
$icon-location: "\e91f";
$icon-phone: "\e920";
$icon-minus: "\e904";
$icon-cart: "\e900";
$icon-facebook: "\e901";
$icon-instagram: "\e902";
$icon-youtube: "\e903";
$icon-invalid: "\e905";
$icon-checkbox-outline: "\e906";
$icon-checkbox-fill: "\e907";
$icon-search: "\e908";
$icon-dot-left: "\e909";
$icon-dot-right: "\e90a";
$icon-comment: "\e90b";
$icon-reload: "\e90c";
$icon-three-dots-vertical: "\e90d";
$icon-bell: "\e90e";
$icon-list: "\e90f";
$icon-chevron-down: "\e910";
$icon-chevron-up: "\e911";
$icon-x: "\e912";
$icon-chevron-right: "\e913";
$icon-chevron-left: "\e914";
$icon-check: "\e915";
$icon-arrow-left: "\e916";
$icon-arrow-right: "\e917";
$icon-caret-up-fill: "\e918";
$icon-caret-down-fill: "\e919";
$icon-plus: "\e91a";
$icon-share: "\e91b";
$icon-instagram2: "\e91c";
$icon-envelope: "\e91d";
$icon-mail2: "\ea84";
$icon-google-plus: "\ea8b";
$icon-facebook1: "\ea90";
$icon-instagram1: "\ea92";
$icon-whatsapp: "\ea93";
$icon-twitter: "\ea96";
$icon-rss: "\ea9b";
$icon-vimeo: "\eaa0";
$icon-flickr2: "\eaa4";
$icon-dribbble: "\eaa7";
$icon-behance: "\eaa8";
$icon-blogger: "\eab7";
$icon-tumblr: "\eab9";
$icon-linkedin2: "\eaca";
$icon-lastfm: "\eacb";
$icon-stumbleupon: "\eace";
$icon-pinterest2: "\ead2";

