<template>
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/admin" class="text-decoration-none">Dashboard</router-link>
        </li>
        <li class="breadcrumb-item active" aria-current="page">About</li>
      </ol>
    </nav>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">About</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 pt-0 pb-0">
            <v-img :src="displayImg" height="300"></v-img>
          </div>
          <div class="col-md-6 pt-0 pb-0">
            <h6>Upload Photo</h6>
            <a-upload
              listType="picture-card"
              :fileList="photo"
              :beforeUpload="beforeUpload"
              @preview="handlePreview"
              @change="handleChange"
            >
              <div v-if="photo.length < 1">
                <a-icon type="plus" />
                <div class="ant-upload-text">Upload</div>
              </div>
            </a-upload>
            <a-modal :visible="previewVisible" :footer="null" @cancel="handleCancel">
              <img alt="example" style="width: 100%" :src="previewImage" />
            </a-modal>
          </div>
          <div class="col-md-12">
            <h5>Description</h5>
            <quillEditor
              class="quill-editor"
              style="height:200px"
              ref="myQuillEditor"
              v-model="description"
              :options="editorOption"
            ></quillEditor>
          </div>
        </div>

        <v-btn
          tile
          text
          style="background:#EEFE3A;margin-top:90px"
          class="text-capitalize custombutton"
          @click="updateAbout()"
        >Update</v-btn>
      </div>
    </div>
  </div>
</template>

<script>
import { getImgPath } from "../utils/path";
import { showToast } from "../utils/toast";

import "quill/dist/quill.core.css";
import "quill/dist/quill.snow.css";
import "quill/dist/quill.bubble.css";
import { quillEditor, Quill } from "vue-quill-editor";
import ImageResize from "quill-image-resize";

// Register ImageResize module
Quill.register("modules/imageResize", ImageResize);
export default {
  name: "About",
  components: {
    quillEditor,
  },
  data() {
    return {
      previewVisible: false,
      previewImage: "",
      photo: [],
      displayImg: this.imgPath("main", "bg.jpg"),
      description: "",
      editorOption: {
        // some quill options
        modules: {
          toolbar: [
            ["bold", "italic", "underline", "strike"],
            ["blockquote", "code-block"],
            [{ header: 1 }, { header: 2 }],
            [{ list: "ordered" }, { list: "bullet" }],
            [{ script: "sub" }, { script: "super" }],
            [{ indent: "-1" }, { indent: "+1" }],
            [{ direction: "rtl" }],
            [{ size: ["small", false, "large", "huge"] }],
            [{ header: [1, 2, 3, 4, 5, 6, false] }],
            [{ font: [] }],
            [{ color: [] }, { background: [] }],
            [{ align: [] }],
            ["clean"],
            ["link", "image", "video"],
          ],
        },
      },
    };
  },
  head() {
    return { title: "About" };
  },
  methods: {
    imgPath: getImgPath,
    onEditorChange({ editor, html, text }) {
      this.description = html;
    },
    handleCancel() {
      this.previewVisible = false;
    },
    handlePreview(file) {
      this.previewImage = file.url || file.thumbUrl;
      this.previewVisible = true;
    },
    handleChange({ fileList }) {
      this.photo = fileList;
    },
    beforeUpload(file) {
      const isImage =
        file.type === "image/jpeg" ||
        file.type === "image/jpg" ||
        file.type === "image/png";
      if (!isImage) {
        showToast("error", "You can only upload JPEG/JPG/PNG file!");
        this.photo = [];
      }
      const isLt2M = file.size / 1024 / 1024 < 3;
      if (!isLt2M) {
        showToast("error", "Image must smaller than 3MB!");
        this.photo = [];
      }
      return isImage && isLt2M;
    },
    updateAbout() {
      const rawData = {};
      if (this.description != "") {
        rawData["description"] = this.description;
      }
      if (this.photo.length > 0) {
        rawData["photo"] = this.photo[0].originFileObj;
      }
      this.$store.dispatch("about/modifyAbout", rawData).then((result) => {
        this.description = result.description != null ? result.description : "";
        if (result.photo != null) {
          const b = { fileList: [] };
          const temp = {
            uid: 1,
            name: result.photo,
            response: {
              name: result.photo,
            },
            status: "done",
            url: this.imgPath("about", result.photo),
          };
          b.fileList.push(temp);
          this.handleChange(b);
          this.displayImg = this.imgPath("about", result.photo);
        }
        showToast("success", "About Updated Successfully");
      });
    },
  },
  async created() {
    await this.$store.dispatch("about/fetchAbout").then((result) => {
      if (result.length > 0) {
        this.description =
          result[0].description != null ? result[0].description : "";
        if (result[0].photo != null) {
          const b = { fileList: [] };
          const temp = {
            uid: 1,
            name: result[0].photo,
            response: {
              name: result[0].photo,
            },
            status: "done",
            url: this.imgPath("about", result[0].photo),
          };
          b.fileList.push(temp);
          this.handleChange(b);
          this.displayImg = this.imgPath("about", result[0].photo);
        }
      }
    });
  },
};
</script>