<template>
  <router-view></router-view>
</template>

<script>
export default {
  async created() {
    await this.$store.dispatch("size/fetchSizes");
    await this.$store.dispatch("division/fetchDivisions");
    await this.$store.dispatch("brand/fetchBrands");
    await this.$store.dispatch("color/fetchColors");
    await this.$store.dispatch("productcategory/fetchProductCategories");
    this.$store.dispatch("order/fetchOrders");
    this.$store.dispatch("coupon/fetchCoupons");
    this.$store.dispatch("message/fetchMessages");
    this.$store.dispatch("product/fetchProducts",1);
    this.$store.dispatch("blog/fetchBlogs");
    this.$store.dispatch("page/fetchPages");
  },
};
</script>