<template>
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/admin" class="text-decoration-none"
            >Dashboard</router-link
          >
        </li>
        <li class="breadcrumb-item active" aria-current="page">Banners</li>
      </ol>
    </nav>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Photo Banners</h3>

        <div class="card-tools">
          <template>
            <AddButton @click="openDialog" />
            <BannerModal
              :visible="addBannerDialog"
              @closeBannerDialog="closeDialog()"
              :editMode="editMode"
              :editBanner="editBanner"
            />
          </template>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body p-0">
        <table
          class="table table-condensed table-hover"
          v-if="this.getPhotoBanner.length > 0"
        >
          <thead>
            <tr>
              <th>#</th>
              <th>Picture</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(banner, index) in this.getPhotoBanner"
              :key="index"
              @click="editItem(banner, 'photo')"
            >
              <td>{{ index + 1 }}</td>
              <td>
                <v-avatar size="60" class="ma-1">
                  <v-img :src="imgPath('banners', banner.location)"></v-img>
                </v-avatar>
              </td>
              <td @click.stop="">
                <v-switch
                  v-if="banner.status == 1"
                  color="orange"
                  value
                  @change="statusChanged($event, banner.id)"
                  input-value="true"
                ></v-switch>
                <v-switch
                  v-else
                  @change="statusChanged($event, banner.id)"
                  color="orange"
                ></v-switch>
              </td>
              <td @click.stop="">
                <v-btn icon @click="deleteItem(banner, 'photo')">
                  <v-icon color="red">mdi-trash-can-outline</v-icon>
                </v-btn>
              </td>
            </tr>
          </tbody>
        </table>
        <span v-else>
          <div class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">No photo banner available.</h5>
            </div>
            <p class="mb-1">
              Click
              <a @click="openDialog">Add New</a> to add banner.
            </p>
          </div>
        </span>
      </div>
      <!-- /.card-body -->
    </div>

    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Video Banners</h3>

        <div class="card-tools">
          <template>
            <AddButton @click="openDialog('video')" />
            <VideoModal
              :visible="addVideoDialog"
              @closeBannerDialog="closeDialog('video')"
              :editMode="editMode"
              :editBanner="editVideoBanner"
            />
          </template>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body p-0">
        <table
          class="table table-condensed table-hover"
          v-if="this.getVideoBanner.length > 0"
        >
          <thead>
            <tr>
              <th>#</th>
              <th>Video</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(banner, index) in this.getVideoBanner"
              :key="index"
              @click="editItem(banner, 'video')"
            >
              <td>{{ index + 1 }}</td>
              <td>
                <video width="150" height="80" controls>
                  <source
                    :src="imgPath('video', banner.location)"
                    type="video/mp4"
                  />
                </video>
              </td>

              <td @click.stop="">
                <v-switch
                  v-if="banner.status == 1"
                  color="orange"
                  value
                  @change="statusChanged($event, banner.id)"
                  input-value="true"
                ></v-switch>
                <v-switch
                  v-else
                  @change="statusChanged($event, banner.id)"
                  color="orange"
                ></v-switch>
              </td>
              <td @click.stop="">
                <v-btn icon @click="deleteItem(banner, 'video')">
                  <v-icon color="red">mdi-trash-can-outline</v-icon>
                </v-btn>
              </td>
            </tr>
          </tbody>
        </table>
        <span v-else>
          <div class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">No video available.</h5>
            </div>
            <p class="mb-1">
              Click
              <a @click="openDialog('video')">Add New</a> to add video.
            </p>
          </div>
        </span>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
</template>


<script>
import { mapGetters, mapMutations } from "vuex";
import Swal from "sweetalert2";
import BannerModal from "./modals/BannerModal";
import VideoModal from "./../components/modals/VideoModal";
import { showToast, showDeleteConfirmation } from "../utils/toast";
import { getImgPath } from "../utils/path";
import AddButton from "./partials/AddButton";
import EditButton from "./partials/EditButton";
import DeleteButton from "./partials/DeleteButton";
export default {
  components: {
    BannerModal,
    VideoModal,
    AddButton,
    EditButton,
    DeleteButton,
  },
  data() {
    return {
      addBannerDialog: false,
      addVideoDialog: false,
      editMode: false,
      editBanner: {},
      editVideoBanner: {},
      headers: [
        { text: "Sn", value: "id", class: "black--text" },
        { text: "Picture", value: "photo", class: "black--text" },
        { text: "Status", value: "status", class: "black--text" },
        { text: "Action", value: "action", class: "black--text" },
      ],
      videoHeaders: [
        { text: "Sn", value: "id", class: "black--text" },
        { text: "Video", value: "photo", class: "black--text" },
        { text: "Status", value: "status", class: "black--text" },
        { text: "Action", value: "action", class: "black--text" },
      ],
    };
  },
  created() {
    this.$store.dispatch("banner/fetchBanners");
  },
  methods: {
    ...mapMutations({
      editBannerSuccess: "banner/EDIT_BANNER_SUCCESS",
    }),
    imgPath: getImgPath,
    deleteItem(banner, type) {
      showDeleteConfirmation().then((result) => {
        if (result.value) {
          if (type == "video") {
            this.$store
              .dispatch("banner/deleteVideoBanner", banner)
              .then((res) => {
                showToast("success", "Photo Banner Deleted.");
              })
              .catch((e) => {
                showToast("warning", "Deletion Failed");
              });
          } else {
            this.$store
              .dispatch("banner/deleteBanner", banner)
              .then((res) => {
                showToast("success", "Photo Banner Deleted.");
              })
              .catch((e) => {
                showToast("warning", "Deletion Failed");
              });
          }
        }
      });
    },
    statusChanged(value, id) {
      const data = {
        id: id,
        value: value,
      };
      this.$store.dispatch("banner/changeStatus", data).then((result) => {
        showToast("success", `Changed Status to ${value}`);
        this.editBannerSuccess(result);
      });
    },
    editItem(banner, type) {
      if (type == "video") {
        this.editMode = true;
        this.editVideoBanner = banner;
        this.openDialog("video");
      } else {
        this.editMode = true;
        this.editBanner = banner;
        this.openDialog();
      }
    },
    openDialog(type) {
      if (type == "video") {
        this.addVideoDialog = true;
      } else {
        this.addBannerDialog = true;
      }
    },
    closeDialog(type) {
      if (type == "video") {
        this.addVideoDialog = false;
        this.editMode = false;
      } else {
        this.addBannerDialog = false;
        this.editMode = false;
      }
    },
  },
  computed: {
    ...mapGetters({ banners: "banner/banners" }),
    getPhotoBanner: function () {
      if (this.banners.length > 0) {
        return this.banners.filter((banner) => banner.type == 0);
      } else {
        return [];
      }
    },
    getVideoBanner: function () {
      if (this.banners.length > 0) {
        return this.banners.filter((banner) => banner.type == 1);
      } else {
        return [];
      }
    },
  },
};
</script>

<style scoped>
tr {
  cursor: pointer;
}
</style>