<template>
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/admin" class="text-decoration-none"
            >Dashboard</router-link
          >
        </li>
        <li class="breadcrumb-item active" aria-current="page">Blogs</li>
      </ol>
    </nav>

    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Blogs</h3>

        <div class="card-tools">
          <template>
            <v-btn outlined tile class="text-capitalize" small>
              <download-excel :data="this.getBlogRiders">
                Export Ride Registration Data
                <i class="fas fa-download"></i>
              </download-excel>
            </v-btn>
          </template>

          <template>
            <AddButton @click="$router.push('/admin/blogs/add')" />
          </template>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body p-0">
        <v-data-table
          :headers="headers"
          :items="this.blogs"
          item-key="id"
          @click:row="goToEdit"
          show-expand
          class="elevation-0 row-pointer"
        >
          <template v-slot:item.id="{ item }">
            <span>{{
              blogs
                .map(function (x) {
                  return x.id;
                })
                .indexOf(item.id) + 1
            }}</span>
          </template>

          <template v-slot:item.tags="{ item }">
            <span v-for="(tag, index) in item.tags" :key="index">
              <v-chip dark color="blue">
                {{ tag.name }}
                <v-avatar right>
                  <v-icon small>mdi-tag</v-icon>
                </v-avatar>
              </v-chip>
            </span>
          </template>
          <template v-slot:item.registration="{ item }">
            <v-switch
              v-if="item.registration == 1"
              color="orange"
              value
              @click.stop=""
              @change="changeRegistration($event, item.id)"
              input-value="true"
            ></v-switch>
            <v-switch
              v-else
              @click.stop=""
              @change="changeRegistration($event, item.id)"
              color="orange"
            ></v-switch>
          </template>
          <template v-slot:item.created_at="{ item }">
            {{ item.created_at | formatDate }}
          </template>
          <template v-slot:item.action="{ item }">
            <v-btn icon @click="deleteItem(item)" @click.stop="">
              <v-icon color="red">mdi-trash-can-outline</v-icon>
            </v-btn>
          </template>
          <template v-slot:item.id="{ item }">
            <span>{{
              blogs
                .map(function (x) {
                  return x.id;
                })
                .indexOf(item.id) + 1
            }}</span>
          </template>
          <template #expanded-item="{ headers, item }">
            <td :colspan="headers.length" v-if="item.riders.length > 0">
              <div v-for="(rider, index) in item.riders" :key="index">
                <v-row>
                  <v-col cols="12" md="4">
                    <div style="display: flex; flex-direction: column">
                      <span style="font-weight: 800"
                        >Name:
                        <span style="font-weight: normal">{{
                          rider.name
                        }}</span></span
                      >
                      <span style="font-weight: 800"
                        >Email:
                        <span style="font-weight: normal">{{
                          rider.email
                        }}</span></span
                      >
                      <span style="font-weight: 800"
                        >Contact:
                        <span style="font-weight: normal">{{
                          rider.contact_no
                        }}</span></span
                      >
                    </div>
                  </v-col>

                  <v-col cols="12" md="8"
                    ><span style="font-weight: 800"
                      >Message:
                      <span style="font-weight: normal">{{
                        rider.message
                      }}</span></span
                    ></v-col
                  >
                </v-row>
                <hr v-if="index != item.riders.length - 1" class="pa-0 ma-0" />
              </div>
            </td>
          </template>
        </v-data-table>
      </div>
    </div>
  </div>
</template>


<script>
import { mapGetters, mapMutations } from "vuex";
import { showToast, showDeleteConfirmation } from "../utils/toast";
import moment from "moment";
import AddButton from "./partials/AddButton";
import EditButton from "./partials/EditButton";
import DeleteButton from "./partials/DeleteButton";
export default {
  components: {
    AddButton,
    EditButton,
    DeleteButton,
  },
  data() {
    return {
      addBlogDialog: false,
      editMode: false,
      editBlog: {},
      expanded: [],
      singleExpand: true,
      headers: [
        { text: "#", value: "id", class: "black--text" },
        {
          text: "Title",
          value: "title",
          class: "black--text",
        },
        { text: "Tags", value: "tags", class: "black--text" },
        { text: "Registration", value: "registration", class: "black--text" },
        { text: "Published At", value: "created_at", class: "black--text" },
        { text: "Action", value: "action", class: "black--text" },
      ],
    };
  },
  created() {
    this.$store.dispatch("blog/fetchBlogs");
  },
  methods: {
    ...mapMutations({
      editBlogSuccess: "blog/EDIT_BLOG_SUCCESS",
    }),
    goToEdit(blog) {
      this.$router.push(`/admin/blogs/${blog.id}`);
    },
    deleteItem(blog) {
      showDeleteConfirmation().then((result) => {
        if (result.value) {
          this.$store
            .dispatch("blog/deleteBlog", blog)
            .then((res) => {
              showToast("success", "Blog Deleted.");
            })
            .catch((e) => {
              showToast("warning", "Deletion Failed");
            });
        }
      });
    },
    changeRegistration(value, id) {
      const data = {
        id: id,
        value: value,
      };
      this.$store.dispatch("blog/changeRegistration", data).then((result) => {
        showToast("success", `Changed Status to ${value}`);
        this.editBlogSuccess(result);
      });
    },
    editItem(blog) {
      this.editMode = true;
      this.editBlog = blog;
      this.openDialog();
    },
    openDialog() {
      this.addBlogDialog = true;
    },
    closeDialog() {
      this.addBlogDialog = false;
      this.editMode = false;
    },
  },
  computed: {
    ...mapGetters({ blogs: "blog/blogs" }),
    getBlogRiders: function () {
      if (this.blogs.length > 0) {
        let data = [];
        for (const blog of this.blogs) {
          if (blog.riders.length > 0) {
            data = blog.riders.map((rider) => {
              return {
                title: blog.title,
                name: rider.name,
                contact: rider.contact_no,
                email: rider.email,
                message: rider.message,
              };
            });
          }
        }
        return data;
      } else {
        return [];
      }
    },
  },
  filters: {
    formatDate: function (date) {
      return moment(date).format("MMMM Do YYYY");
    },
  },
};
</script>

<style lang="css" scoped>
.row-pointer >>> tbody tr :hover {
  cursor: pointer !important;
}
</style>