<template>
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/admin" class="text-decoration-none"
            >Dashboard</router-link
          >
        </li>
        <li class="breadcrumb-item active" aria-current="page">Brands</li>
      </ol>
    </nav>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Brands</h3>

        <div class="card-tools">
          <template>
            <AddButton @click="openDialog" />
            <BrandModal
              :visible="addBrandDialog"
              @closeBrandDialog="closeDialog()"
              :editMode="editMode"
              :editBrand="editBrand"
            />
          </template>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body p-0">
        <table
          class="table table-condensed table-hover"
          v-if="this.brands.length > 0"
        >
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Banner</th>
              <th>Secondary</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(brand, index) in this.brands"
              :key="index"
              @click="editItem(brand)"
            >
              <td>{{ index + 1 }}</td>
              <td>{{ brand.name }}</td>
              <td>
                <v-avatar size="60" class="ma-1">
                  <v-img :src="imgPath('banners', brand.banner)"></v-img>
                </v-avatar>
              </td>
              <td>
                <v-avatar size="60" class="ma-1">
                  <v-img :src="imgPath('highlights', brand.highlight)"></v-img>
                </v-avatar>
              </td>
              <td @click.stop="">
                <v-btn icon @click="deleteItem(brand)">
                  <v-icon color="red">mdi-trash-can-outline</v-icon>
                </v-btn>
              </td>
            </tr>
          </tbody>
        </table>
        <span v-else>
          <div class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">No brands available.</h5>
            </div>
            <p class="mb-1">
              Click
              <a @click="openDialog">Add New</a> to add brand.
            </p>
          </div>
        </span>
      </div>
    </div>
  </div>
</template>


<script>
import { mapGetters } from "vuex";
import Swal from "sweetalert2";
import BrandModal from "./modals/BrandModal";
import { showToast, showDeleteConfirmation } from "../utils/toast";
import { getImgPath } from "../utils/path";
import AddButton from "./partials/AddButton";
import EditButton from "./partials/EditButton";
import DeleteButton from "./partials/DeleteButton";
export default {
  components: {
    BrandModal,
    AddButton,
    EditButton,
    DeleteButton,
  },
  data() {
    return {
      addBrandDialog: false,
      editMode: false,
      editBrand: {},
    };
  },
  methods: {
    imgPath: getImgPath,
    deleteItem(category) {
      showDeleteConfirmation().then((result) => {
        if (result.value) {
          this.$store
            .dispatch("brand/deleteBrand", category)
            .then((res) => {
              showToast("success", "Category Deleted.");
            })
            .catch((e) => {
              showToast("warning", "Deletion Failed");
            });
        }
      });
    },
    editItem(division) {
      this.editMode = true;
      this.editBrand = division;
      this.openDialog();
    },
    openDialog() {
      this.addBrandDialog = true;
    },
    closeDialog() {
      this.addBrandDialog = false;
      this.editMode = false;
    },
  },
  computed: {
    ...mapGetters({ brands: "brand/brands" }),
  },
};
</script>

<style scoped>
tr {
  cursor: pointer;
}
</style>