<template>
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/admin" class="text-decoration-none"
            >Dashboard</router-link
          >
        </li>
        <li class="breadcrumb-item active" aria-current="page">Colors</li>
      </ol>
    </nav>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Colors</h3>

        <div class="card-tools">
          <template>
            <AddButton @click="openDialog" />
            <ColorModal
              :visible="addColorDialog"
              @closeColorDialog="closeDialog()"
              :editMode="editMode"
              :editColor="editColor"
            />
          </template>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body p-0">
        <table
          class="table table-condensed table-hover"
          v-if="this.colors.length > 0"
        >
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Color</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(color, index) in this.colors"
              :key="index"
              @click="editItem(color)"
            >
              <td>{{ index + 1 }}</td>
              <td>{{ color.name }}</td>
              <td>
                <v-avatar :color="color.hex" size="30" />
              </td>
              <td @click.stop="">
                <v-btn icon @click="deleteItem(color)">
                  <v-icon color="red">mdi-trash-can-outline</v-icon>
                </v-btn>
              </td>
            </tr>
          </tbody>
        </table>
        <span v-else>
          <div class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">No colors available.</h5>
            </div>
            <p class="mb-1">
              Click
              <a @click="openDialog">Add New</a> to add color.
            </p>
          </div>
        </span>
      </div>
    </div>
  </div>
</template>


<script>
import { mapGetters } from "vuex";
import Swal from "sweetalert2";
import ColorModal from "./modals/ColorModal";
import { showToast, showDeleteConfirmation } from "../utils/toast";
import { getImgPath } from "../utils/path";
import AddButton from "./partials/AddButton";
import EditButton from "./partials/EditButton";
import DeleteButton from "./partials/DeleteButton";
export default {
  components: {
    ColorModal,
    AddButton,
    EditButton,
    DeleteButton,
  },
  data() {
    return {
      addColorDialog: false,
      editMode: false,
      editColor: {},
    };
  },
  methods: {
    deleteItem(color) {
      showDeleteConfirmation().then((result) => {
        if (result.value) {
          this.$store
            .dispatch("color/deleteColor", color)
            .then((res) => {
              showToast("success", "Color Deleted.");
            })
            .catch((e) => {
              showToast("warning", "Deletion Failed");
            });
        }
      });
    },
    editItem(color) {
      this.editMode = true;
      this.editColor = color;
      this.openDialog();
    },
    openDialog() {
      this.addColorDialog = true;
    },
    closeDialog() {
      this.addColorDialog = false;
      this.editMode = false;
    },
  },
  computed: {
    ...mapGetters({ colors: "color/colors" }),
  },
};
</script>

<style scoped>
tr {
  cursor: pointer;
}
</style>