<template>
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/admin" class="text-decoration-none"
            >Dashboard</router-link
          >
        </li>
        <li class="breadcrumb-item active" aria-current="page">Coupons</li>
      </ol>
    </nav>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Coupons</h3>

        <div class="card-tools">
          <template>
            <AddButton @click="openDialog" />
            <CouponModal
              :visible="addCouponDialog"
              @closeCouponDialog="closeDialog()"
              :editMode="editMode"
              :editCoupon="editCoupon"
            />
          </template>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body p-0">
        <table
          class="table table-condensed table-hover"
          v-if="this.coupons.length > 0"
        >
          <thead>
            <tr>
              <th>#</th>
              <th>Code</th>
              <th>Type</th>
              <th>Amount</th>
              <th>Limit</th>
              <th>Left</th>
              <th>Expiry Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(coupon, index) in this.coupons"
              :key="index"
              @click="editItem(coupon)"
            >
              <td>{{ index + 1 }}</td>
              <td>
                <span style="font-weight: bold">{{ coupon.code }}</span>
              </td>
              <td>
                <span v-if="coupon.type == 0">Fixed Cart Discount</span>
                <span v-else>Percentage Discount</span>
              </td>
              <td>
                <span v-if="coupon.type == 0">Rs.{{ coupon.amount }}</span>
                <span v-else>{{ coupon.amount }}%</span>
              </td>
              <td>{{ coupon.limit }}</td>
              <td>{{ coupon.limit - coupon.used }}</td>
              <td>{{ coupon.expiry }}</td>
              <td @click.stop="">
                <v-btn icon @click="deleteItem(coupon)">
                  <v-icon color="red">mdi-trash-can-outline</v-icon>
                </v-btn>
              </td>
            </tr>
          </tbody>
        </table>
        <span v-else>
          <div class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">No Coupons available.</h5>
            </div>
            <p class="mb-1">
              Click <a @click="openDialog">Add New</a> to add coupon.
            </p>
          </div>
        </span>
      </div>
    </div>
  </div>
</template>


<script>
import { mapGetters } from "vuex";
import Swal from "sweetalert2";
import CouponModal from "./modals/CouponModal";
import { showToast, showDeleteConfirmation } from "../utils/toast";
import { getImgPath } from "../utils/path";
import AddButton from "./partials/AddButton";
import EditButton from "./partials/EditButton";
import DeleteButton from "./partials/DeleteButton";
export default {
  components: {
    CouponModal,
    AddButton,
    EditButton,
    DeleteButton,
  },
  data() {
    return {
      addCouponDialog: false,
      editMode: false,
      editCoupon: {},
    };
  },
  methods: {
    imgPath: getImgPath,
    deleteItem(coupon) {
      showDeleteConfirmation().then((result) => {
        if (result.value) {
          this.$store
            .dispatch("coupon/deleteCoupon", coupon)
            .then((res) => {
              showToast("success", "Coupon Deleted.");
            })
            .catch((e) => {
              showToast("warning", "Deletion Failed");
            });
        }
      });
    },
    editItem(coupon) {
      this.editMode = true;
      this.editCoupon = coupon;
      this.openDialog();
    },
    openDialog() {
      this.addCouponDialog = true;
    },
    closeDialog() {
      this.addCouponDialog = false;
      this.editMode = false;
    },
  },
  computed: {
    ...mapGetters({ coupons: "coupon/coupons" }),
  },
};
</script>

<style scoped>
tr {
  cursor: pointer;
}
</style>