<template>
  <div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div
          class="card"
          style="
            min-height: 300px;
            background: transparent;
            border-color: #acacac;
            border-radius: 0px;
          "
        >
          <div class="card-body">
            <div class="card-title">
              <div class="row">
                <div class="col pb-0">
                  <h4 class="text-uppercase font-weight-bold">Messages</h4>
                </div>
                <div class="col text-right pb-0">
                  <i class="fas fa-comment-alt"></i>
                </div>
              </div>
              <div v-if="recentMessage != ''">
                <p style="font-size: 13px">
                  Last Message: {{ recentMessage.created_at | formatDate }}
                </p>
                <h6>{{ recentMessage.name }} says</h6>
                <div
                  style="background-color: #c4c4c4; height: 100px"
                  class="pa-2"
                >
                  <p
                    style="
                      font-size: 14px;
                      overflow: hidden;
                      display: -webkit-box;
                      -webkit-line-clamp: 4;
                      -webkit-box-orient: vertical;
                    "
                  >
                    {{ recentMessage.message }}
                  </p>
                </div>
                <div class="text-center mt-2">
                  <v-btn
                    tile
                    depressed
                    color="yellow text-capitalize custombutton"
                    to="/admin/messages"
                    class="text-decoration-none"
                    >Reply</v-btn
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div
          class="card"
          style="
            min-height: 300px;
            background: transparent;
            border-color: #acacac;
            border-radius: 0px;
          "
        >
          <div class="card-body">
            <div class="card-title">
              <div class="row">
                <div class="col pb-0">
                  <h4 class="text-uppercase font-weight-bold">Orders</h4>
                </div>
                <div class="col text-right pb-0">
                  <i class="fas fa-bell"></i>
                </div>
              </div>
              <div v-if="this.orders.length > 0">
                <p style="font-size: 13px">
                  {{ this.orders[0].created_at | formatDate }}
                </p>
                <h6>
                  {{ this.orders[0].firstname.toUpperCase() }}
                  {{ this.orders[0].lastname.toUpperCase() }}
                </h6>
                <div>
                  <p style="font-size: 13px; margin: 0">
                    {{ this.orders[0].phone }}
                  </p>
                  <p style="font-size: 13px; margin: 0">
                    {{ this.orders[0].address }}
                  </p>
                  <p style="font-size: 13px; margin: 0">
                    {{ this.orders[0].email }}
                  </p>
                </div>
                <div
                  class="row"
                  v-for="(order, index) in this.orders[0].order_products"
                  :key="index"
                >
                  <div class="col-md-6 py-0">
                    <p style="font-size: 12px; margin: 0; font-weight: bold">
                      {{ order.quantity }} x {{ order.name }}
                    </p>
                  </div>
                  <div class="col-md-3 py-0">
                    <p style="font-size: 12px; margin: 0; font-weight: bold">
                      <v-avatar :color="order.color" size="12"></v-avatar>
                    </p>
                  </div>
                  <div class="col-md-3 py-0">
                    <p style="font-size: 12px; margin: 0; font-weight: bold">
                      Rs: {{ order.price }}
                    </p>
                  </div>
                </div>

                <div class="text-center mt-2">
                  <v-btn
                    tile
                    depressed
                    color="yellow text-capitalize custombutton"
                    @click="$router.push('/admin/orders')"
                    >View</v-btn
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">
        <div
          class="card"
          style="
            min-height: 300px;
            background: transparent;
            border-color: #acacac;
            border-radius: 0px;
          "
        >
          <div class="card-body">
            <div class="card-title">
              <div class="row">
                <div class="col pb-0">
                  <h4 class="text-uppercase font-weight-bold">Promo code</h4>
                </div>
                <div class="col text-right pb-0">
                  <i class="fas fa-ticket-alt"></i>
                </div>
              </div>

              <p style="font-size: 13px">
                Last Used: {{ recentProduct.created_at | formatDate }}
              </p>
              <div v-if="recentCoupon != ''">
                <p style="font-size: 13px">Active Promo Code</p>
                <h4 class="font-weight-bold mt-4">{{ recentCoupon.code }}</h4>

                <div class="row">
                  <div class="col-md-4" style="font-size: 14px">
                    Used: {{ recentCoupon.used }}
                  </div>
                  <div class="col-md-8" style="font-size: 14px">
                    Remaining: {{ recentCoupon.limit - recentCoupon.used }}
                  </div>
                </div>
              </div>

              <div class="text-center mt-2">
                <template>
                  <v-btn
                    tile
                    depressed
                    color="yellow"
                    class="mb-2 text-capitalize custombutton"
                    @click.stop="openDialog('coupon')"
                    >Create New</v-btn
                  >

                  <CouponModal
                    :visible="addCouponDialog"
                    @closeCouponDialog="closeDialog('coupon')"
                    :editMode="editMode"
                    :editCoupon="editCoupon"
                  />
                </template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div
          class="card"
          style="
            min-height: 285px;
            background: transparent;
            border-color: #acacac;
            border-radius: 0px;
          "
        >
          <div class="card-body">
            <div class="card-title">
              <h4 class="text-uppercase font-weight-bold">Product</h4>
              <p style="font-size: 13px">
                Last Entry: {{ recentProduct.created_at | formatDate }}
              </p>

              <div v-if="recentProduct != ''">
                <div class="card mb-3">
                  <div class="row no-gutters">
                    <div class="col-md-4">
                      <div v-if="recentProduct.photos.length > 0">
                        <img
                          :src="`/img/products/${recentProduct.photos[0].photo}`"
                          class="card-img"
                          style="max-height: 300px"
                        />
                      </div>
                      <div v-else>
                        <img
                          src="/img/profile.png"
                          class="card-img"
                          style="max-height: 300px"
                        />
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title" style="font-weight: 800">
                          {{ recentProduct.brand.name.toUpperCase() }} -
                          {{ recentProduct.name }}
                        </h5>
                        <p
                          class="card-text"
                          style="font-size: 16px; font-weight: 300"
                        >
                          {{ recentProduct.short_description }}
                        </p>
                        <v-chip
                          v-for="(tag, index) in recentProduct.tags"
                          :key="index"
                          class="mx-1"
                        >
                          {{ tag.name }}
                        </v-chip>
                        <p class="card-text">
                          <small class="text-muted"
                            >Last updated
                            {{ recentProduct.updated_at | formatTime }}
                          </small>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center mt-2">
                <v-btn
                  tile
                  depressed
                  color="yellow"
                  class="mb-2 text-capitalize custombutton"
                  @click="$router.push('/admin/products/add')"
                  >Add Another Product</v-btn
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div
          class="card"
          style="
            min-height: 285px;
            background: transparent;
            border-color: #acacac;
            border-radius: 0px;
          "
        >
          <div class="card-body">
            <div class="card-title">
              <h4 class="text-uppercase font-weight-bold">Blog</h4>
              <p style="font-size: 13px">
                Last Entry: {{ recentBlog.created_at | formatDate }}
              </p>

              <div v-if="recentBlog != ''">
                <div class="card mb-3">
                  <div class="row no-gutters">
                    <div class="col-md-4">
                      <div v-if="recentBlog.photos.length > 0">
                        <img
                          :src="`/img/blog/${recentBlog.photos[0].photo}`"
                          class="card-img"
                          style="max-height: 300px"
                        />
                      </div>
                      <div v-else>
                        <img
                          src="/img/profile.png"
                          class="card-img"
                          style="max-height: 300px"
                        />
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title" style="font-weight: 800">
                          {{ recentBlog.title }}
                        </h5>

                        <p
                          v-html="recentBlog.description"
                          style="
                            display: -webkit-box;
                            -webkit-line-clamp: 4;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            font-weight: 300;
                            font-size: 16px;
                          "
                        ></p>
                        <v-chip
                          v-for="(tag, index) in recentBlog.tags"
                          :key="index"
                          class="mx-1"
                        >
                          {{ tag.name }}
                        </v-chip>

                        <p class="card-text">
                          <small class="text-muted"
                            >Last updated
                            {{ recentBlog.updated_at | formatTime }}
                          </small>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="text-center mt-2">
                <v-btn
                  tile
                  depressed
                  color="yellow text-capitalize custombutton"
                  @click="$router.push('/admin/blogs/add')"
                  >Add Another Post</v-btn
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment-timezone";
import CouponModal from "./modals/CouponModal";
import _ from "lodash";
import { mapGetters } from "vuex";
import { getImgPath } from "../utils/path";

export default {
  name: "Dashboard",
  components: {
    CouponModal,
  },
  head() {
    return { title: "Dashboard" };
  },
  data() {
    return {
      addBlogDialog: false,
      addProductDialog: false,
      addCouponDialog: false,
      editMode: false,
      editBlog: {},
      editProduct: {},
      editCoupon: {},
      queries: [
        {
          title: "aerodynamic",
          query: 5,
        },
        {
          title: "bike",
          query: 52,
        },
        {
          title: "bicycle",
          query: 24,
        },
        {
          title: "black helmet",
          query: 13,
        },
        {
          title: "crossfire mask",
          query: 2,
        },
        {
          title: "cross country",
          query: 5,
        },
        {
          title: "cycling gloves",
          query: 25,
        },
      ],
    };
  },
  methods: {
    imgPath: getImgPath,
    openDialog(type) {
      if (type == "product") {
        this.addProductDialog = true;
      } else if (type == "coupon") {
        this.addCouponDialog = true;
      } else {
        this.addBlogDialog = true;
      }
    },
    closeDialog(type) {
      if (type == "product") {
        this.addProductDialog = false;
        this.editMode = false;
      } else if (type == "coupon") {
        this.addCouponDialog = false;
        this.editMode = false;
      } else {
        this.addBlogDialog = false;
        this.editMode = false;
      }
    },
  },
  computed: {
    ...mapGetters({
      messages: "message/messages",
      blogs: "blog/blogs",
      coupons: "coupon/coupons",
      products: "product/products",
      orders: "order/orders",
    }),

    recentCoupon: function () {
      if (this.coupons.length > 0) {
        const sortedCoupons = _.orderBy(this.coupons, ["id"], ["desc"]);
        const latestCoupon = sortedCoupons.slice(0, 1)[0];
        return latestCoupon;
      } else {
        return "";
      }
    },
    recentMessage: function () {
      if (this.messages.length > 0) {
        const sortedMessages = _.orderBy(this.messages, ["id"], ["desc"]);
        const latestMessage = sortedMessages.slice(0, 1)[0];
        return latestMessage;
      } else {
        return "";
      }
    },
    recentProduct: function () {
      if (this.products.data != undefined) {
        const sortedProducts = _.orderBy(this.products.data, ["id"], ["desc"]);
        console.log(sortedProducts);
        const latestProduct = sortedProducts.slice(0, 1)[0];
        console.log(latestProduct);
        return latestProduct;
      } else {
        return "";
      }
    },
    recentBlog: function () {
      if (this.blogs.length > 0) {
        const sortedBlogs = _.orderBy(this.blogs, ["id"], ["desc"]);
        const latestBlog = sortedBlogs.slice(0, 1)[0];
        console.log(latestBlog);
        return latestBlog;
      } else {
        return "";
      }
    },
    countMessages: function () {
      const unreadMsg = this.allMessages.filter((msg) => msg.status == 0);
      return unreadMsg.length;
    },
  },
  filters: {
    formatDate: function (date) {
      return moment(date)
        .tz("Asia/Kathmandu")
        .format("h:mm A, MMM Do dddd YYYY");
    },
    formatTime: function (date) {
      return moment(date).tz("Asia/Kathmandu").startOf("day").fromNow();
    },
  },
};
</script>


<style scoped>
.card-title {
  float: none !important;
}
</style>