<template>
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/admin" class="text-decoration-none"
            >Dashboard</router-link
          >
        </li>
        <li class="breadcrumb-item active" aria-current="page">Dealers</li>
      </ol>
    </nav>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Dealer</h3>

        <div class="card-tools">
          <template>
            <AddButton @click="openDialog" />
            <DealerModal
              :visible="addDealerDialog"
              @closeDealerDialog="closeDialog()"
              :editMode="editMode"
              :editDealer="editDealer"
            />
          </template>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body p-0">
        <table
          class="table table-condensed table-hover"
          v-if="this.dealers.length > 0"
        >
          <thead>
            <tr>
              <th>#</th>
              <th>Title</th>
              <th>Location</th>
              <th>Logo</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(dealer, index) in this.dealers"
              :key="index"
              @click="editItem(dealer)"
            >
              <td>{{ index + 1 }}</td>
              <td>{{ dealer.name }}</td>
              <td>{{ dealer.location }}</td>
              <td>
                <v-avatar size="50">
                  <v-img :src="imgPath('dealers', dealer.logo)"></v-img>
                </v-avatar>
              </td>
              <td @click.stop="">
                <v-btn icon @click="deleteItem(dealer)">
                  <v-icon color="red">mdi-trash-can-outline</v-icon>
                </v-btn>
              </td>
            </tr>
          </tbody>
        </table>
        <span v-else>
          <div class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">No Dealer available.</h5>
            </div>
            <p class="mb-1">
              Click
              <a @click="openDialog">Add New</a> to add dealer.
            </p>
          </div>
        </span>
      </div>
    </div>
  </div>
</template>


<script>
import { mapGetters } from "vuex";
import Swal from "sweetalert2";
import DealerModal from "./modals/DealerModal";
import { showToast, showDeleteConfirmation } from "../utils/toast";
import { getImgPath } from "../utils/path";
import AddButton from "./partials/AddButton";
import EditButton from "./partials/EditButton";
import DeleteButton from "./partials/DeleteButton";
export default {
  components: {
    DealerModal,
    AddButton,
    EditButton,
    DeleteButton,
  },
  data() {
    return {
      addDealerDialog: false,
      editMode: false,
      editDealer: {},
    };
  },
  created() {
    this.$store.dispatch("dealer/fetchDealers");
  },
  methods: {
    imgPath: getImgPath,
    deleteItem(notice) {
      showDeleteConfirmation().then((result) => {
        if (result.value) {
          this.$store
            .dispatch("dealer/deleteDealer", notice)
            .then((res) => {
              showToast("success", "Dealer Deleted.");
            })
            .catch((e) => {
              showToast("warning", "Deletion Failed");
            });
        }
      });
    },
    editItem(notice) {
      this.editMode = true;
      this.editDealer = notice;
      this.openDialog();
    },
    openDialog() {
      this.addDealerDialog = true;
    },
    closeDialog() {
      this.addDealerDialog = false;
      this.editMode = false;
    },
  },
  computed: {
    ...mapGetters({ dealers: "dealer/dealers" }),
  },
};
</script>

<style scoped>
tr {
  cursor: pointer;
}
</style>