<template>
  <div >
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/admin" class="text-decoration-none">Dashboard</router-link>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Developer</li>
      </ol>
    </nav>
    <passport-clients></passport-clients>
    <passport-authorized-clients></passport-authorized-clients>
    <passport-personal-access-tokens></passport-personal-access-tokens>
  </div>
</template>