<template>
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/admin" class="text-decoration-none">Dashboard</router-link>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Divisions</li>
      </ol>
    </nav>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Division</h3>

        <div class="card-tools">
          <template>
            <AddButton @click="openDialog" />
            <DivisionModal
              :visible="addDivisionDialog"
              @closeDivisionDialog="closeDialog()"
              :editMode="editMode"
              :editDivision="editDivision"
            />
          </template>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body p-0">
        <table class="table table-condensed table-hover" v-if="this.divisions.length>0">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Banner</th>
              <th>Highlight</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(division,index) in this.divisions" :key="index" @click="editItem(division)">
              <td >{{index+1}}</td>
              <td >{{division.name}}</td>
              <td >
                <v-avatar size="60" class="ma-1">
                  <v-img :src="imgPath('banners',division.banner)"></v-img>
                </v-avatar>
              </td>
              <td >
                <v-avatar size="60" class="ma-1">
                  <v-img :src="imgPath('highlights',division.highlight)"></v-img>
                </v-avatar>
              </td>
              <td @click.stop="">
                 <v-btn icon @click="deleteItem(division)">
                  <v-icon color="red">mdi-trash-can-outline</v-icon>
                </v-btn>
              </td>
            </tr>
          </tbody>
        </table>
        <span v-else>
          <div class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">No division available.</h5>
            </div>
            <p class="mb-1">
              Click
              <a @click="openDialog">Add New</a> to add division.
            </p>
          </div>
        </span>
      </div>
    </div>
  </div>
</template>


<script>
import { mapGetters } from "vuex";
import Swal from "sweetalert2";
import DivisionModal from "./modals/DivisionModal";
import { showToast, showDeleteConfirmation } from "../utils/toast";
import { getImgPath } from "../utils/path";
import AddButton from "./partials/AddButton";
import EditButton from "./partials/EditButton";
import DeleteButton from "./partials/DeleteButton";
export default {
  components: {
    DivisionModal,
    AddButton,
    EditButton,
    DeleteButton
  },
  data() {
    return {
      addDivisionDialog: false,
      editMode: false,
      editDivision: {}
    };
  },
  methods: {
    imgPath: getImgPath,
    deleteItem(division) {
      showDeleteConfirmation().then(result => {
        if (result.value) {
          this.$store
            .dispatch("division/deleteDivision", division)
            .then(res => {
              showToast("success", "Division Deleted.");
            })
            .catch(e => {
              showToast("warning", "Deletion Failed");
            });
        }
      });
    },
    editItem(division) {
      this.editMode = true;
      this.editDivision = division;
      this.openDialog();
    },
    openDialog() {
      this.addDivisionDialog = true;
    },
    closeDialog() {
      this.addDivisionDialog = false;
      this.editMode = false;
    }
  },
  computed: {
    ...mapGetters({ divisions: "division/divisions" })
  }
};
</script>

<style scoped>
tr{
  cursor: pointer;
}
</style>