<template>
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/admin" class="text-decoration-none"
            >Dashboard</router-link
          >
        </li>
        <li class="breadcrumb-item active" aria-current="page">Messages</li>
      </ol>
    </nav>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Messages</h3>

        <div class="card-tools">
          <template>
            <MessageModal
              :visible="addMessageDialog"
              @closeMessageDialog="closeDialog()"
              :editMode="editMode"
              :editMessage="editMessage"
            />
          </template>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body p-0">
        <v-data-table
          :headers="messageHeaders"
          :items="this.messages"
          :items-per-page="5"
          class="elevation-0 row-pointer"
          v-if="this.messages.length > 0"
          @click:row="editItem"
        >
          <template v-slot:item.id="{ item }">
            <span>{{
              messages
                .map(function (x) {
                  return x.id;
                })
                .indexOf(item.id) + 1
            }}</span>
          </template>

          <template v-slot:item.status="{ item }">
            <span v-if="item.status == 0">
              <v-chip color="green" text-color="white">New</v-chip>
            </span>
            <span v-else>
              <v-chip color="green" text-color="white">Replied</v-chip>
            </span>
          </template>

          <template v-slot:item.action="{ item }">
            <v-btn icon @click="deleteItem(item)"    @click.stop="">
              <v-icon color="red">mdi-trash-can-outline</v-icon>
            </v-btn>
          </template>
        </v-data-table>

        <span v-else>
          <div class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">No messages available.</h5>
            </div>
          </div>
        </span>
      </div>
    </div>
  </div>
</template>


<script>
import { mapGetters } from "vuex";
import MessageModal from "./modals/MessageModal";
import { showToast, showDeleteConfirmation } from "../utils/toast";
import { getImgPath } from "../utils/path";
import AddButton from "./partials/AddButton";
import EditButton from "./partials/EditButton";
import DeleteButton from "./partials/DeleteButton";
export default {
  components: {
    MessageModal,
    AddButton,
    EditButton,
    DeleteButton,
  },
  data() {
    return {
      addMessageDialog: false,
      editMode: false,
      editMessage: {},
      messageHeaders: [
        { text: "#", value: "id", class: "black--text" },
        { text: "Name", value: "name", class: "black--text" },
        { text: "Email", value: "email", class: "black--text" },
        { text: "Contact No", value: "contact_no", class: "black--text" },
        { text: "Status", value: "status", class: "black--text" },
        { text: "Action", value: "action", class: "black--text" },
      ],
    };
  },
  created() {
    this.$store.dispatch("message/fetchMessages");
  },
  methods: {
    imgPath: getImgPath,
    deleteItem(message) {
      showDeleteConfirmation().then((result) => {
        if (result.value) {
          this.$store
            .dispatch("message/deleteMessage", message)
            .then((res) => {
              showToast("success", "Message Deleted.");
            })
            .catch((e) => {
              showToast("warning", "Deletion Failed");
            });
        }
      });
    },
    editItem(message) {
      this.editMode = true;
      this.editMessage = message;
      this.openDialog();
    },
    openDialog() {
      this.addMessageDialog = true;
    },
    closeDialog() {
      this.addMessageDialog = false;
      this.editMode = false;
    },
  },
  computed: {
    ...mapGetters({ messages: "message/messages" }),
  },
};
</script>

<style lang="css" scoped>
.row-pointer >>> tbody tr :hover {
  cursor: pointer !important;
}
</style>