<template>
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/admin" class="text-decoration-none"
            >Dashboard</router-link
          >
        </li>
        <li class="breadcrumb-item active" aria-current="page">Notice</li>
      </ol>
    </nav>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Notice</h3>

        <div class="card-tools">
          <template>
            <AddButton @click="openDialog" />
            <NoticeModal
              :visible="addNoticeDialog"
              @closeNoticeDialog="closeDialog()"
              :editMode="editMode"
              :editNotice="editNotice"
            />
          </template>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body p-0">
        <table
          class="table table-condensed table-hover"
          v-if="this.notices.length > 0"
        >
          <thead>
            <tr>
              <th>#</th>
              <th>Title</th>
              <th>Photo</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(notice, index) in this.notices"
              :key="index"
              @click="editItem(notice)"
            >
              <td>{{ index + 1 }}</td>
              <td>{{ notice.title }}</td>
              <td>
                <v-avatar size="50">
                  <v-img :src="imgPath('notices', notice.photo)"></v-img>
                </v-avatar>
              </td>
              <td @click.stop="">
                <v-switch
                  v-if="notice.status == 1"
                  color="red"
                  value
                  @change="statusChanged($event, notice.id)"
                  input-value="true"
                ></v-switch>
                <v-switch
                  color="red"
                  @change="statusChanged($event, notice.id)"
                  v-else
                ></v-switch>
              </td>
              <td @click.stop="">
                <v-btn icon @click="deleteItem(notice)">
                  <v-icon color="red">mdi-trash-can-outline</v-icon>
                </v-btn>
              </td>
            </tr>
          </tbody>
        </table>
        <span v-else>
          <div class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">No Notice available.</h5>
            </div>
            <p class="mb-1">
              Click
              <a @click="openDialog">Add New</a> to add notice.
            </p>
          </div>
        </span>
      </div>
    </div>
  </div>
</template>


<script>
import { mapGetters, mapMutations } from "vuex";
import Swal from "sweetalert2";
import NoticeModal from "./modals/NoticeModal";
import { showToast, showDeleteConfirmation } from "../utils/toast";
import { getImgPath } from "../utils/path";
import AddButton from "./partials/AddButton";
import EditButton from "./partials/EditButton";
import DeleteButton from "./partials/DeleteButton";
export default {
  components: {
    NoticeModal,
    AddButton,
    EditButton,
    DeleteButton,
  },
  data() {
    return {
      addNoticeDialog: false,
      editMode: false,
      editNotice: {},
    };
  },
  created() {
    this.$store.dispatch("notice/fetchNotices");
  },
  methods: {
    ...mapMutations({
      editNoticeSuccess: "notice/MODIFY_NOTICE_SUCCESS",
    }),
    imgPath: getImgPath,
    deleteItem(notice) {
      showDeleteConfirmation().then((result) => {
        if (result.value) {
          this.$store
            .dispatch("notice/deleteNotice", notice)
            .then((res) => {
              showToast("success", "Notice Deleted.");
            })
            .catch((e) => {
              showToast("warning", "Deletion Failed");
            });
        }
      });
    },
    editItem(notice) {
      this.editMode = true;
      this.editNotice = notice;
      this.openDialog();
    },
    openDialog() {
      this.addNoticeDialog = true;
    },
    closeDialog() {
      this.addNoticeDialog = false;
      this.editMode = false;
    },
    statusChanged(value, id) {
      const data = {
        id: id,
        value: value,
      };
      this.$store.dispatch("notice/changeStatus", data).then((result) => {
        showToast("success", `Changed publish to ${value}`);
        this.editNoticeSuccess(result);
      });
    },
  },
  computed: {
    ...mapGetters({ notices: "notice/notices" }),
  },
};
</script>

<style scoped>
tr {
  cursor: pointer;
}
</style>