<template>
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/admin" class="text-decoration-none"
            >Dashboard</router-link
          >
        </li>
        <li class="breadcrumb-item active" aria-current="page">Orders</li>
      </ol>
    </nav>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Orders</h3>

        <div class="card-tools">
          <template>
            <v-btn outlined tile class="text-capitalize" small>
              <download-excel :data="this.getUserData">
                Export User Data
                <i class="fas fa-download"></i>
              </download-excel>
            </v-btn>
          </template>
        </div>
        <template>
          <OrderModal
            :visible="messageDialog"
            @closeMessageDialog="closeDialog()"
            :editMode="editMode"
            :editMessage="message"
          />
        </template>
      </div>
      <!-- /.card-header -->
      <div class="card-body p-0">
        <v-tabs left>
          <v-tab> Pending </v-tab>
          <v-tab> Ready To Ship </v-tab>
          <v-tab> Shipped </v-tab>
          <v-tab> Returned </v-tab>
          <v-tab> Delivered </v-tab>
          <v-tab> Cancel </v-tab>
          <v-spacer></v-spacer>
          <div>
            <v-text-field
              style="padding-right: 10px"
              v-model="searchRecent"
              prepend-icon="mdi-magnify"
              placeholder="Filter"
              dense
              hide-details
            ></v-text-field>
          </div>
         

          <v-tab-item>
            <v-data-table
              :headers="headers"
              :items="this.getPending"
              :search="searchRecent"
              @click:row="viewOrder"
              class="elevation-0 row-pointer"
            >
              <template v-slot:item.id="{ item }">
                <span>{{
                  getPending
                    .map(function (x) {
                      return x.id;
                    })
                    .indexOf(item.id) + 1
                }}</span>
              </template>
              <template v-slot:item.name="{ item }">
                <span class="text-capitalize"
                  >{{ item.firstname }} {{ item.lastname }}</span
                >
              </template>
              <template v-slot:item.email_sent="{ item }">
                <v-avatar
                  color="red"
                  size="20"
                  v-if="item.email_sent == 0"
                ></v-avatar>
              </template>
              <template v-slot:item.address="{ item }">
                <span class="text-capitalize">{{ item.address }}</span>
              </template>

              <template v-slot:item.phone="{ item }">
                <div
                  style="display: flex; flex-direction: column"
                  class="ma-0 pa-0"
                >
                  <span>{{ item.phone }}</span>
                  <span>{{ item.secondary_phone }}</span>
                </div>
              </template>

              <template v-slot:item.payment_method="{ item }">
                <span class="text-capitalize"> {{ item.payment_method }}</span>
              </template>

              <template v-slot:item.total="{ item }">
                <span
                  >Rs.<span style="font-weight: 600">{{
                    item.total
                  }}</span></span
                >
              </template>

              <template v-slot:item.status="{ item }">
                <v-select
                  @click.stop=""
                  style="width: 200px"
                  class="pt-2"
                  :items="statuses"
                  label="Status"
                  dense
                  :value="item.status"
                  outlined
                  @change="statusChanged($event, item.id)"
                ></v-select>
              </template>

              <template v-slot:item.created_at="{ item }">
                {{ item.created_at | formatDate }}
              </template>
              <template v-slot:item.action="{ item }">
                <v-menu
                  bottom
                  origin="center center"
                  transition="scale-transition"
                >
                  <template v-slot:activator="{ on }">
                    <v-btn color="grey" dark v-on="on" icon>
                      <i class="fas fa-ellipsis-v"></i>
                    </v-btn>
                  </template>

                  <v-list>
                    <v-list-item @click.stop="viewOrder(item)">
                      <v-list-item-title>View Order</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click.stop="sendEmail(item)">
                      <v-list-item-title>Send Email</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="deleteItem(item)">
                      <v-list-item-title>Delete</v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu>
              </template>
            </v-data-table>
          </v-tab-item>

          <v-tab-item>
            <v-data-table
              :headers="headers"
              :items="this.getReadyToShip"
              :search="searchRecent"
              @click:row="viewOrder"
              class="elevation-0 row-pointer"
            >
              <template v-slot:item.id="{ item }">
                <span>{{
                  getReadyToShip
                    .map(function (x) {
                      return x.id;
                    })
                    .indexOf(item.id) + 1
                }}</span>
              </template>
              <template v-slot:item.name="{ item }">
                <span class="text-capitalize"
                  >{{ item.firstname }} {{ item.lastname }}</span
                >
              </template>
              <template v-slot:item.email_sent="{ item }">
                <v-avatar
                  color="red"
                  size="20"
                  v-if="item.email_sent == 0"
                ></v-avatar>
              </template>
              <template v-slot:item.address="{ item }">
                <span class="text-capitalize">{{ item.address }}</span>
              </template>

              <template v-slot:item.phone="{ item }">
                <div
                  style="display: flex; flex-direction: column"
                  class="ma-0 pa-0"
                >
                  <span>{{ item.phone }}</span>
                  <span>{{ item.secondary_phone }}</span>
                </div>
              </template>

              <template v-slot:item.payment_method="{ item }">
                <span class="text-capitalize"> {{ item.payment_method }}</span>
              </template>

              <template v-slot:item.total="{ item }">
                <span
                  >Rs.<span style="font-weight: 600">{{
                    item.total
                  }}</span></span
                >
              </template>

              <template v-slot:item.status="{ item }">
                <v-select
                  @click.stop=""
                  style="width: 200px"
                  class="pt-2"
                  :items="statuses"
                  label="Status"
                  dense
                  :value="item.status"
                  outlined
                  @change="statusChanged($event, item.id)"
                ></v-select>
              </template>

              <template v-slot:item.created_at="{ item }">
                {{ item.created_at | formatDate }}
              </template>
              <template v-slot:item.action="{ item }">
                <v-menu
                  bottom
                  origin="center center"
                  transition="scale-transition"
                >
                  <template v-slot:activator="{ on }">
                    <v-btn color="grey" dark v-on="on" icon>
                      <i class="fas fa-ellipsis-v"></i>
                    </v-btn>
                  </template>

                  <v-list>
                    <v-list-item @click.stop="viewOrder(item)">
                      <v-list-item-title>View Order</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click.stop="sendEmail(item)">
                      <v-list-item-title>Send Email</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="deleteItem(item)">
                      <v-list-item-title>Delete</v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu>
              </template>
            </v-data-table>
          </v-tab-item>

          <v-tab-item>
            <v-data-table
              :headers="headers"
              :items="this.getShipped"
              :search="searchRecent"
              @click:row="viewOrder"
              class="elevation-0 row-pointer"
            >
              <template v-slot:item.id="{ item }">
                <span>{{
                  getShipped
                    .map(function (x) {
                      return x.id;
                    })
                    .indexOf(item.id) + 1
                }}</span>
              </template>
              <template v-slot:item.name="{ item }">
                <span class="text-capitalize"
                  >{{ item.firstname }} {{ item.lastname }}</span
                >
              </template>
              <template v-slot:item.email_sent="{ item }">
                <v-avatar
                  color="red"
                  size="20"
                  v-if="item.email_sent == 0"
                ></v-avatar>
              </template>
              <template v-slot:item.address="{ item }">
                <span class="text-capitalize">{{ item.address }}</span>
              </template>

              <template v-slot:item.phone="{ item }">
                <div
                  style="display: flex; flex-direction: column"
                  class="ma-0 pa-0"
                >
                  <span>{{ item.phone }}</span>
                  <span>{{ item.secondary_phone }}</span>
                </div>
              </template>

              <template v-slot:item.payment_method="{ item }">
                <span class="text-capitalize"> {{ item.payment_method }}</span>
              </template>

              <template v-slot:item.total="{ item }">
                <span
                  >Rs.<span style="font-weight: 600">{{
                    item.total
                  }}</span></span
                >
              </template>

              <template v-slot:item.status="{ item }">
                <v-select
                  @click.stop=""
                  style="width: 200px"
                  class="pt-2"
                  :items="statuses"
                  label="Status"
                  dense
                  :value="item.status"
                  outlined
                  @change="statusChanged($event, item.id)"
                ></v-select>
              </template>

              <template v-slot:item.created_at="{ item }">
                {{ item.created_at | formatDate }}
              </template>
              <template v-slot:item.action="{ item }">
                <v-menu
                  bottom
                  origin="center center"
                  transition="scale-transition"
                >
                  <template v-slot:activator="{ on }">
                    <v-btn color="grey" dark v-on="on" icon>
                      <i class="fas fa-ellipsis-v"></i>
                    </v-btn>
                  </template>

                  <v-list>
                    <v-list-item @click.stop="viewOrder(item)">
                      <v-list-item-title>View Order</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click.stop="sendEmail(item)">
                      <v-list-item-title>Send Email</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="deleteItem(item)">
                      <v-list-item-title>Delete</v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu>
              </template>
            </v-data-table>
          </v-tab-item>

          <v-tab-item>
            <v-data-table
              :headers="headers"
              :items="this.getRetured"
              :search="searchRecent"
              @click:row="viewOrder"
              class="elevation-0 row-pointer"
            >
              <template v-slot:item.id="{ item }">
                <span>{{
                  getRetured
                    .map(function (x) {
                      return x.id;
                    })
                    .indexOf(item.id) + 1
                }}</span>
              </template>
              <template v-slot:item.name="{ item }">
                <span class="text-capitalize"
                  >{{ item.firstname }} {{ item.lastname }}</span
                >
              </template>
              <template v-slot:item.email_sent="{ item }">
                <v-avatar
                  color="red"
                  size="20"
                  v-if="item.email_sent == 0"
                ></v-avatar>
              </template>
              <template v-slot:item.address="{ item }">
                <span class="text-capitalize">{{ item.address }}</span>
              </template>

              <template v-slot:item.phone="{ item }">
                <div
                  style="display: flex; flex-direction: column"
                  class="ma-0 pa-0"
                >
                  <span>{{ item.phone }}</span>
                  <span>{{ item.secondary_phone }}</span>
                </div>
              </template>

              <template v-slot:item.payment_method="{ item }">
                <span class="text-capitalize"> {{ item.payment_method }}</span>
              </template>

              <template v-slot:item.total="{ item }">
                <span
                  >Rs.<span style="font-weight: 600">{{
                    item.total
                  }}</span></span
                >
              </template>

              <template v-slot:item.status="{ item }">
                <v-select
                  @click.stop=""
                  style="width: 200px"
                  class="pt-2"
                  :items="statuses"
                  label="Status"
                  dense
                  :value="item.status"
                  outlined
                  @change="statusChanged($event, item.id)"
                ></v-select>
              </template>

              <template v-slot:item.created_at="{ item }">
                {{ item.created_at | formatDate }}
              </template>
              <template v-slot:item.action="{ item }">
                <v-menu
                  bottom
                  origin="center center"
                  transition="scale-transition"
                >
                  <template v-slot:activator="{ on }">
                    <v-btn color="grey" dark v-on="on" icon>
                      <i class="fas fa-ellipsis-v"></i>
                    </v-btn>
                  </template>

                  <v-list>
                    <v-list-item @click.stop="viewOrder(item)">
                      <v-list-item-title>View Order</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click.stop="sendEmail(item)">
                      <v-list-item-title>Send Email</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="deleteItem(item)">
                      <v-list-item-title>Delete</v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu>
              </template>
            </v-data-table>
          </v-tab-item>

          <v-tab-item>
            <v-data-table
              :headers="headers"
              :items="this.getDelivered"
              :search="searchRecent"
              @click:row="viewOrder"
              class="elevation-0 row-pointer"
            >
              <template v-slot:item.id="{ item }">
                <span>{{
                  getDelivered
                    .map(function (x) {
                      return x.id;
                    })
                    .indexOf(item.id) + 1
                }}</span>
              </template>
              <template v-slot:item.name="{ item }">
                <span class="text-capitalize"
                  >{{ item.firstname }} {{ item.lastname }}</span
                >
              </template>

              <template v-slot:item.address="{ item }">
                <span class="text-capitalize">{{ item.address }}</span>
              </template>
              <template v-slot:item.email_sent="{ item }">
                <v-avatar
                  color="red"
                  size="20"
                  v-if="item.email_sent == 0"
                ></v-avatar>
              </template>
              <template v-slot:item.phone="{ item }">
                <div
                  style="display: flex; flex-direction: column"
                  class="ma-0 pa-0"
                >
                  <span>{{ item.phone }}</span>
                  <span>{{ item.secondary_phone }}</span>
                </div>
              </template>

              <template v-slot:item.payment_method="{ item }">
                <span class="text-capitalize"> {{ item.payment_method }}</span>
              </template>

              <template v-slot:item.total="{ item }">
                <span
                  >Rs.<span style="font-weight: 600">{{
                    item.total
                  }}</span></span
                >
              </template>

              <template v-slot:item.status="{ item }">
                <v-select
                  @click.stop=""
                  style="width: 200px"
                  class="pt-2"
                  :items="statuses"
                  label="Status"
                  dense
                  :value="item.status"
                  outlined
                  @change="statusChanged($event, item.id)"
                ></v-select>
              </template>

              <template v-slot:item.created_at="{ item }">
                {{ item.created_at | formatDate }}
              </template>
              <template v-slot:item.action="{ item }">
                <v-menu
                  bottom
                  origin="center center"
                  transition="scale-transition"
                >
                  <template v-slot:activator="{ on }">
                    <v-btn color="grey" dark v-on="on" icon>
                      <i class="fas fa-ellipsis-v"></i>
                    </v-btn>
                  </template>

                  <v-list>
                    <v-list-item @click.stop="viewOrder(item)">
                      <v-list-item-title>View Order</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click.stop="sendEmail(item)">
                      <v-list-item-title>Send Email</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="deleteItem(item)">
                      <v-list-item-title>Delete</v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu>
              </template>
            </v-data-table>
          </v-tab-item>

          <v-tab-item>
            <v-data-table
              :headers="headers"
              :items="this.getCancel"
              :search="searchRecent"
              @click:row="viewOrder"
              class="elevation-0 row-pointer"
            >
              <template v-slot:item.id="{ item }">
                <span>{{
                  getCancel
                    .map(function (x) {
                      return x.id;
                    })
                    .indexOf(item.id) + 1
                }}</span>
              </template>
              <template v-slot:item.name="{ item }">
                <span class="text-capitalize"
                  >{{ item.firstname }} {{ item.lastname }}</span
                >
              </template>

              <template v-slot:item.address="{ item }">
                <span class="text-capitalize">{{ item.address }}</span>
              </template>
              <template v-slot:item.email_sent="{ item }">
                <v-avatar
                  color="red"
                  size="20"
                  v-if="item.email_sent == 0"
                ></v-avatar>
              </template>
              <template v-slot:item.phone="{ item }">
                <div
                  style="display: flex; flex-direction: column"
                  class="ma-0 pa-0"
                >
                  <span>{{ item.phone }}</span>
                  <span>{{ item.secondary_phone }}</span>
                </div>
              </template>

              <template v-slot:item.payment_method="{ item }">
                <span class="text-capitalize"> {{ item.payment_method }}</span>
              </template>

              <template v-slot:item.total="{ item }">
                <span
                  >Rs.<span style="font-weight: 600">{{
                    item.total
                  }}</span></span
                >
              </template>

              <template v-slot:item.status="{ item }">
                <v-select
                  @click.stop=""
                  style="width: 200px"
                  class="pt-2"
                  :items="statuses"
                  label="Status"
                  dense
                  :value="item.status"
                  outlined
                  @change="statusChanged($event, item.id)"
                ></v-select>
              </template>

              <template v-slot:item.created_at="{ item }">
                {{ item.created_at | formatDate }}
              </template>
              <template v-slot:item.action="{ item }">
                <v-menu
                  bottom
                  origin="center center"
                  transition="scale-transition"
                >
                  <template v-slot:activator="{ on }">
                    <v-btn color="grey" dark v-on="on" icon>
                      <i class="fas fa-ellipsis-v"></i>
                    </v-btn>
                  </template>

                  <v-list>
                    <v-list-item @click.stop="viewOrder(item)">
                      <v-list-item-title>View Order</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click.stop="sendEmail(item)">
                      <v-list-item-title>Send Email</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="deleteItem(item)">
                      <v-list-item-title>Delete</v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu>
              </template>
            </v-data-table>
          </v-tab-item>
        </v-tabs>
      </div>
    </div>
  </div>
</template>


<script>
import { mapGetters } from "vuex";
import moment from "moment";
import OrderModal from "./modals/OrderModal";
import _ from "lodash";
import { showToast, showDeleteConfirmation,showEmailConfirmation } from "../utils/toast";
import DeleteButton from "./partials/DeleteButton";
export default {
  components: {
    OrderModal,
    DeleteButton,
  },
  data() {
    return {
      messageDialog: false,
      editMode: false,
      message: {},
      searchRecent: "",
      statuses: [
        "Ready to ship",
        "Pending",
        "Shipped",
        "Returned",
        "Cancel",
        "Delivered",
      ],
      status: "",
      headers: [
        { text: "#", value: "id", class: "black--text" },
        { text: "Order No.", value: "order_no", class: "black--text" },
        { text: "Name", value: "name", class: "black--text" },
        { text: "Shipping Address", value: "address", class: "black--text" },
        { text: "Contact", value: "phone", class: "black--text" },
        { text: "Payment", value: "payment_method", class: "black--text" },
        { text: "Total", value: "total", class: "black--text" },
        { text: "Status", value: "status", class: "black--text" },
        { text: "Ordered At", value: "created_at", class: "black--text" },
        { text: "", value: "email_sent", class: "black--text" },
        { text: "Action", value: "action", class: "black--text" },
      ],
    };
  },
  methods: {
    viewOrder(message) {
      this.message = message;
      this.editMode = true;
      this.messageDialog = true;
    },
    closeDialog() {
      this.editMode = false;
      this.messageDialog = false;
    },
    sendEmail(order) {
      showEmailConfirmation().then((result) => {
        if (result.value) {
          const rawData={
            status:order.status,
            id:order.order_no
          }
      
          this.$store
            .dispatch("order/sendEmail", rawData)
            .then((res) => {
              showToast("success", "Email Sent.");
            })
            .catch((e) => {
              showToast("warning", "Failed to send email");
            });
        }
      });
    },
    deleteItem(item) {
      showDeleteConfirmation().then((result) => {
        if (result.value) {
          this.$store
            .dispatch("order/deleteOrder", item)
            .then((res) => {
              showToast("success", "Order Deleted.");
            })
            .catch((e) => {
              showToast("warning", "Deletion Failed");
            });
        }
      });
    },
    statusChanged(status, id) {
      const data = {
        id: id,
        status: status,
      };
      this.$store.dispatch("order/changeStatus", data).then((result) => {
        showToast("success", "Status Changed Successfully");
      });
    },
    archiveOrder(id, value) {
      const data = {
        id: id,
        archived: value,
      };
      this.$store.dispatch("order/archiveOrder", data).then((result) => {
        showToast("success", "Order Archived Successfully");
      });
    },
  },
  computed: {
    ...mapGetters({ allOrders: "order/orders" }),
    getReadyToShip: function () {
      if (this.allOrders.length > 0) {
        return this.allOrders.filter(
          (order) => order.status == "Ready to ship"
        );
      } else {
        return [];
      }
    },
    getPending: function () {
      if (this.allOrders.length > 0) {
        return this.allOrders.filter((order) => order.status == "Pending");
      } else {
        return [];
      }
    },
    getShipped: function () {
      if (this.allOrders.length > 0) {
        return this.allOrders.filter((order) => order.status == "Shipped");
      } else {
        return [];
      }
    },
    getRetured: function () {
      if (this.allOrders.length > 0) {
        return this.allOrders.filter((order) => order.status == "Returned");
      } else {
        return [];
      }
    },
    getCancel: function () {
      if (this.allOrders.length > 0) {
        return this.allOrders.filter((order) => order.status == "Cancel");
      } else {
        return [];
      }
    },
    getDelivered: function () {
      if (this.allOrders.length > 0) {
        return this.allOrders.filter((order) => order.status == "Delivered");
      } else {
        return [];
      }
    },
    getUserData: function () {
      if (this.allOrders.length > 0) {
        return this.allOrders.map((order) => {
          return {
            Order_no: order.order_no,
            Name: order.firstname + " " + order.lastname,
            Address: order.address,
            Contact: order.phone,
            Secondary_contact: order.secondary_phone,
            Email: order.email,
          };
        });
      } else {
        return [];
      }
    },
  },
  filters: {
    formatDate: function (date) {
      return moment(date).format("L");
    },
  },
};
</script>


<style lang="css" scoped>
.row-pointer >>> tbody tr :hover {
  cursor: pointer !important;
}
</style>