<template>
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/admin" class="text-decoration-none">Dashboard</router-link>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Pages</li>
      </ol>
    </nav>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Pages</h3>

        <div class="card-tools">
          <template>
            <AddButton @click="openDialog" />
            <PageModal
              :visible="addPageDialog"
              @closePageDialog="closeDialog()"
              :editMode="editMode"
              :editPage="editPage"
            />
          </template>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body p-0">
        <table class="table table-condensed table-hover" v-if="this.pages.length>0">
          <thead>
            <tr>
              <th>#</th>
              <th>Page Title</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(page,index) in this.pages" :key="index" @click="editItem(page)">
              <td >{{index+1}}</td>
              <td >{{page.title}}</td>
              <td @click.stop="">
                 <v-btn icon @click="deleteItem(page)">
                  <v-icon color="red">mdi-trash-can-outline</v-icon>
                </v-btn>
              </td>
            </tr>
          </tbody>
        </table>
        <span v-else>
          <div class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">No page available.</h5>
            </div>
            <p class="mb-1">
              Click
              <a @click="openDialog">Add New</a> to add page.
            </p>
          </div>
        </span>
      </div>
    </div>
  </div>
</template>


<script>
import { mapGetters } from "vuex";
import Swal from "sweetalert2";
import PageModal from "./modals/PageModal";
import { showToast, showDeleteConfirmation } from "../utils/toast";
import { getImgPath } from "../utils/path";
import AddButton from "./partials/AddButton";
import EditButton from "./partials/EditButton";
import DeleteButton from "./partials/DeleteButton";
export default {
  components: {
    PageModal,
    AddButton,
    EditButton,
    DeleteButton
  },
  data() {
    return {
      addPageDialog: false,
      editMode: false,
      editPage: {}
    };
  },
  methods: {
    imgPath: getImgPath,
    deleteItem(page) {
      showDeleteConfirmation().then(result => {
        if (result.value) {
          this.$store
            .dispatch("page/deletePage", page)
            .then(res => {
              showToast("success", "Page Deleted.");
            })
            .catch(e => {
              showToast("warning", "Deletion Failed");
            });
        }
      });
    },
    editItem(page) {
      this.editMode = true;
      this.editPage = page;
      this.openDialog();
    },
    openDialog() {
      this.addPageDialog = true;
    },
    closeDialog() {
      this.addPageDialog = false;
      this.editMode = false;
    }
  },
  computed: {
    ...mapGetters({ pages: "page/pages" })
  }
};
</script>

<style scoped>
tr{
  cursor: pointer;
}
</style>