<template>
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/admin" class="text-decoration-none">Dashboard</router-link>
        </li>
        <li class="breadcrumb-item active" aria-current="page">ProductCategory</li>
      </ol>
    </nav>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Product Categories</h3>

        <div class="card-tools">
          <template>
            <AddButton @click="openDialog" />
            <ProductCategoryModal
              :visible="productCategoryDialog"
              @closeCategoryDialog="closeDialog()"
              :editMode="editMode"
              :editCategory="editCategory"
            />
          </template>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body p-0">
        <table class="table table-condensed table-hover" v-if="this.productCategories.length>0">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(productCategory,index) in this.productCategories" :key="index" @click="editItem(productCategory)">
              <td>{{index+1}}</td>
              <td>{{productCategory.name}}</td>
              <td @click.stop="">
                 <v-btn icon @click="deleteItem(productCategory)">
                  <v-icon color="red">mdi-trash-can-outline</v-icon>
                </v-btn>
              </td>
            </tr>
          </tbody>
        </table>
        <span v-else>
          <div class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">No product category available.</h5>
            </div>
            <p class="mb-1">
              Click
              <a @click="openDialog">Add New</a> to add product category.
            </p>
          </div>
        </span>
      </div>
    </div>
  </div>
</template>


<script>
import { mapGetters } from "vuex";
import Swal from "sweetalert2";
import ProductCategoryModal from "./modals/ProductCategoryModal";
import { showToast, showDeleteConfirmation } from "../utils/toast";
import { getImgPath } from "../utils/path";
import AddButton from "./partials/AddButton";
import EditButton from "./partials/EditButton";
import DeleteButton from "./partials/DeleteButton";
export default {
  components: {
    ProductCategoryModal,
    AddButton,
    EditButton,
    DeleteButton
  },
  data() {
    return {
      productCategoryDialog: false,
      editMode: false,
      editCategory: {}
    };
  },
  methods: {
    deleteItem(productCategory) {
      showDeleteConfirmation().then(result => {
        if (result.value) {
          this.$store
            .dispatch("productcategory/deleteProductCategory", productCategory)
            .then(res => {
              showToast("success", "Product Category has been deleted");
            })
            .catch(e => {
              showToast("warning", "Deletion Failed");
            });
        }
      });
    },
    editItem(category) {
      this.editMode = true;
      this.editCategory = category;
      this.openDialog();
    },
    openDialog() {
      this.productCategoryDialog = true;
    },
    closeDialog() {
      this.productCategoryDialog = false;
      this.editMode = false;
    }
  },
  computed: {
    ...mapGetters({ productCategories: "productcategory/productCategories" })
  }
};
</script>

<style scoped>
tr{
  cursor: pointer;
}
</style>