<template>
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/admin" class="text-decoration-none"
            >Dashboard</router-link
          >
        </li>
        <li class="breadcrumb-item active" aria-current="page">Products</li>
      </ol>
    </nav>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Products</h3>

        <div class="card-tools">
          <input
            v-model="searchRecent"
            placeholder="Search"
            style="
              width: 250px;
              height: 30px;
              border: 1px solid grey;
              padding: 8px;
            "
          />
          <template>
            <AddButton @click="$router.push('/admin/products/add')" />
            <template>
              <ProductColorMap
                :visible="addProductColorDialog"
                @closeProductColorDialog="closeColorMapDialog()"
                :editProduct="editColorMapProduct"
              />
            </template>
          </template>
        </div>
      </div>
      <div class="card-body p-0">
        <v-data-table
          :headers="headers"
          :items="this.products"
          item-key="id"
          show-expand
          :single-expand="true"
          :search="searchRecent"
          class="elevation-0 row-pointer mytable"
        >
          <template v-slot:item.id="{ item }">
            <span>{{
              products
                .map(function (x) {
                  return x.id;
                })
                .indexOf(item.id) + 1
            }}</span>
          </template>

          <template v-slot:item.image="{ item }">
            <span v-for="(photo, index) in item.photos" :key="index">
              <v-avatar size="45" v-if="index < 1">
                <img :src="imgPath('products', photo.photo)" />
              </v-avatar>
            </span>
          </template>
          <template v-slot:item.price="{ item }">
            <span
              style="
                display: flex;
                justify-content: center;
                align-items: center;
              "
            >
              <span>Rs.</span>
              <input
                type="number"
                :value="item.price"
                @keyup.enter="changePrice($event, item.id)"
                style="
                  width: 90px;
                  height: 35px;
                  border: 1px solid grey;
                  padding: 5px;
                "
              />
            </span>
          </template>
          <template v-slot:item.sale_price="{ item }">
            <input
              type="number"
              :value="item.sale_price"
              @keyup.enter="changeSalePercentage($event, item.id)"
              style="
                width: 70px;
                height: 35px;
                border: 1px solid grey;
                padding: 5px;
              "
            />
          </template>
          <template v-slot:item.size="{ item }">
            <div style="display: flex; flex-direction: column">
              <span v-for="(size, index) in item.sizes" :key="index">
                <span>{{ size.name }}</span> -
                <span>{{ size.pivot.stock }}</span>
              </span>
            </div>
          </template>
          <template v-slot:item.sale="{ item }">
            <v-switch
              v-if="item.sale == 1"
              color="orange"
              value
              @change="saleChanged($event, item.id)"
              input-value="true"
            ></v-switch>
            <v-switch
              v-else
              @change="saleChanged($event, item.id)"
              color="orange"
            ></v-switch>
          </template>
          <template v-slot:item.featured="{ item }">
            <v-switch
              v-if="item.featured == 1"
              color="orange"
              value
              @change="featuredChanged($event, item.id)"
              input-value="true"
            ></v-switch>
            <v-switch
              v-else
              @change="featuredChanged($event, item.id)"
              color="orange"
            ></v-switch>
          </template>
          <template v-slot:item.is_highlighted="{ item }">
            <v-switch
              v-if="item.is_highlighted == 1"
              color="indigo"
              value
              @change="parallexChanged($event, item.id)"
              input-value="true"
            ></v-switch>
            <v-switch
              v-else
              color="indigo"
              @change="parallexChanged($event, item.id)"
            ></v-switch>
          </template>
          <template v-slot:item.published="{ item }">
            <v-switch
              v-if="item.published == 1"
              color="red"
              value
              @change="publishChanged($event, item.id)"
              input-value="true"
            ></v-switch>
            <v-switch
              color="red"
              @change="publishChanged($event, item.id)"
              v-else
            ></v-switch>
          </template>
          <template v-slot:item.action="{ item }" class="elevation-0">
            <div style="display: flex">
              <v-btn icon @click="$router.push(`/admin/products/${item.id}`)">
                <v-icon color="green">mdi-pencil-box</v-icon>
              </v-btn>
              <v-btn icon @click="deleteItem(item)">
                <v-icon color="red">mdi-trash-can-outline</v-icon>
              </v-btn>
            </div>
          </template>
          <template #expanded-item="{ headers, item }">
            <td :colspan="headers.length">
              <div
                style="
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                "
              >
                <h6>Variants:</h6>
                <AddButton
                  class="my-2"
                  @click="
                    $router.push(`/admin/products/${item.id}/variants/add`)
                  "
                />
              </div>
              <div v-if="item.variants.length > 0">
                <v-simple-table>
                  <template v-slot:default>
                    <thead>
                      <tr>
                        <th class="text-left">#</th>
                        <th class="text-left">Color</th>
                        <th class="text-left">Img</th>
                        <th class="text-left">Price</th>
                        <th class="text-left">Sale(%)</th>
                        <th class="text-left">Size/Qty</th>
                        <th class="text-left">Sale</th>
                        <th class="text-left">Parallex</th>
                        <th class="text-left">Published</th>
                        <th class="text-left">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        v-for="(variant, index) in item.variants"
                        :key="index"
                      >
                        <td>{{ index + 1 }}</td>
                        <td>
                          <v-avatar
                            size="25"
                            :color="variant.color.hex"
                          ></v-avatar>
                          {{ variant.color.name }}
                        </td>
                        <td>
                          <span
                            v-for="(photo, index) in variant.photos"
                            :key="index"
                          >
                            <v-avatar size="45" v-if="index < 1">
                              <img :src="imgPath('products', photo.photo)" />
                            </v-avatar>
                          </span>
                        </td>
                        <td>
                          <span>Rs.</span>
                          <input
                            type="number"
                            :value="variant.price"
                            @keyup.enter="
                              changePrice($event, variant.id, 'variant')
                            "
                            style="
                              width: 90px;
                              height: 35px;
                              border: 1px solid grey;
                              padding: 5px;
                            "
                          />
                        </td>
                        <td>
                          <input
                            type="number"
                            :value="variant.sale_price"
                            @keyup.enter="
                              changeSalePercentage(
                                $event,
                                variant.id,
                                'variant'
                              )
                            "
                            style="
                              width: 60px;
                              height: 35px;
                              border: 1px solid grey;
                              padding: 5px;
                            "
                          />
                        </td>
                        <td>
                          <div style="display: flex; flex-direction: column">
                            <span
                              v-for="(size, index) in variant.sizes"
                              :key="index"
                            >
                              <span>{{ size.name }}</span> -
                              <span>{{ size.pivot.stock }}</span>
                            </span>
                          </div>
                        </td>
                        <td>
                          <v-switch
                            v-if="variant.sale == 1"
                            color="orange"
                            value
                            @change="saleChanged($event, variant.id, 'variant')"
                            input-value="true"
                          ></v-switch>
                          <v-switch
                            v-else
                            @change="saleChanged($event, variant.id, 'variant')"
                            color="orange"
                          ></v-switch>
                        </td>
                        <td>
                          <v-switch
                            v-if="variant.is_highlighted == 1"
                            color="indigo"
                            value
                            @change="
                              parallexChanged($event, variant.id, 'variant')
                            "
                            input-value="true"
                          ></v-switch>
                          <v-switch
                            v-else
                            color="indigo"
                            @change="
                              parallexChanged($event, variant.id, 'variant')
                            "
                          ></v-switch>
                        </td>
                        <td>
                          <v-switch
                            v-if="variant.published == 1"
                            color="red"
                            value
                            @change="
                              publishChanged($event, variant.id, 'variant')
                            "
                            input-value="true"
                          ></v-switch>
                          <v-switch
                            color="red"
                            @change="
                              publishChanged($event, variant.id, 'variant')
                            "
                            v-else
                          ></v-switch>
                        </td>

                        <td>
                          <v-btn
                            icon
                            @click="
                              $router.push(
                                `/admin/products/${item.id}/variants/${variant.id}`
                              )
                            "
                          >
                            <v-icon color="green">mdi-pencil-box</v-icon>
                          </v-btn>
                          <v-btn icon @click="deleteVariant(variant)">
                            <v-icon color="red">mdi-trash-can-outline</v-icon>
                          </v-btn>
                        </td>
                      </tr>
                    </tbody>
                  </template>
                </v-simple-table>
              </div>
            </td>
          </template>
        </v-data-table>
      </div>
    </div>
  </div>
</template>


<script>
import { mapGetters, mapMutations } from "vuex";
import ProductColorMap from "./modals/ProductColorMap";
import { showToast, showDeleteConfirmation } from "../utils/toast";
import { getImgPath } from "../utils/path";
import AddButton from "./partials/AddButton";
import EditButton from "./partials/EditButton";
import DeleteButton from "./partials/DeleteButton";
export default {
  components: {
    ProductColorMap,
    AddButton,
    EditButton,
    DeleteButton,
  },
  data() {
    return {
      editMode: false,
      addProductColorDialog: false,
      search: "",
      editColorMapProduct: {},
      searchRecent: "",
      expanded: [],
      singleExpand: true,
      headers: [
        { text: "#", value: "id", class: "black--text" },
        {
          text: "Brand",
          value: "brand.name",
          class: "black--text",
        },
        { text: "Model", value: "name", class: "black--text" },
        { text: "Img", value: "image", class: "black--text" },
        { text: "Price", value: "price", class: "black--text" },
        { text: "Sale(%)", value: "sale_price", class: "black--text" },
        { text: "Size/Qty", value: "size", class: "black--text" },
        { text: "Sale", value: "sale", class: "black--text" },
        { text: "Featured", value: "featured", class: "black--text" },
        { text: "Parallex", value: "is_highlighted", class: "black--text" },
        { text: "Published", value: "published", class: "black--text" },
        { text: "Action", value: "action", class: "black--text" },
      ],
    };
  },
  created() {
    this.getResults();
  },
  methods: {
    ...mapMutations({
      editProductSuccess: "product/EDIT_PRODUCT_SUCCESS",
      editVariantSuccess: "product/EDIT_VARIANT_SUCCESS",
    }),
    imgPath: getImgPath,
    goToEdit(product) {
      this.$router.push(`/admin/products/${product.id}`);
    },
    getResults() {
      this.$store.dispatch("product/fetchProducts");
    },
    parallexChanged(value, id, type) {
      const data = {
        id: id,
        value: value,
      };
      if (type == "variant") {
        this.$store
          .dispatch("product/changeVariantParallex", data)
          .then((result) => {
            showToast(
              "success",
              value == true
                ? "Product Variant is added to parallex"
                : "Product Variant removed from parallex"
            );
            this.editVariantSuccess(result);
          });
      } else {
        this.$store.dispatch("product/changeParallex", data).then((result) => {
          showToast(
            "success",
            value == true
              ? "Product is added to parallex"
              : "Product removed from parallex"
          );
          this.editProductSuccess(result);
        });
      }
    },
    publishChanged(value, id, type) {
      const data = {
        id: id,
        value: value,
      };
      if (type == "variant") {
        this.$store
          .dispatch("product/changeVariantPublished", data)
          .then((result) => {
            showToast(
              "success",
              value == true
                ? "Product Variant is published"
                : "Product Variant removed from published"
            );
            this.editVariantSuccess(result);
          });
      } else {
        this.$store.dispatch("product/changePublished", data).then((result) => {
          showToast(
            "success",
            value == true
              ? "Product is published"
              : "Product removed from published"
          );
          this.editProductSuccess(result);
        });
      }
    },
    saleChanged(value, id, type) {
      const data = {
        id: id,
        value: value,
      };
      if (type == "variant") {
        this.$store
          .dispatch("product/changeVariantSale", data)
          .then((result) => {
            showToast(
              "success",
              value == true
                ? "Product Variant is on sale"
                : "Product Variant is removed from sale"
            );
            this.editVariantSuccess(result);
          });
      } else {
        this.$store.dispatch("product/changeSale", data).then((result) => {
          showToast(
            "success",
            value == true
              ? "Product is on sale"
              : "Product is removed from sale"
          );
          this.editProductSuccess(result);
        });
      }
    },
    featuredChanged(value, id) {
      const data = {
        id: id,
        value: value,
      };
      this.$store.dispatch("product/changeFeatured", data).then((result) => {
        showToast(
          "success",
          value == true
            ? "Product is featured"
            : "Product is removed from featured"
        );
        this.editProductSuccess(result);
      });
    },
    changePrice(event, id, type) {
      const data = {
        id: id,
        value: event.target.value,
      };
      if (type == "variant") {
        this.$store
          .dispatch("product/changeVariantPrice", data)
          .then((result) => {
            showToast(
              "success",
              `Changed Variant Price to Rs. ${event.target.value}`
            );
            this.editVariantSuccess(result);
          });
      } else {
        this.$store.dispatch("product/changePrice", data).then((result) => {
          showToast("success", `Changed Price to Rs. ${event.target.value}`);
          this.editProductSuccess(result);
        });
      }
    },
    changeSalePercentage(event, id, type) {
      const data = {
        id: id,
        value: event.target.value,
      };
      if (type) {
        this.$store
          .dispatch("product/changeVariantSalePercentage", data)
          .then((result) => {
            showToast(
              "success",
              `Changed variant sale percentage to ${event.target.value}%`
            );
            this.editVariantSuccess(result);
          });
      } else {
        this.$store
          .dispatch("product/changeSalePercentage", data)
          .then((result) => {
            showToast(
              "success",
              `Changed Sale Percentage to ${event.target.value}%`
            );
            this.editProductSuccess(result);
          });
      }
    },
    deleteItem(product) {
      showDeleteConfirmation().then((result) => {
        if (result.value) {
          this.$store
            .dispatch("product/deleteProduct", product)
            .then((res) => {
              showToast("success", "Product Deleted.");
            })
            .catch((e) => {
              showToast("warning", "Product Deletion Failed");
            });
        }
      });
    },
    deleteVariant(variant) {
      showDeleteConfirmation().then((result) => {
        if (result.value) {
          this.$store
            .dispatch("product/deleteVariant", variant.id)
            .then((res) => {
              showToast("success", "Variant Deleted.");
            })
            .catch((e) => {
              showToast("warning", "Varaint Deletion Failed");
            });
        }
      });
    },
  },
  computed: {
    ...mapGetters({ products: "product/products" }),
  },
};
</script>


<style lang="css" scoped>
input:focus {
  outline: none;
  background: white;
}
</style>