<template>
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/admin" class="text-decoration-none"
            >Dashboard</router-link
          >
        </li>
        <li class="breadcrumb-item active" aria-current="page">Reviews</li>
      </ol>
    </nav>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Reviews</h3>
            <div class="card-tools">
              <template>
                <v-btn outlined tile class="text-capitalize" small>
                  <download-excel :data="this.exportData">
                    Excel Export
                    <i class="fas fa-download"></i>
                  </download-excel>
                </v-btn>
              </template>
            </div>
          </div>

          <!-- /.card-header -->
          <div class="card-body p-0">
            <v-data-table
              :headers="reviewHeaders"
              :items="this.reviews"
              :items-per-page="10"
              class="elevation-0 row-pointer"
            >
              <template v-slot:item.id="{ item }">
                <span>{{
                  reviews
                    .map(function (x) {
                      return x.id;
                    })
                    .indexOf(item.id) + 1
                }}</span>
              </template>
              <template v-slot:item.img="{ item }">
                <span
                  v-for="(photo, index) in item.product.photos"
                  :key="index"
                >
                  <v-avatar size="45" v-if="index < 1">
                    <img :src="imgPath('products', photo.photo)" />
                  </v-avatar>
                </span>
              </template>
              <template v-slot:item.score="{ item }">
                <span v-for="index in 5" :key="index">
                  <span class="fa fa-star checked" v-if="index<=item.score"></span>
                  <span class="fa fa-star unchecked" v-else></span>
                </span>
              </template>
              <template v-slot:item.action="{ item }">
                <v-btn icon @click="deleteItem(item)">
                  <v-icon color="red">mdi-trash-can-outline</v-icon>
                </v-btn>
              </template>
            </v-data-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import { mapGetters } from "vuex";
import moment from "moment";
import UserModal from "./modals/UserModal";
import { showToast, showDeleteConfirmation } from "../utils/toast";
import AddButton from "./partials/AddButton";
import EditButton from "./partials/EditButton";
import DeleteButton from "./partials/DeleteButton";
import { getImgPath } from "../utils/path";
export default {
  components: {
    UserModal,
    AddButton,
    EditButton,
    DeleteButton,
  },
  data() {
    return {
      addFormDialog: false,
      editMode: false,
      editUser: {},
      reviewHeaders: [
        { text: "#", value: "id", class: "black--text" },
        { text: "Img", value: "img", class: "black--text" },
        { text: "Model", value: "product.name", class: "black--text" },
        { text: "Name", value: "name", class: "black--text" },
        { text: "Email", value: "email", class: "black--text" },
        { text: "Rating", value: "score", class: "black--text",width:"120" },
        { text: "Review", value: "review", class: "black--text",width:"500" },
        { text: "Action", value: "action", class: "black--text" },
      ],
    };
  },
  created() {
    this.$store.dispatch("review/fetchReviews");
  },
  methods: {
    imgPath: getImgPath,
    deleteItem(review) {
      showDeleteConfirmation().then((result) => {
        if (result.value) {
          this.$store
            .dispatch("review/deleteReview", review)
            .then((res) => {
              showToast("success", "Review Deleted");
            })
            .catch((e) => {
              showToast("warning", "Deletion Failed");
            });
        }
      });
    },
  },
  computed: {
    ...mapGetters({
      reviews: "review/reviews",
    }),
    exportData:function(){
      if(this.reviews.length>0){
        return this.reviews.map(review=>{return {
          Name:review.name,
          Email:review.email
        }})
      }
    }
  },
  filters: {
    formatDate: function (date) {
      return moment(date).format("MMMM Do YYYY");
    },
  },
};
</script>

<style scoped>
tr {
  cursor: pointer;
}
.checked {
  color: orange;
}
.unchecked{
  color:rgb(235, 232, 232);
}
</style>

