<template>
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/admin" class="text-decoration-none"
            >Dashboard</router-link
          >
        </li>
        <li class="breadcrumb-item active" aria-current="page">Settings</li>
      </ol>
    </nav>
    <div class="card">
      <!-- /.card-header -->
      <div class="card-body">
        <h6>Parallax Title Text</h6>
        <div style="display: flex">
          <v-text-field
            placeholder="Title Text"
            v-model="rawData.title"
            outlined
            required
            v-on:keyup.enter="updateSettings('title')"
            dense
            class="font-weight-light"
          ></v-text-field>
          <v-btn
            icon
            color="red"
            style="margin-left: 10px"
            @click="updateSettings('title')"
          >
            <v-icon>mdi-check</v-icon>
          </v-btn>
        </div>

        <hr />
        <h6>Parallax Info Text</h6>
        <div style="display: flex">
          <v-text-field
            placeholder="Info Text"
            v-model="rawData.info"
            outlined
            required
            v-on:keyup.enter="updateSettings('info')"
            dense
            class="font-weight-light"
          ></v-text-field>
          <v-btn
            icon
            color="red"
            style="margin-left: 10px"
            @click="updateSettings('info')"
          >
            <v-icon>mdi-check</v-icon>
          </v-btn>
        </div>
        <hr />
        <h6>Email</h6>
        <div style="display: flex">
          <v-text-field
            placeholder="Email"
            v-model="rawData.email"
            outlined
            required
            v-on:keyup.enter="updateSettings('email')"
            dense
            class="font-weight-light"
          ></v-text-field>
          <v-btn
            icon
            color="red"
            style="margin-left: 10px"
            @click="updateSettings('email')"
          >
            <v-icon>mdi-check</v-icon>
          </v-btn>
        </div>
        <hr />
        <h6>Contact No</h6>
        <div style="display: flex">
          <v-text-field
            placeholder="Contact No"
            v-model="rawData.contactno"
            outlined
            required
            v-on:keyup.enter="updateSettings('contactno')"
            dense
            class="font-weight-light"
          ></v-text-field>
          <v-btn
            icon
            color="red"
            style="margin-left: 10px"
            @click="updateSettings('contactno')"
          >
            <v-icon>mdi-check</v-icon>
          </v-btn>
        </div>
        <hr />
        <h6>Secondary Contact No</h6>
        <div style="display: flex">
          <v-text-field
            placeholder="Secondary Contact No"
            outlined
            v-model="rawData.secondarycontactno"
            v-on:keyup.enter="updateSettings('secondarycontactno')"
            required
            dense
            class="font-weight-light"
          ></v-text-field>
          <v-btn
            icon
            color="red"
            style="margin-left: 10px"
            @click="updateSettings('secondarycontactno')"
          >
            <v-icon>mdi-check</v-icon>
          </v-btn>
        </div>
        <hr />
        <h6>Address(Google Map Link)</h6>
        <div style="display: flex">
          <v-text-field
            placeholder="Location"
            outlined
            v-on:keyup.enter="updateSettings('address')"
            v-model="rawData.address"
            required
            dense
            class="font-weight-light"
          ></v-text-field>
          <v-btn
            icon
            color="red"
            style="margin-left: 10px"
            @click="updateSettings('address')"
          >
            <v-icon>mdi-check</v-icon>
          </v-btn>
        </div>
        <hr />
        <h6>Facebook Link</h6>
        <div style="display: flex">
          <v-text-field
            placeholder="Facebook Link"
            outlined
            v-model="rawData.fb_link"
            v-on:keyup.enter="updateSettings('fb_link')"
            required
            dense
            class="font-weight-light"
          ></v-text-field>
          <v-btn
            icon
            color="red"
            style="margin-left: 10px"
            @click="updateSettings('fb_link')"
          >
            <v-icon>mdi-check</v-icon>
          </v-btn>
        </div>
        <hr />
        <h6>Instagram Link</h6>
        <div style="display: flex">
          <v-text-field
            placeholder="Instagram Link"
            outlined
            v-on:keyup.enter="updateSettings('insta_link')"
            v-model="rawData.insta_link"
            required
            dense
            class="font-weight-light"
          ></v-text-field>
          <v-btn
            icon
            color="red"
            style="margin-left: 10px"
            @click="updateSettings('insta_link')"
          >
            <v-icon>mdi-check</v-icon>
          </v-btn>
        </div>
        <hr />
        <h6>Youtube Link</h6>
        <div style="display: flex">
          <v-text-field
            placeholder="Youtube Link"
            outlined
            v-model="rawData.youtube_link"
            v-on:keyup.enter="updateSettings('youtube_link')"
            required
            dense
            class="font-weight-light"
          ></v-text-field>
          <v-btn
            icon
            color="red"
            style="margin-left: 10px"
            @click="updateSettings('youtube_link')"
          >
            <v-icon>mdi-check</v-icon>
          </v-btn>
        </div>
        <hr />
        <h6>Survey Link</h6>
        <div style="display: flex">
          <v-text-field
            placeholder="Survey Link"
            outlined
            v-model="rawData.survey_link"
            required
            v-on:keyup.enter="updateSettings('survey_link')"
            dense
            class="font-weight-light"
          ></v-text-field>
          <v-btn
            icon
            color="red"
            style="margin-left: 10px"
            @click="updateSettings('survey_link')"
          >
            <v-icon>mdi-check</v-icon>
          </v-btn>
        </div>
        <hr />
        <h6>Book My Ride Text</h6>
        <div style="display: flex">
          <v-text-field
            placeholder="Survey Link"
            outlined
            v-model="rawData.book_my_ride"
            required
            v-on:keyup.enter="updateSettings('book_my_ride')"
            dense
            class="font-weight-light"
          ></v-text-field>
          <v-btn
            icon
            color="red"
            style="margin-left: 10px"
            @click="updateSettings('book_my_ride')"
          >
            <v-icon>mdi-check</v-icon>
          </v-btn>
        </div>
        <hr />
        <h6>Survey Text</h6>
        <div style="display: flex">
          <v-text-field
            placeholder="Survey Text"
            outlined
            v-model="rawData.survey_text"
            required
            v-on:keyup.enter="updateSettings('survey_text')"
            dense
            class="font-weight-light"
          ></v-text-field>
          <v-btn
            icon
            color="red"
            style="margin-left: 10px"
            @click="updateSettings('survey_text')"
          >
            <v-icon>mdi-check</v-icon>
          </v-btn>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import { mapGetters, mapMutations } from "vuex";
import { showToast, showDeleteConfirmation } from "../utils/toast";
export default {
  data() {
    return {
      rawData: {
        title: "",
        info: "",
        email: "",
        contactno: "",
        secondarycontactno: "",
        address: "",
        fb_link: "",
        insta_link: "",
        youtube_link: "",
        survey_link: "",
        book_my_ride: "",
        survey_text: "",
      },
    };
  },
  async created() {
    await this.$store.dispatch("setting/fetchSettings");
    this.rawData.title =
      this.settings.filter((set) => set.key == "title").length > 0
        ? this.settings.filter((set) => set.key == "title")[0].value
        : "";
    this.rawData.info =
      this.settings.filter((set) => set.key == "info").length > 0
        ? this.settings.filter((set) => set.key == "info")[0].value
        : "";
    this.rawData.email =
      this.settings.filter((set) => set.key == "email").length > 0
        ? this.settings.filter((set) => set.key == "email")[0].value
        : "";
    this.rawData.contactno =
      this.settings.filter((set) => set.key == "contactno").length > 0
        ? this.settings.filter((set) => set.key == "contactno")[0].value
        : "";
    this.rawData.secondarycontactno =
      this.settings.filter((set) => set.key == "secondarycontactno").length > 0
        ? this.settings.filter((set) => set.key == "secondarycontactno")[0]
            .value
        : "";
    this.rawData.address =
      this.settings.filter((set) => set.key == "address").length > 0
        ? this.settings.filter((set) => set.key == "address")[0].value
        : "";
    this.rawData.fb_link =
      this.settings.filter((set) => set.key == "fb_link").length > 0
        ? this.settings.filter((set) => set.key == "fb_link")[0].value
        : "";
    this.rawData.insta_link =
      this.settings.filter((set) => set.key == "insta_link").length > 0
        ? this.settings.filter((set) => set.key == "insta_link")[0].value
        : "";
    this.rawData.youtube_link =
      this.settings.filter((set) => set.key == "youtube_link").length > 0
        ? this.settings.filter((set) => set.key == "youtube_link")[0].value
        : "";
    this.rawData.survey_link =
      this.settings.filter((set) => set.key == "survey_link").length > 0
        ? this.settings.filter((set) => set.key == "survey_link")[0].value
        : "";
    this.rawData.book_my_ride =
      this.settings.filter((set) => set.key == "book_my_ride").length > 0
        ? this.settings.filter((set) => set.key == "book_my_ride")[0].value
        : "";
    this.rawData.survey_text =
      this.settings.filter((set) => set.key == "survey_text").length > 0
        ? this.settings.filter((set) => set.key == "survey_text")[0].value
        : "";
  },

  methods: {
    ...mapMutations({
      settingUpdatedSuccess: "setting/EDIT_SETTING_SUCCESS",
    }),
    updateSettings(key) {
      const rawData = {
        key: key,
        value: this.rawData[key],
      };

      this.$store
        .dispatch("setting/modifySetting", rawData)
        .then((res) => {
          this.settingUpdatedSuccess(res);
          showToast("success", "Settings updated.");
        })
        .catch((e) => {
          showToast("warning", "Settings Update Failed");
        });
    },
  },
  computed: {
    ...mapGetters({ settings: "setting/settings" }),
  },
};
</script>

<style scoped>
hr {
  margin-top: 1px;
}
</style>