<template>
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/admin" class="text-decoration-none"
            >Dashboard</router-link
          >
        </li>
        <li class="breadcrumb-item active" aria-current="page">Shipping</li>
      </ol>
    </nav>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Shipping</h3>

        <div class="card-tools">
          <template>
            <AddButton @click="openDialog" />
            <ShippingModal
              :visible="addShippingDialog"
              @closeShippingDialog="closeDialog()"
              :editMode="editMode"
              :editShipping="editShipping"
            />
          </template>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body p-0">
        <table
          class="table table-condensed table-hover"
          v-if="this.shippings.length > 0"
        >
          <thead>
            <tr>
              <th>#</th>
              <th>Province</th>
              <th>Rate</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(shipping, index) in this.shippings"
              :key="index"
              @click="editItem(shipping)"
            >
              <td>{{ index + 1 }}</td>
              <td>{{ shipping.address }}</td>
              <td>Rs. {{ shipping.amount }}</td>
              <td @click.stop="">
                <v-switch
                  class="ma-0"
                  v-if="shipping.status == 1"
                  color="orange"
                  value
                  @change="statusChanged($event, shipping.id)"
                  input-value="true"
                ></v-switch>
                <v-switch
                  class="ma-0"
                  v-else
                  @change="statusChanged($event, shipping.id)"
                  color="orange"
                ></v-switch>
              </td>
              <td @click.stop="">
                <v-btn icon @click="deleteItem(shipping)">
                  <v-icon color="red">mdi-trash-can-outline</v-icon>
                </v-btn>
              </td>
            </tr>
          </tbody>
        </table>
        <span v-else>
          <div class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">No Shipping info available.</h5>
            </div>
            <p class="mb-1">
              Click
              <a @click="openDialog">Add New</a> to add Shipping.
            </p>
          </div>
        </span>
      </div>
    </div>
  </div>
</template>


<script>
import { mapGetters, mapMutations } from "vuex";
import ShippingModal from "./modals/ShippingModal";
import { showToast, showDeleteConfirmation } from "../utils/toast";
import { getImgPath } from "../utils/path";
import AddButton from "./partials/AddButton";
import EditButton from "./partials/EditButton";
import DeleteButton from "./partials/DeleteButton";
export default {
  components: {
    ShippingModal,
    AddButton,
    EditButton,
    DeleteButton,
  },
  data() {
    return {
      addShippingDialog: false,
      editMode: false,
      editShipping: {},
    };
  },
  created() {
    this.$store.dispatch("shipping/fetchShippings");
  },
  methods: {
    imgPath: getImgPath,
    ...mapMutations({
      editShippingSuccess: "shipping/EDIT_SHIPPING_SUCCESS",
    }),
    deleteItem(notice) {
      showDeleteConfirmation().then((result) => {
        if (result.value) {
          this.$store
            .dispatch("shipping/deleteShipping", notice)
            .then((res) => {
              showToast("success", "Shipping Deleted.");
            })
            .catch((e) => {
              showToast("warning", "Deletion Failed");
            });
        }
      });
    },
    statusChanged(value, id) {
      const data = {
        id: id,
        value: value,
      };

      this.$store.dispatch("shipping/changeStatus", data).then((result) => {
        showToast("success", `Changed shipping status to ${value}`);
        this.editShippingSuccess(result);
      });
    },
    editItem(notice) {
      this.editMode = true;
      this.editShipping = notice;
      this.openDialog();
    },
    openDialog() {
      this.addShippingDialog = true;
    },
    closeDialog() {
      this.addShippingDialog = false;
      this.editMode = false;
    },
  },
  computed: {
    ...mapGetters({ shippings: "shipping/shippings" }),
  },
};
</script>

<style scoped>
tr {
  cursor: pointer;
}
</style>