<template>
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/admin" class="text-decoration-none"
            >Dashboard</router-link
          >
        </li>
        <li class="breadcrumb-item active" aria-current="page">Sizes</li>
      </ol>
    </nav>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Sizes</h3>

        <div class="card-tools">
          <template>
            <AddButton @click="openDialog" />
            <SizeModal
              :visible="addSizeDialog"
              @closeSizeDialog="closeDialog()"
              :editMode="editMode"
              :editSize="editSize"
            />
          </template>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body p-0">
        <table
          class="table table-condensed table-hover"
          v-if="this.sizes.length > 0"
        >
          <thead>
            <tr>
              <th>#</th>
              <th>Size Name</th>
              <th>Size</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(size, index) in this.sizes"
              :key="index"
              @click="editItem(size)"
            >
              <td>{{ index + 1 }}</td>
              <td>{{ size.group }}</td>
              <td>
                <div class="row">
                  <div
                    v-for="(s, index) of size.sizes"
                    :key="index"
                    class="pa-1"
                  >
                    <v-chip>{{ s.name }}</v-chip>
                  </div>
                </div>
              </td>
              <td @click.stop="">
                <v-btn icon @click="deleteItem(size)">
                  <v-icon color="red">mdi-trash-can-outline</v-icon>
                </v-btn>
              </td>
            </tr>
          </tbody>
        </table>
        <span v-else>
          <div class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">No size available.</h5>
            </div>
            <p class="mb-1">
              Click
              <a @click="openDialog">Add New</a> to add size.
            </p>
          </div>
        </span>
      </div>
    </div>
  </div>
</template>


<script>
import { mapGetters } from "vuex";
import Swal from "sweetalert2";
import SizeModal from "./modals/SizeModal";
import { showToast, showDeleteConfirmation } from "../utils/toast";
import { getImgPath } from "../utils/path";
import AddButton from "./partials/AddButton";
import EditButton from "./partials/EditButton";
import DeleteButton from "./partials/DeleteButton";
export default {
  components: {
    SizeModal,
    AddButton,
    EditButton,
    DeleteButton,
  },
  data() {
    return {
      addSizeDialog: false,
      editMode: false,
      editSize: {},
    };
  },
  methods: {
    imgPath: getImgPath,
    deleteItem(size) {
      showDeleteConfirmation().then((result) => {
        if (result.value) {
          this.$store
            .dispatch("size/deleteSize", size)
            .then((res) => {
              showToast("success", "Size Deleted.");
            })
            .catch((e) => {
              showToast("warning", "Deletion Failed");
            });
        }
      });
    },
    editItem(coupon) {
      this.editMode = true;
      this.editSize = coupon;
      this.openDialog();
    },
    openDialog() {
      this.addSizeDialog = true;
    },
    closeDialog() {
      this.addSizeDialog = false;
      this.editMode = false;
    },
  },
  computed: {
    ...mapGetters({ sizes: "size/sizes" }),
  },
};
</script>

<style scoped>
tr {
  cursor: pointer;
}
</style>