<template>
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/admin" class="text-decoration-none"
            >Dashboard</router-link
          >
        </li>
        <li class="breadcrumb-item active" aria-current="page">Subscribers</li>
      </ol>
    </nav>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Subscribers</h3>
            <div class="card-tools">
              <template>
                <v-btn outlined tile class="text-capitalize" small>
                  <download-excel :data="getExportData">
                    Excel Export
                    <i class="fas fa-download"></i>
                  </download-excel>
                </v-btn>
              </template>
            </div>
          </div>

          <!-- /.card-header -->
          <div class="card-body p-0">
            <v-data-table
              :headers="subscriberHeaders"
              :items="this.subscribers"
              :items-per-page="15"
              class="elevation-0 row-pointer"
            >
              <template v-slot:item.id="{ item }">
                <span>{{
                  subscribers
                    .map(function (x) {
                      return x.id;
                    })
                    .indexOf(item.id) + 1
                }}</span>
              </template>
              <template v-slot:item.created_at="{ item }">
                {{ item.created_at | formatDate }}
              </template>
              <template v-slot:item.action="{ item }">
                <v-btn icon @click="deleteSubscriber(item)">
                  <v-icon color="red">mdi-trash-can-outline</v-icon>
                </v-btn>
              </template>
            </v-data-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import { mapGetters } from "vuex";
import Swal from "sweetalert2";
import moment from "moment";
import UserModal from "./modals/UserModal";
import { showToast, showDeleteConfirmation } from "../utils/toast";
import AddButton from "./partials/AddButton";
import EditButton from "./partials/EditButton";
import DeleteButton from "./partials/DeleteButton";
export default {
  components: {
    UserModal,
    AddButton,
    EditButton,
    DeleteButton,
  },
  data() {
    return {
      addFormDialog: false,
      editMode: false,
      editUser: {},
      subscriberHeaders: [
        { text: "#", value: "id", class: "black--text" },
        { text: "Email", value: "email", class: "black--text" },
        { text: "Date", value: "created_at", class: "black--text" },
        { text: "Action", value: "action", class: "black--text" },
      ],
    };
  },
  created() {
    this.$store.dispatch("user/fetchUsers");
    this.$store.dispatch("subscriber/fetchSubscribers");
  },
  methods: {
    editItem(user) {
      this.editUser = user;
      this.editMode = true;
      this.openDialog();
    },
    deleteItem(user) {
      showDeleteConfirmation().then((result) => {
        if (result.value) {
          this.$store
            .dispatch("user/deleteUser", user)
            .then((res) => {
              showToast("success", "User Deleted");
            })
            .catch((e) => {
              showToast("warning", "Deletion Failed");
            });
        }
      });
    },
    deleteSubscriber(subscriber) {
      showDeleteConfirmation().then((result) => {
        if (result.value) {
          this.$store
            .dispatch("subscriber/deleteSubscriber", subscriber)
            .then((res) => {
              showToast("success", "Subscriber Deleted.");
            })
            .catch((e) => {
              showToast("warning", "Deletion Failed");
            });
        }
      });
    },
    openDialog() {
      this.addFormDialog = true;
    },
    closeDialog() {
      this.addFormDialog = false;
      this.editMode = false;
    },
  },
  computed: {
    ...mapGetters({
      users: "user/users",
      subscribers: "subscriber/subscribers",
    }),
    getExportData:function(){
      if(this.subscribers){
        return this.subscribers.map((subscriber)=>{
          return {
            Id:subscriber.id,
            Email:subscriber.email,
            Date:moment(subscriber.created_at).format("MMMM Do YYYY")
          }
        })
      }
    }
  },
  filters: {
    formatDate: function (date) {
      return moment(date).format("MMMM Do YYYY");
    },
  },
};
</script>

<style scoped>
tr {
  cursor: pointer;
}
</style>