<template>
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/admin" class="text-decoration-none"
            >Dashboard</router-link
          >
        </li>
        <li class="breadcrumb-item active" aria-current="page">Teams</li>
      </ol>
    </nav>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Segments</h3>

            <div class="card-tools">
              <template>
                <AddButton @click="openDialog('segment')" />
                <SegmentModal
                  :visible="addSegmentDialog"
                  @closeSegmentDialog="closeDialog('segment')"
                  :editMode="editSegmentMode"
                  :editSegment="editSegmentData"
                />
              </template>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body p-0">
            <table
              class="table table-condensed table-hover"
              v-if="this.segments.length > 0"
            >
              <thead>
                <tr>
                  <th>#</th>
                  <th>Segment</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="(segment, index) in this.segments"
                  :key="index"
                  @click="editSegment(segment)"
                >
                  <td>{{ index + 1 }}</td>
                  <td>{{ segment.name }}</td>
                  <td @click.stop="">
                    <v-btn icon @click="deleteSegment(segment)">
                      <v-icon color="red">mdi-trash-can-outline</v-icon>
                    </v-btn>
                  </td>
                </tr>
              </tbody>
            </table>
            <span v-else>
              <div class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">No Segments available.</h5>
                </div>
                <p class="mb-1">
                  Click
                  <a @click="openDialog('segment')">Add New</a> to add segment.
                </p>
              </div>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Teams</h3>

            <div class="card-tools">
              <template>
                <AddButton @click="openDialog('team')" />
                <TeamModal
                  :visible="addTeamDialog"
                  @closeTeamDialog="closeDialog('team')"
                  :editMode="editTeamMode"
                  :editTeam="editTeamData"
                />
              </template>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body p-0">
            <table class="table table-condensed table-hover" v-if="this.teams.length > 0">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Segment</th>
                  <th>Photo</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(team, index) in this.teams" :key="index" @click="editTeam(team)">
                  <td>{{ index + 1 }}</td>
                  <td>{{ team.name }}</td>
                  <td>{{ getSegmentName(team.segment_id) }}</td>
                  <td>
                    <v-avatar size="40">
                      <v-img :src="imgPath('teams', team.photo)"></v-img>
                    </v-avatar>
                  </td>
                  <td @click.stop="">
                    <v-btn icon @click="deleteTeam(team)">
                      <v-icon color="red">mdi-trash-can-outline</v-icon>
                    </v-btn>
                  </td>
                </tr>
              </tbody>
            </table>
            <span v-else>
              <div class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">No teams available.</h5>
                </div>
                <p class="mb-1">
                  Click
                  <a @click="openDialog('team')">Add New</a> to add team.
                </p>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import { mapGetters } from "vuex";
import Swal from "sweetalert2";
import SegmentModal from "./modals/SegmentModal";
import TeamModal from "./modals/TeamModal";
import { showToast, showDeleteConfirmation } from "../utils/toast";
import { getImgPath } from "../utils/path";
import AddButton from "./partials/AddButton";
import EditButton from "./partials/EditButton";
import DeleteButton from "./partials/DeleteButton";
export default {
  components: {
    SegmentModal,
    TeamModal,
    AddButton,
    EditButton,
    DeleteButton,
  },
  data() {
    return {
      addTeamDialog: false,
      editTeamMode: false,
      editTeamData: {},
      addSegmentDialog: false,
      editSegmentMode: false,
      editSegmentData: {},
    };
  },
  created() {
    this.$store.dispatch("segment/fetchSegments");
    this.$store.dispatch("team/fetchTeams");
  },
  methods: {
    imgPath: getImgPath,
    editTeam(team) {
      this.editTeamMode = true;
      this.editTeamData = team;
      this.openDialog("team");
    },
    getSegmentName(id) {
      const filteredSegment = this.segments.filter(
        (segment) => segment.id == id
      );
      if (filteredSegment.length > 0) {
        return filteredSegment[0].name;
      } else {
        return "";
      }
    },
    deleteTeam(team) {
      showDeleteConfirmation().then((result) => {
        if (result.value) {
          this.$store
            .dispatch("team/deleteTeam", team)
            .then((res) => {
              showToast("success", "Team Deleted.");
            })
            .catch((e) => {
              showToast("warning", "Deletion Failed");
            });
        }
      });
    },
    deleteSegment(segment) {
      showDeleteConfirmation().then((result) => {
        if (result.value) {
          this.$store
            .dispatch("segment/deleteSegment", segment)
            .then((res) => {
              showToast("success", "Segment Deleted.");
            })
            .catch((e) => {
              showToast("warning", "Deletion Failed");
            });
        }
      });
    },
    editSegment(segment) {
      this.editSegmentMode = true;
      this.editSegmentData = segment;
      this.openDialog("segment");
    },
    openDialog(type) {
      if (type == "segment") {
        this.addSegmentDialog = true;
      } else {
        this.addTeamDialog = true;
      }
    },
    closeDialog(type) {
      if (type == "segment") {
        this.addSegmentDialog = false;
        this.editSegmentMode = false;
      } else {
        this.addTeamDialog = false;
        this.editTeamMode = false;
      }
    },
  },
  computed: {
    ...mapGetters({ teams: "team/teams", segments: "segment/segments" }),
  },
};
</script>

<style scoped>
tr {
  cursor: pointer;
}
</style>