<template>
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/admin" class="text-decoration-none"
            >Dashboard</router-link
          >
        </li>
        <li class="breadcrumb-item active" aria-current="page">Users</li>
      </ol>
    </nav>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Users</h3>

            <div class="card-tools">
              <template>
                <AddButton @click="openDialog" />
                <UserModal
                  :visible="addFormDialog"
                  @closeDialog="closeDialog()"
                  :editMode="editMode"
                  :editUser="editUser"
                />
              </template>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body p-0">
            <table
              class="table table-condensed table-hover"
              v-if="this.users.length > 0"
            >
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Role</th>
                  <th>Registered_at</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="(user, index) in this.users"
                  :key="index"
                  @click="editItem(user)"
                >
                  <td>{{ index + 1 }}</td>
                  <td>{{ user.name }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.type }}</td>
                  <td>{{ user.created_at | formatDate }}</td>
                  <td @click.stop="">
                    <v-btn icon @click="deleteItem(user)">
                      <v-icon color="red">mdi-trash-can-outline</v-icon>
                    </v-btn>
                  </td>
                </tr>
              </tbody>
            </table>
            <span v-else>
              <div class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">No users available.</h5>
                </div>
                <p class="mb-1">
                  Click
                  <a @click="openDialog">Add New</a> to add user.
                </p>
              </div>
            </span>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">
              Edit Profile -
              <span class="font-weight-light" style="font-size: 15px"
                >Complete your profile</span
              >
            </h3>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-md-8">
                <form
                  @submit.prevent="updateProfile"
                  @keydown="form.onKeydown($event)"
                >
                  <div class="row">
                    <div class="col-md-6 py-0">
                      <v-text-field
                        v-model="form.name"
                        :rules="nameRules"
                        label="Full Name"
                        outlined
                        dense
                        required
                        prepend-icon="mdi-account"
                        class="font-weight-light"
                      ></v-text-field>
                    </div>
                    <div class="col-md-6 py-0">
                      <v-text-field
                        v-model="form.email"
                        :rules="emailRules"
                        label="Email Address"
                        prepend-icon="mdi-email"
                        dense
                        required
                        outlined
                        class="font-weight-light"
                        :error-messages="
                          form.errors.errors ? form.errors.errors.email : ''
                        "
                        :class="{ 'is-invalid': form.errors.has('email') }"
                      ></v-text-field>
                    </div>

                    <div class="col-md-6 py-0">
                      <v-text-field
                        v-model="form.designation"
                        :rules="nameRules"
                        outlined
                        label="Designation"
                        dense
                        prepend-icon="mdi-chair-rolling"
                        required
                        class="font-weight-light"
                      ></v-text-field>
                    </div>

                    <div class="col-md-6 py-0">
                      <v-text-field
                        v-model="form.address"
                        label="Address"
                        outlined
                        dense
                        prepend-icon="mdi-home"
                        required
                        class="font-weight-light"
                      ></v-text-field>
                    </div>

                    <div class="col-md-6 py-0">
                      <v-file-input
                        :rules="imageRules"
                        accept="image/png, image/jpeg, image/bmp"
                        prepend-icon="mdi-camera"
                        @change="generatePic"
                        outlined
                        dense
                        label="Profile Pic"
                        class="font-weight-light grey--text"
                      ></v-file-input>
                    </div>

                    <div class="col-md-6 py-0">
                      <v-textarea
                        name="input-7-4"
                        v-model="form.bio"
                        prepend-icon="mdi-information"
                        label="About me"
                        dense
                        outlined
                        class="font-weight-light"
                      ></v-textarea>
                    </div>

                    <v-btn
                      :loading="form.busy"
                      type="submit"
                      tile
                      text
                      style="background: #eefe3a"
                      class="text-capitalize custombutton"
                      >Update Profile</v-btn
                    >
                  </div>
                </form>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <div class="text-center">
                    <v-avatar
                      size="100"
                      style="margin-top: -15px"
                      class="elevation-10"
                    >
                      <img :src="getProfilePhoto()" />
                    </v-avatar>
                  </div>
                  <div class="text-center pa-5">
                    <h6 class="mb-1 grey--text">{{ this.user.designation }}</h6>
                    <h4 class="headline font-weight-light mb-3 black--text">
                      {{ this.user.fullname }}
                    </h4>
                    <p class="font-weight-light grey--text">
                      {{ this.user.bio }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import { mapGetters } from "vuex";
import moment from "moment";
import Form from "vform";
import UserModal from "./modals/UserModal";
import { showToast, showDeleteConfirmation } from "../utils/toast";
import AddButton from "./partials/AddButton";
import EditButton from "./partials/EditButton";
import DeleteButton from "./partials/DeleteButton";
import { getImgPath } from "../utils/path";
export default {
  components: {
    UserModal,
    AddButton,
    EditButton,
    DeleteButton,
  },
  data() {
    return {
      form: new Form({
        name: "",
        email: "",
        address: "",
        bio: "",
        photo: "",
        designation: "",
        photo: "",
      }),
      imageRules: [
        (value) =>
          !value ||
          value.size < 2000000 ||
          "Profile pic should be less than 2 MB!",
      ],
      nameRules: [
        (v) => !!v || "Name is required",
        (v) => (v && v.length <= 20) || "Name must be less than 20 characters",
      ],
      emailRules: [
        (v) => !!v || "E-mail is required",
        (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
      ],
      addFormDialog: false,
      editMode: false,
      editUser: {},
      subscriberHeaders: [
        { text: "#", value: "id", class: "black--text" },
        { text: "Email", value: "email", class: "black--text" },
        { text: "Action", value: "action", class: "black--text" },
      ],
    };
  },
  async created() {
    this.$store.dispatch("user/fetchUsers");
    this.$store.dispatch("subscriber/fetchSubscribers");
    await this.$store.dispatch("auth/fetchUser");
    this.form.fill(this.user);
  },
  methods: {
    imgPath: getImgPath,
    editItem(user) {
      this.editUser = user;
      this.editMode = true;
      this.openDialog();
    },
    deleteItem(user) {
      showDeleteConfirmation().then((result) => {
        if (result.value) {
          this.$store
            .dispatch("user/deleteUser", user)
            .then((res) => {
              showToast("success", "User Deleted");
            })
            .catch((e) => {
              showToast("warning", "Deletion Failed");
            });
        }
      });
    },
    deleteSubscriber(subscriber) {
      showDeleteConfirmation().then((result) => {
        if (result.value) {
          this.$store
            .dispatch("subscriber/deleteSubscriber", subscriber)
            .then((res) => {
              showToast("success", "Subscriber Deleted.");
            })
            .catch((e) => {
              showToast("warning", "Deletion Failed");
            });
        }
      });
    },
    openDialog() {
      this.addFormDialog = true;
    },
    closeDialog() {
      this.addFormDialog = false;
      this.editMode = false;
    },
    generatePic(file) {
      // const file = e.target.files[0];
      if (file) {
        const reader = new FileReader();
        const context = this;
        if (file["size"] < 2111775) {
          reader.onloadend = function (file) {
            context.form.photo = reader.result;
          };
          reader.readAsDataURL(file);
        } else {
          Swal.fire({
            title: "Oops...",
            text: "Profile pic should be less than 2mb",
          });
        }
      }
    },
    updateProfile() {
      this.form.put("/api/profile").then(({ data }) => {
        this.$store.dispatch("auth/updateUser", { user: data });
        Swal.mixin({
          toast: true,
          position: "top-end",
          showConfirmButton: false,
          timer: 3000,
        }).fire({
          type: "success",
          title: "Profile updated successfully",
        });
      });
    },
    getProfilePhoto() {
      return this.imgPath("profile", this.user.photo);
    },
  },
  computed: {
    ...mapGetters({
      user: "auth/user",
      users: "user/users",
      subscribers: "subscriber/subscribers",
    }),
  },
  filters: {
    formatDate: function (date) {
      return moment(date).format("MMMM Do YYYY");
    },
  },
};
</script>

<style scoped>
tr {
  cursor: pointer;
}
</style>