<template>
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/admin" class="text-decoration-none">Dashboard</router-link>
        </li>
        <li class="breadcrumb-item">
          <router-link to="/admin/products" class="text-decoration-none">Products</router-link>
        </li>

        <li class="breadcrumb-item active" aria-current="page">Variants</li>
      </ol>
    </nav>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Variants</h3>

        <div class="card-tools">
          <template>
            <AddButton @click="$router.push(`/admin/products/${$route.params.id}/variants/add`)" />
          </template>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body p-0">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>#</th>
              <th>Color</th>
              <th>Photo</th>
              <th>Price</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody v-if="variants.length>0">
            <tr v-for="(variant,index) in variants" :key="index">
              <td>{{index+1}}</td>
              <td>
                <v-avatar size="25" :color="variant.color.hex"></v-avatar>
                {{variant.color.name}}
              </td>
              <td>
                <span v-for="(photo,index) in variant.photos" :key="index">
                  <v-avatar size="45" v-if="index<1">
                    <img :src="imgPath('products',photo.photo)" />
                  </v-avatar>
                </span>
              </td>
              <td>{{variant.price}}</td>
              <td>
                <v-menu bottom origin="center center" transition="scale-transition">
                  <template v-slot:activator="{ on }">
                    <v-btn color="grey" dark v-on="on" icon>
                      <i class="fas fa-ellipsis-v"></i>
                    </v-btn>
                  </template>

                  <v-list>
                    <v-list-item
                      @click="$router.push(`/admin/products/${$route.params.id}/variants/${variant.id}`)"
                    >
                      <v-list-item-title>Edit</v-list-item-title>
                    </v-list-item>

                    <v-list-item @click="deleteItem(variant)">
                      <v-list-item-title>Delete</v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>


<script>
import { mapGetters } from "vuex";
import Swal from "sweetalert2";
import { showToast, showDeleteConfirmation } from "../utils/toast";
import { getImgPath } from "../utils/path";
import AddButton from "./partials/AddButton";
import EditButton from "./partials/EditButton";
import DeleteButton from "./partials/DeleteButton";
export default {
  components: {
    AddButton,
    EditButton,
    DeleteButton
  },
  data() {
    return {
      variants: []
    };
  },
  created() {
    this.$store
      .dispatch("product/fetchProductVariant", this.$route.params.id)
      .then(res => {
        if (res) {
          this.variants = res;
        }
      });
  },
  methods: {
    imgPath: getImgPath,
    deleteItem(variant) {
      showDeleteConfirmation().then(result => {
        if (result.value) {
          this.$store
            .dispatch("product/deleteVariant", variant.id)
            .then(res => {
              showToast("success", "Variant Deleted.");
              this.variants = this.variants.filter(t => t.id !== res.id);
            })
            .catch(e => {
              showToast("warning", "Deletion Failed");
            });
        }
      });
    }
  }
};
</script>