@import "./colors";

.btn {
    border-radius: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.4em;
    padding: 0.6em 1.3em 0.7em 1.3em;
    .icon-dot-right {
        font-size: 1.5em;
        line-height: 1em;
        position: relative;
        top: 0.2em;
        margin-left: 2.3em;
    }
    &.btn-primary {
        color: $gray;
        &:hover,
        &:focus,
        &:active,
        .active {
            background-color: darken($yellow, 20%);
            border-color: darken($yellow, 20%);
            box-shadow: none;
            &::focus {
                box-shadow: none;
            }
        }
    }
    &.btn-sm {
        font-size: 0.9em;
        line-height: 1.6em;
        padding: 0.2em 1.3em;
    }
    .btn-outline-dark {
        border-color: $black-light;
    }
}
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus,
.btn-outline-secondary.focus,
.btn-outline-secondary:focus,
.btn-outline-dark:not(:disabled):not(.disabled).active:focus,
.btn-outline-dark:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-dark.dropdown-toggle:focus,
.btn-outline-dark.focus,
.btn-outline-dark:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}
.btn {
    &.hover-animate {
        position: relative;
        overflow: hidden;
        &:before {
            content: "";
            display: block;
            background: transparent;
            width: 4.5em;
            border: 2em #fff solid;
            border-bottom: transparent;
            border-top: transparent;
            height: 100%;
            top: 0;
            left: 5em;
            position: absolute;
            transform: skew(-40deg, 0deg) scale(1) translateY(-200%);
            box-shadow: #fff -5em 2em 0;
            opacity: 0.3;
        }
        &:hover,
        &:focus,
        &:active {
            &::before {
                transition: all 0.8s ease;
                transform: skew(-40deg, 0deg) scale(1) translateY(150%);
            }
        }
    }
}
.btn-group {
    .btn-md {
        height: 38.58px;
    }
}
