.btn {
  border-radius: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1em;
  line-height: 1.4em;
  padding: 0.6em 1.3em 0.7em 1.3em;
}

.btn .icon-dot-right {
  font-size: 1.5em;
  line-height: 1em;
  position: relative;
  top: 0.2em;
  margin-left: 2.3em;
}

.btn.btn-primary {
  color: #4f4f4f;
}

.btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-primary .active {
  background-color: #c0d101;
  border-color: #c0d101;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.btn-primary:hover::focus, .btn.btn-primary:focus::focus, .btn.btn-primary:active::focus, .btn.btn-primary .active::focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.btn-sm {
  font-size: 0.9em;
  line-height: 1.6em;
  padding: 0.2em 1.3em;
}

.btn .btn-outline-dark {
  border-color: #333333;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-secondary.dropdown-toggle:focus, .btn-outline-secondary.focus, .btn-outline-secondary:focus, .btn-outline-dark:not(:disabled):not(.disabled).active:focus, .btn-outline-dark:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-dark.dropdown-toggle:focus, .btn-outline-dark.focus, .btn-outline-dark:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.hover-animate {
  position: relative;
  overflow: hidden;
}

.btn.hover-animate:before {
  content: "";
  display: block;
  background: transparent;
  width: 4.5em;
  border: 2em #fff solid;
  border-bottom: transparent;
  border-top: transparent;
  height: 100%;
  top: 0;
  left: 5em;
  position: absolute;
  -webkit-transform: skew(-40deg, 0deg) scale(1) translateY(-200%);
          transform: skew(-40deg, 0deg) scale(1) translateY(-200%);
  -webkit-box-shadow: #fff -5em 2em 0;
          box-shadow: #fff -5em 2em 0;
  opacity: 0.3;
}

.btn.hover-animate:hover::before, .btn.hover-animate:focus::before, .btn.hover-animate:active::before {
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -webkit-transform: skew(-40deg, 0deg) scale(1) translateY(150%);
          transform: skew(-40deg, 0deg) scale(1) translateY(150%);
}

.btn-group .btn-md {
  height: 38.58px;
}
/*# sourceMappingURL=buttons.css.map */