/* import what we need to override */
.card-col {
  margin-bottom: 30px;
}

.card {
  border: none;
  border-radius: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.card a {
  text-decoration: none;
  color: #343a40;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.card img {
  display: block;
  max-width: 80%;
  margin: 0 auto;
}

.card.tagnew:before, .card.tagsale:before {
  content: "NEW";
  color: #fff;
  display: block;
  position: absolute;
  top: 0.3em;
  left: 0.3em;
  z-index: 1;
  font-family: Oswald;
  font-size: 1.2em;
}

.card.tagnew:after, .card.tagsale:after {
  content: "";
  background-color: transparent;
  border-left: #fe8414 4.3em solid;
  border-bottom: transparent 4.3em solid;
  height: 0px;
  width: 0px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

.card.tagsale:before {
  content: "SALE";
}

.card.tagsale:after {
  border-left-color: #4f4f4f;
}

.card h5.card-title {
  font-size: 0.9em;
  margin-bottom: 0.4em;
  font-family: roboto;
  font-weight: bold;
}

.card .card-body {
  padding: 0.7em;
}

.card .card-body .card-text {
  font-family: Oswald;
  font-size: 1.3em;
  line-height: 1.6em;
  margin-bottom: 1.1em;
}

.card .card-body .card-text.txt-with-icon span[class^="icon-"] {
  font-size: 1.2em;
}

.card .card-body .price {
  font-family: "Roboto", sans-serif !important;
  font-size: 1.1em;
}

.card .card-body .old-price {
  color: #db4437;
}

.card .card-body .new-price {
  padding-left: 5px;
}

.card .color-option {
  margin-top: 0.3em;
}

.card .color-option .color {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid #acacac;
  margin-right: 0.1em;
}

.card .color-option .color.active {
  -webkit-box-shadow: #acacac 0px 0px 0px 1px;
          box-shadow: #acacac 0px 0px 0px 1px;
  border: 1px solid #fff;
}

.card .color-option .color.red {
  background-color: #db4437;
}

.card .color-option .color.green {
  background-color: #27ae60;
}

.card .color-option .color.gray {
  background-color: #4f4f4f;
}

.card .color-option .color.offwhite {
  background-color: #acacac;
}

.card .color-option .color.black {
  background-color: #000000;
}

.card .color-option .color.blue {
  background-color: #2f80ed;
}

.card .color-option .color.light-orange {
  background-color: #f2c94c;
}

.card:hover, .card:active, .card:focus {
  -webkit-box-shadow: 0 0.3em 1em rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.3em 1em rgba(0, 0, 0, 0.3);
}

.card.img-in-side .card-img-as-bg {
  background-size: cover;
  background-position: center;
}

.card.img-in-side .card-img-as-bg img {
  opacity: 0;
  display: inline;
  max-width: 100%;
  margin: 0 auto;
}

.card.img-in-side .card-body {
  padding: 0 2.2em 0 2.2em;
}

@media (max-width: 991.98px) {
  .card.img-in-side .card-body {
    padding-bottom: 4em;
  }
}

.card.img-in-side .card-body .date {
  padding-top: 2.1em;
  font-size: 0.9em;
  padding-bottom: 0.7em;
}

.card.img-in-side .card-body .card-text {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.7em;
  padding-bottom: 1em;
}

.card.img-in-side .card-body .card-title {
  font-size: 2.3em;
  font-weight: normal;
  line-height: 1.3em;
  margin-top: 1em;
  height: 2.6em;
}

.card.img-in-side .card-body .btn {
  padding: 0.3em 1.2em;
  width: 8em;
}

.card.team {
  margin-bottom: 2em;
}

.card.team img {
  max-width: 100%;
}

.card.team .card-body {
  padding-top: 1em;
  padding-left: 2em;
  padding-right: 2em;
}

.card.team .card-text,
.card.team .name {
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
  line-height: 1.7em;
  padding-bottom: 1em;
}

.card.team .name {
  margin: 0;
  padding: 0;
}

.card.team .card-title {
  font-family: Oswald;
  font-size: 1.6em;
  margin: 0;
  padding: 0;
}

.card.team p.card-text {
  margin-top: 1em;
  margin-bottom: 0;
}

.card.team p.links {
  margin-top: 0;
  padding-top: 0;
}

.card.team p.links a {
  display: inline-block;
  font-size: 2.5em;
  margin-right: 0.3em;
}

.card.team p.links a:hover, .card.team p.links a:focus, .card.team p.links a:active {
  color: #000000;
}

.btn-over-img {
  position: absolute;
  bottom: 0;
  left: 0;
}
/*# sourceMappingURL=cards.css.map */