@import "./colors";
/* import what we need to override */
@import "../js/bootstrap/scss/functions";
@import "../js/bootstrap/scss/variables";
@import "../js/bootstrap/scss/mixins/breakpoints";
.card-col {
    margin-bottom: 30px;
}
.card {
    border: none;
    border-radius: 0;
    transition: all 0.5s ease;
    a {
        text-decoration: none;
        color: $gray-dark;
        display: block;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    img {
        display: block;
        max-width: 80%;
        margin: 0 auto;
    }
    &.tagnew,
    &.tagsale {
        &:before {
            content: "NEW";
            color: $white;
            display: block;
            position: absolute;
            top: 0.3em;
            left: 0.3em;
            z-index: 1;
            font-family: Oswald;
            font-size: 1.2em;
        }
        &:after {
            content: "";
            background-color: transparent;
            border-left: $orange 4.3em solid;
            border-bottom: transparent 4.3em solid;
            height: 0px;
            width: 0px;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
        }
    }
    &.tagsale {
        &:before {
            content: "SALE";
        }
        &:after {
            border-left-color: $gray;
        }
    }

    h5.card-title {
        font-size: 0.9em;
        margin-bottom: 0.4em;
        font-family: roboto;
        font-weight: bold;
    }
    .card-title {
        a {
            color: $body-color;
            &:hover,
            &:active,
            &:focus {
                color: $black;
            }
        }
    }

    .card-body {
        padding: 0.7em;
        .card-text {
            font-family: Oswald;
            font-size: 1.3em;
            line-height: 1.6em;
            margin-bottom: 1.1em;
            &.txt-with-icon {
                span[class^="icon-"] {
                    font-size: 1.2em;
                }
            }
            a {
                color: $body-color;
                &:hover,
                &:active,
                &:focus {
                    color: $black;
                }
            }
        }
        .price {
            font-family: "Roboto", sans-serif !important;
            font-size: 1.1em;
        }
        .old-price {
            color: $red;
        }
        .new-price {
            padding-left: 5px;
        }
    }

    .color-option {
        margin-top: 0.3em;
        .color {
            width: 13px;
            height: 13px;
            border-radius: 50%;
            display: inline-block;
            border: 1px solid $gray-light;
            margin-right: 0.1em;
            &.active {
                box-shadow: $gray-light 0px 0px 0px 1px;
                border: 1px solid $white;
            }
            &.red {
                background-color: $red;
            }
            &.green {
                background-color: $green;
            }
            &.gray {
                background-color: $gray;
            }

            &.offwhite {
                background-color: $gray-light;
            }
            &.black {
                background-color: $black;
            }
            &.blue {
                background-color: $blue;
            }
            &.light-orange {
                background-color: $orange-light;
            }
        }
    }
    &:hover,
    &:active,
    &:focus {
        box-shadow: 0 0.3em 1em rgba(0, 0, 0, 0.3);
    }
    &.img-in-side {
        .card-img-as-bg {
            background-size: cover;
            background-position: center;
            img {
                opacity: 0;
                display: inline;
                max-width: 100%;
                margin: 0 auto;
            }
        }
        .card-body {
            padding: 0 2.2em 0 2.2em;
            @include media-breakpoint-down(md) {
                padding-bottom: 4em;
            }
            .date {
                padding-top: 2.1em;
                font-size: 0.9em;
                padding-bottom: 0.7em;
            }
            .card-text {
                font-family: "Roboto", sans-serif;
                font-size: 1em;
                line-height: 1.7em;
                padding-bottom: 1em;
            }
            .card-title {
                font-size: 2.3em;
                font-weight: normal;
                line-height: 1.3em;
                margin-top: 1em;
                height: 2.6em;
                overflow: hidden;
            }
            .btn {
                padding: 0.3em 1.2em;
                width: 8em;
            }
        }
    }
    &.team {
        margin-bottom: 2em;
        img {
            max-width: 100%;
        }
        .card-body {
            padding-top: 1em;
            padding-left: 2em;
            padding-right: 2em;
        }
        .card-text,
        .name {
            font-family: "Roboto", sans-serif;
            font-size: 1.1em;
            line-height: 1.7em;
            padding-bottom: 1em;
        }
        .name {
            margin: 0;
            padding: 0;
        }
        .card-title {
            font-family: Oswald;
            font-size: 1.6em;
            margin: 0;
            padding: 0;
        }
        p.card-text {
            margin-top: 1em;
            margin-bottom: 0;
        }
        p.links {
            margin-top: 0;
            padding-top: 0;
            a {
                display: inline-block;
                font-size: 2.5em;
                margin-right: 0.3em;
                &:hover,
                &:focus,
                &:active {
                    color: $black;
                }
            }
        }
    }
}
.btn-over-img {
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
}
