.carousel {
    .carousel-item {
        background-color: #000;
    }
    .img-as-bg {
        opacity: 0.9;
        height: 100vh;
        overflow: hidden;
        background-size: cover;
        background-position: center center;
        img {
            opacity: 0;
        }
    }
    .carousel-btn-link {
        overflow: hidden;
        .hide-text {
            display: inline-block;
        }
    }
    .btn {
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: bold;
        font-size: 0.875em;
        line-height: 2em;
    }
    .carousel-caption {
        margin-bottom: 30px;
        h2 {
            line-height: 1em;
            margin-bottom: 1em;
            padding-bottom: 0;
            overflow: hidden;
            .secondary-line {
                font-size: 0.7em;
            }
            .hide-text {
                display: inline-block;
            }
        }
    }
    video.video-fluid {
        position: absolute;
        left: 50%; /* % of surrounding element */
        top: 50%;
        transform: translate(-50%, -50%); /* % of current element */
        height: 100%;
        width: 177.77777778vh; /* 100 * 16 / 9 */
        min-width: 100%;
        min-height: 56.25vw; /* 100 * 9 / 16 */
        width: 100vw;
        height: auto;
        object-fit: cover;
        z-index: 1;
        min-height: 100vh;
    }
    .video-item {
        &:before {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: url("../../images/overlay-dot.png");
            display: block;
            content: "";
            z-index: 9;
        }
    }
}
