.carousel .carousel-item {
  background-color: #000;
}

.carousel .img-as-bg {
  opacity: 0.9;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
}

.carousel .img-as-bg img {
  opacity: 0;
}

.carousel .carousel-btn-link {
  overflow: hidden;
}

.carousel .carousel-btn-link .hide-text {
  display: inline-block;
}

.carousel .btn {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 0.875em;
  line-height: 2em;
}

.carousel .carousel-caption {
  margin-bottom: 30px;
}

.carousel .carousel-caption h2 {
  line-height: 1em;
  margin-bottom: 1em;
  padding-bottom: 0;
  overflow: hidden;
}

.carousel .carousel-caption h2 .secondary-line {
  font-size: 0.7em;
}

.carousel .carousel-caption h2 .hide-text {
  display: inline-block;
}

.carousel video.video-fluid {
  position: absolute;
  left: 50%;
  /* % of surrounding element */
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /* % of current element */
  height: 100%;
  width: 177.77777778vh;
  /* 100 * 16 / 9 */
  min-width: 100%;
  min-height: 56.25vw;
  /* 100 * 9 / 16 */
  width: 100vw;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
  min-height: 100vh;
}

.carousel .video-item:before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("../../images/overlay-dot.png");
  display: block;
  content: "";
  z-index: 9;
}
/*# sourceMappingURL=carousel.css.map */