$link-color: #21839d;
$blue: #2f80ed;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #db4437;
$red-bright: #fd1818;
$orange: #fe8414;
$orange-light: #f2c94c;
$yellow: #eefe3a;
$yellow-dark: #c9d72f;
$green: #27ae60;
$green-light: #28d482;
$teal: #20c997;
$cyan: #17a2b8;
$cyan-dark: #21849d;
$white: #fff;
$gray: #4f4f4f;
$black: #000000;
$body-color: #212529;
$black-light: #333333;
$gray-dark: #343a40;
$gray-light: #acacac;
$primary: #eefe3a;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #db4437;
$light: #f8f9fa;
$dark: #343a40;
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
