.search-input.transparent-search {
  font-family: 'Roboto', sans-serif;
  padding-right: 1em;
  width: 100%;
}

.search-input.transparent-search .form-control {
  font-family: Oswald;
  font-size: 1em;
}

.search-input.transparent-search .form-control, .search-input.transparent-search .btn {
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
  color: #fff;
}

.search-input.transparent-search .form-control::-webkit-input-placeholder, .search-input.transparent-search .btn::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1;
  /* Firefox */
  font-family: Oswald;
  font-size: 1em;
}

.search-input.transparent-search .form-control:-ms-input-placeholder, .search-input.transparent-search .btn:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1;
  /* Firefox */
  font-family: Oswald;
  font-size: 1em;
}

.search-input.transparent-search .form-control::-ms-input-placeholder, .search-input.transparent-search .btn::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1;
  /* Firefox */
  font-family: Oswald;
  font-size: 1em;
}

.search-input.transparent-search .form-control::placeholder, .search-input.transparent-search .btn::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1;
  /* Firefox */
  font-family: Oswald;
  font-size: 1em;
}

.search-input .form-control {
  font-family: 'Roboto', sans-serif;
}

.search-overlay .search-input .form-control {
  font-size: 4em;
}

.search-overlay .search-input .btn {
  font-size: 2em;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: absolute;
  top: 1em;
  right: 0;
  z-index: 9;
}

.search-overlay .search-input .btn:hover, .search-overlay .search-input .btn:focus {
  -webkit-transform: scale(1.2) !important;
          transform: scale(1.2) !important;
  background: transparent;
  border: none;
}

.search-overlay .carousel.slide {
  overflow: hidden;
}
/*# sourceMappingURL=search.css.map */