@import "./colors";

.search-input{
  &.transparent-search{
    font-family: 'Roboto', sans-serif;
    padding-right: 1em;
    width: 100%;
    .form-control{
      font-family: Oswald;
      font-size: 1em;
    }
    .form-control, .btn {
      background-color: transparent;
      border: none;
      outline: none;
      box-shadow: none;
      padding: 0;
      color: $white;
      &:focus{

      }
      &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $white;
        opacity: 1; /* Firefox */
        font-family: Oswald;
        font-size: 1em;
      }

    }
    .btn {

    }  
  }
  .form-control {
    font-family: 'Roboto', sans-serif;
  }
  .btn {

  }
}
.search-overlay{
  .search-input{
    .form-control{
      font-size: 4em;
    }
    .btn{
      font-size: 2em;
      transition: all 0.2s ease;
      
      position: absolute;
      top: 1em;
      right: 0;
      z-index: 9;
      
      &:hover, &:focus{
        transform: scale(1.2) !important;
        background: transparent;
        border: none;
      }
    }
  }
  .carousel.slide{
    overflow: hidden;
  }
}