/* ****************** fonts ****************** */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400&family=Roboto+Condensed:wght@700&family=Roboto&display=swap");

@import "../js/aos/src/sass/aos";
@import "./search";
@import "./colors";
@import "./custom-breakpoint";
@import "../js/bootstrap/scss/bootstrap";
@import "../js/owl.carousel/dist/assets/owl.carousel.min";
@import "../js/owl.carousel/dist/assets/owl.theme.default.min";
@import "./carousel";
@import "./buttons";
@import "./cards";

html,
body {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    max-width: 100vw;
    @include media-breakpoint-up(xxl) {
        font-size: 16px;
    }
}
body {
    overflow-x: hidden;
    background-color: #ebebeb;
}
#body-load {
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    width: 100%;
    height: 100vh;
    z-index: 999999;
    display: block;
    opacity: 1;
    transform: skewY(5deg) translate(0%, -200%) scale(1);
}
.container-fluid {
    @include media-breakpoint-up(lg) {
        padding-left: 60px;
        padding-right: 60px;
    }
    @include media-breakpoint-up(xxl) {
        padding-left: 120px;
        padding-right: 120px;
    }
}

/* **************** heading ****************** */
h1 {
    font-family: Oswald;
    font-weight: 600;
    font-size: 5.9375em;
    line-height: 1.5em;
}
h2 {
    font-family: Oswald;
    font-weight: 600;
    font-size: 3.706325em;
    line-height: 1.5em;
}
h3 {
    font-family: Oswald;
    font-weight: 600;
    font-size: 2.290625em;
    line-height: 2em;
    &.large {
        font-size: 2.9em;
    }
}
h4 {
    font-family: Oswald;
    font-weight: 600;
    font-size: 1.125em;
    line-height: 2em;
}
h5 {
    font-family: Oswald;
    font-weight: 600;
    font-size: 1em;
    line-height: 1.2em;
}
.right-option {
    float: right;
}
h3 {
    .right-option {
        font-size: 11px;
        .txt {
            font-family: "Roboto", sans-serif;
            font-size: 1.4em;
            margin-right: 0.5em;
        }
    }
}
/* topnav */
.top-menu-wrap {
    border-bottom: $gray solid 1px; //#EBEBEB
    position: absolute;
    top: 5px;
    left: 0;
    z-index: 999999999999;
    display: block;
    width: 100%;
    height: 25px;
    padding: 10px 0px;
    @include media-breakpoint-down(md) {
        display: none;
    }
}
.small-nav .top-menu-wrap {
    border-bottom: none;
    height: 18px;
    top: 0;
    .topmenu {
        top: 0;
    }
}
.topmenu {
    position: absolute;
    top: 0px;
    right: 60px;
    z-index: 9999;
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    @include media-breakpoint-up(xxl) {
        right: 120px;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            padding-left: 35px;
            display: inline-block;
            a {
                text-decoration: none;
                color: $gray-light; // orginal color #BDBDBD
                &:hover {
                    color: $white;
                }
            }
        }
    }
}
/* ****************** navbar ****************** */
.navbar {
    transition: background 0.3s ease;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0;
    transition: transform 0.5s ease;
    &:hover {
        background-color: rgba(0, 0, 0, 1) !important;
    }
    &.small-nav {
        background-color: $black;
        padding-top: 10px;
        .nav-container-fluid {
            align-items: flex-start;
        }
    }
    .navbar-brand {
        position: relative;
        z-index: 9999;
    }
    .logo-sm {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
    }
    .logo-lg {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        @include media-breakpoint-up(xxl) {
            width: 165px;
        }
    }
    &.small-nav {
        .logo-sm {
            display: block;
            max-width: 172px;
            max-height: 50px;
            margin-top: 0px;
            @include media-breakpoint-down(md) {
                top: -2px;
                left: 15px;
                max-width: 110px;
                max-height: 53px;
            }
        }
        .logo-lg {
            display: none;
        }
        &.invisible-nav {
            .logo-sm {
                top: -60px;
            }
        }
    }
    &.transparent-bg {
        background-color: transparent;
        &.enable-bg {
            background-color: rgba(0, 0, 0, 1);
            transition: background 0.5s ease-in-out;
        }
        &.home-nav {
            background-color: transparent;
            box-shadow: inset #000 0px 110px 100px -88px;
            &:hover {
                background-color: rgba(0, 0, 0, 1);
            }
        }
    }
    &.invisible-nav {
        transform: translateY(-10em);
    }
    .navbar-collapse {
        @include media-breakpoint-down(md) {
            background-color: $gray;
            padding: 2.5em;
            margin-top: 20px;
        }
    }
    .full-width-dropdown {
        background-color: rgba(0, 0, 0, 1);
        border-radius: 0;
        border: none;
        border-top: 1px solid darken($gray, 20%);
        padding: 0;
        .dropdown-item {
            color: $white;
            line-height: 24px;
            font-family: Oswald;
            font-style: normal;
            font-weight: 500;
            font-size: 1.125em;
            &:hover,
            &:active,
            &:focus,
            &.active {
                background-color: transparent;
                color: $yellow;
            }
        }
        &.dropdown-menu {
            .catimg {
                background-size: cover;
                box-shadow: inset #000 -17px 0px 20px;
                filter: grayscale(1);
                img {
                    opacity: 0;
                }
            }
            .catimg.default-cat-img {
                z-index: 1;
            }
            &#brand-dropdown {
                .catimg {
                    z-index: 2;
                    opacity: 0;
                    transition: all 0.4s ease-in-out;
                    background-color: #000;
                    &.show {
                        transition: all 0.4s ease-in-out;
                        opacity: 1;
                    }
                    &.default-cat-img {
                        opacity: 1;
                    }
                }
            }
        }
        ul {
            @include media-breakpoint-up(md) {
                float: left;
                width: 50%;
                padding: 20px 0;
            }
            @include media-breakpoint-up(lg) {
                float: left;
                width: 25%;
                min-height: 250px;
            }
            list-style: none;
            padding: 0;
            margin: 0;
        }
    }
    .cart-icon {
        text-decoration: none;
        margin-left: 50px;
        @include media-breakpoint-up(md) {
            margin-top: 10px;
        }
        .icon-cart {
            font-size: 24px;
            color: $white;
        }
    }
    .search-input {
        @include media-breakpoint-down(md) {
            width: calc(100% - 50px);
        }
        .form-control {
            @include media-breakpoint-down(md) {
                width: calc(100% - 30px);
                display: inline-block;
                font-size: 1em;
                &::placeholder {
                    font-size: 1em;
                }
            }
        }
    }
    .navbar-toggler {
        border: none;
        outline: none;
        margin-top: -13px;
        &.collapsed {
            .icon-list:before {
                content: "\e90f";
            }
        }
        .icon-list:before {
            content: "\e912";
            margin-right: 13px;
        }
    }
}
.small-nav .navbar-toggler {
    margin-top: 5px;
}
@include media-breakpoint-up(lg) {
    .navbar-dark {
        .navbar-nav {
            padding-right: 3em;
            .nav-link {
                color: $white;
                padding: 1.5em 0.5em;
            }
        }
    }
    .navbar {
        .nav-item {
        }
        .nav-link {
            font-size: 1.125em;
            font-family: "Oswald", sans-serif;
            line-height: 6.4em;
        }
        &.small-nav {
            .nav-link {
                line-height: 1.2em;
            }
        }
        .dropdown,
        .dropleft,
        .dropright,
        .dropup {
            position: static;
            margin: 0;
            .full-width-dropdown {
                margin-top: 0;
                width: 100%;
                background-color: rgba(0, 0, 0, 1);
                border-radius: 0;
                padding-left: 30%;
                &.show {
                    animation-duration: 0.3s;
                    animation-fill-mode: both;
                    animation-name: slideIn;
                }
            }
        }
        .catimg {
            position: absolute;
            top: 0;
            left: 0;
            width: 30%;
            height: 100%;
            background-size: cover;
            background-position: center;
            &:after {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(
                        270.58deg,
                        #000000 9.09%,
                        rgba(255, 255, 255, 0) 99.73%
                    ),
                    #ffffff;
                mix-blend-mode: multiply;
                opacity: 0.7;
                z-index: 1;
                display: block;
                content: "";
            }
            img {
                width: 100%;
                display: none;
            }
        }
    }
    .form-control {
        font-family: "Roboto", sans-serif;
    }
}
.navbar-dark {
    .navbar-nav {
        .nav-link {
            @include media-breakpoint-up(xl) {
                padding: 1.4em 1.5em;
            }
        }
    }
}
.navbar {
    .nav-item {
        @include media-breakpoint-only(xl) {
        }
        @media (max-width: 1080px) {
            padding-right: 2em;
        }
    }
}
@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0rem);
        opacity: 1;
    }
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
}

.slideIn {
    animation-name: slideIn;
}

.dropdown-toggle::after {
    content: "\e910";
    font-family: "icomoon" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border: none;
    font-size: 0.5em;
    position: relative;
    top: 1px;
    margin-left: 10px;
    transition: transform 0.3s ease;
    @include media-breakpoint-down(md) {
        display: none;
    }
}
.sm-dropdown-toggle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    color: $gray-light;
}
.dropdown {
    &:hover > a {
        background-color: rgba(0, 0, 0, 0.1);
    }
    &.show {
        .dropdown-toggle {
            opacity: 0.8;
        }
    }
}
/* ****************** sm-quick-menu ****************** */
.sm-quick-menu {
    position: absolute;
    top: 36px;
    right: 40px;
    width: 40%;
    text-align: right;
    @include media-breakpoint-up(lg) {
        display: none;
    }
    @include media-breakpoint-down(lg) {
        top: 26px;
    }
    @include media-breakpoint-down(sm) {
        top: 33px;
    }
    .quick-item {
        width: auto;
        display: inline-block;
        margin: 0 20px 0 0;
        font-size: 18px;
        #search-trigger-sm {
            font-size: 1em;
            position: relative;
            top: -4px;
        }
        .search-input.transparent-search .btn,
        .search-input.transparent-search .form-control,
        .icon-cart {
            color: $gray-light;
        }
        .badge-light {
            background-color: $gray-light;
        }
        .cart-wrapper {
            position: static;
            text-align: left;
        }
    }
}
.cart-overlay-sm {
    position: absolute;
    top: 112px;
    right: 65px;
    display: none;
    z-index: -999;
    opacity: 0;
    @include media-breakpoint-up(lg) {
        display: none !important;
    }
    .cart-col-inner .product-row,
    .order-summary-col-inner .product-row {
        padding-left: 0;
        border-top: none;
    }
    .cart-col-inner .column-labels,
    .cart-col-inner .product-row,
    .order-summary-col-inner .column-labels,
    .order-summary-col-inner .product-row {
        padding-right: 0;
    }
}
.small-nav {
    @include media-breakpoint-down(md) {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .sm-quick-menu {
        top: 6px;
        top: 12px;
        @include media-breakpoint-up(md) {
            top: 4px;
        }
    }
}
/* ****************** nav cart ****************** */
.navbar {
    .cart-toggle {
        display: inline-block;
        cursor: pointer;
    }
    .cart-wrapper {
        position: relative;
        .cart-overlay {
            display: none;
            position: absolute;
            top: 80px;
            right: 0;
            width: 500px;
            max-width: none;
            @include media-breakpoint-up(xxl) {
                top: 104px;
            }
        }
    }
    &.small-nav {
        .cart-overlay {
            top: 46px;
            @include media-breakpoint-up(xxl) {
                top: 46px;
            }
        }
    }
}
/* ****************** home-carousel ****************** */
.home-carousel.carousel {
    .carousel-inner {
        .carousel-caption {
            &.bottom-center {
                @include media-breakpoint-up(xl) {
                    margin-bottom: 5vh;
                }
            }
            &.center-center,
            &.left-center {
                @include media-breakpoint-up(xl) {
                    top: 50%;
                    margin-top: -50px;
                    bottom: auto;
                }
            }
            &.left-center {
                @include media-breakpoint-up(xl) {
                    padding-left: 60px;
                    padding-right: 60px;
                    text-align: left;
                    right: 0;
                    left: 0;
                }
            }
        }
    }
}
/* ****************** product-promo ****************** */
.product-promo-cat-wrap,
.diagonal-bg-outer {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    max-width: 100%;
    .product-promo-bg,
    .diagonal-bg {
        background: #ebebeb url("../../images/bg.svg") repeat-y center top;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .diagonal-bg {
        z-index: -1;
    }
}
.full-body {
    img {
        max-height: auto;
    }
}
.full-body-img {
}
.product-promo {
    padding-top: 3em;
    padding-bottom: 0em;
    position: relative;
    z-index: 99;
    a {
        color: $black;
        text-decoration: none;
    }
    .prduct-promo-card {
        display: block;
        position: relative;
        img {
            margin-bottom: 20px;
            transition: all 0.5s ease-in-out;
        }
        p {
            font-size: 1em;
            max-width: 310px;
            margin: 11px auto 0 auto;
            line-height: 1.7em;
        }
        &:hover,
        &:focus,
        &:active {
            img {
                transform: translateY(-20px);
            }
        }
    }
}
.product-promo-txt {
    padding: 12em 0;
    @include media-breakpoint-up(md) {
        max-width: 30em;
    }
    h2 {
        line-height: 1.2em;
    }
    h3 {
        line-height: 1.2em;
    }
    .btn {
        font-size: 0.9em;
    }
}
.skewed-style {
    .product-promo-txt {
        padding: 2.4em 0 7em 0;
    }
    .info-container {
        @include media-breakpoint-up(md) {
            max-width: 32em;
        }
    }
    .skewed-bg-row {
        padding-bottom: 11em;
        .h6 {
            font-family: "Roboto Condensed", sans-serif;
            font-weight: 700;
            color: $cyan-dark;
        }
        h3 {
            line-height: 1em;
        }
        .img-bg {
            background: $gray-light;
            display: inline-block;
            transform: skew(-30deg, 0deg);
            // padding: 85px 100px;
            min-height: 400px;
            max-height: 70vh;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            // &.full-body{
            //   width: 100%;
            //   position: relative;
            //   height: 33em;
            //   img{
            //     position: absolute;
            //     top: -7em;
            //     left: 50%;
            //     transform: translateX(-50%) skew(30deg, 0deg);

            //   }
            // }
            img {
                max-width: 70%;
                // max-height: 100%;
                // max-width: 100%;
                transform: skew(30deg, 0deg);
            }
        }
    }
}
/* ****************** categories-box-wrapper ****************** */
.categories-box-wrapper {
    a {
        display: block;
        overflow: hidden;
        background-size: cover;
        background-blend-mode: luminosity;
        position: relative;
        height: 90vh;
        filter: grayscale(1);
        transition: all 0.5s ease;
        background-position: center;
        img {
            min-width: 100%;
            min-height: 100%;
            filter: grayscale(1);
            transition: all 0.3s ease;
        }
        &:hover,
        &:active,
        &:focus {
            filter: grayscale(0);
            img {
                filter: none;
            }
        }
        span {
            font-size: 6.1em;
            color: $white;
            transform: rotateZ(-90deg);
            transform-origin: left;
            position: absolute;
            bottom: 0.01em;
            left: 1em;
            z-index: 1;
            font-family: Oswald;
            font-weight: 600;
        }
    }
}
.card-owl-carousel,
.new-arrival-container,
.popular-products-container,
.blog-container {
    padding-top: 1em;
    padding-bottom: 4em;
    h3 {
        margin-bottom: 0em;
    }
}
.blog-container.blog-bg-dark {
    background-color: #e0e0e0;
}
.new-arrival-container {
    padding-top: 9.3em;
    padding-bottom: 10em;
    background-color: #ebebeb;
}

/* ************************** owl carousel ******************************* */
.owl-item {
    padding-top: 20px;
    padding-bottom: 20px;
    .card {
        &:hover,
        &:active,
        &:focus {
            transform: translateY(-10px);
        }
    }
}
button.owl-prev,
button.owl-next {
    position: absolute;
    top: calc(50% - 50px);
    height: 50px;
    display: block;
    content: "asdf";
    outline: none;
    border: none;
    @include media-breakpoint-down(md) {
        top: -4.2em;
        right: 0;
    }
    @include media-breakpoint-up(lg) {
        left: -60px;
        width: 50px;
    }
}
button.owl-prev {
    @include media-breakpoint-down(md) {
        right: 4em;
    }
}
.owl-theme .owl-nav [class*="owl-"]:hover {
    background-color: transparent;
    color: $gray;
}
button.owl-next {
    @include media-breakpoint-up(lg) {
        left: auto;
        right: -60px;
    }
}
button.owl-prev:after,
button.owl-next:after {
    content: "\e90a";
    font-family: icomoon !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.6em;
}
button.owl-prev:after {
    content: "\e909";
}
button.owl-prev span,
button.owl-next span {
    display: none;
}
.owl-theme .owl-nav .disabled {
    opacity: 0.2;
}
.owl-stage {
    display: flex;
}

/* ************************ instagram photos ************************** */
.instaphotos {
    a {
        display: inline-block;
        float: left;
        width: 50%;
        overflow: hidden;
        padding: 1px;
        background-size: cover;
        background-position: center;
        @include media-breakpoint-up(sm) {
            width: 20%;
            overflow: hidden;
        }
        img {
            max-width: 100%;
            width: 100%;
            opacity: 0;
        }
    }
}
/* ************************ footer ************************** */
footer {
    background-color: $black;
    color: $white;
    padding: 1.4em 0;
    h3 {
        font-size: 1.1em;
    }
    a {
        color: $white;
        text-decoration: none;
        &:hover,
        &:focus,
        &:active {
            text-decoration: none;
            color: $yellow;
        }
        &.active {
            color: $yellow;
        }
    }
    .social {
        font-size: 2.6em;
        a {
            color: $gray-light;
            &:hover,
            &:focus,
            &:active {
                color: $yellow;
            }
        }
    }
    .subscribe-form {
        font-size: 16px;
        p {
            font-size: 0.8em;
        }
        .form-control,
        .btn {
            font-size: 1.1666666666666667rem;
            font-size: 0.6em;
            line-height: 1.9em;
            height: 4em;
            border: none;
            @include media-breakpoint-up(xxxl) {
                font-size: 0.9em;
            }
        }
    }
}

/* ************************ shop page ************************** */
.banner-inner-page {
    background-size: cover;
    background-position: center;
    height: 400px;
    max-height: 60vh;
    overflow: hidden;
    position: relative;
    @include media-breakpoint-up(lg) {
        height: 629px;
        max-height: 60vh;
    }
    &:before {
        content: "";
        display: none;
        background-image: linear-gradient(90deg, black, transparent);
        z-index: 0;
        width: 70%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    img {
        max-width: 100%;
        opacity: 0;
    }
    .banner-info-wrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        .banner-info-txt {
            font-size: 16px;
            font-family: "Roboto", sans-serif;
        }
    }
    .banner-info {
        background: transparent;
        position: absolute;
        width: 50%;
        top: 0;
        bottom: 0px;
        left: 0;
        padding: 0 50px;
        font-size: 16px;
        font-family: "Roboto", sans-serif;
        box-shadow: inset rgba(0, 0, 0, 0.7) 480px 50px 80px;
    }
    .banner-info-txt {
        // position: absolute;
        // bottom: 50px;
        // left: 50px;
        // top: auto;
        // padding-right: 50px;
    }
    .title,
    .info {
        font-size: 2em;
        font-family: Oswald;
        font-weight: 600;
        color: $white;
        padding-bottom: 1em;
        @include media-breakpoint-down(sm) {
            font-size: 1.5em;
        }
    }
    .info {
        font-size: 1em;
        @include media-breakpoint-up(xxl) {
            font-size: 1.2em;
        }
        color: $white;
        max-width: 40%;
        padding-bottom: 50px;
    }
}

/* ************************ breadcrumb ************************** */
.breadcrumb {
    padding-left: 0;
    margin-top: 1.1em;
    font-size: 0.8em;
    margin-bottom: 0;
    padding-bottom: 0;
    text-transform: uppercase;
    .breadcrumb-item.active {
        color: $cyan-dark;
    }
    a {
        color: $black;
        font-weight: bold;
    }
    .breadcrumb-item + .breadcrumb-item::before {
        content: ">";
        color: $black;
    }
}

/* ************************ sidebar ************************** */
.sidebar {
    .nav {
        margin-bottom: 1.8em;
    }
    .nav-item {
        color: $gray;
        a {
            color: $gray;
            font-size: 0.9em;
        }
    }
    h3 {
        font-size: 1.4em;
    }
    .custom-control {
        margin-bottom: 0.9em;
    }
    .custom-color-label {
        padding: 5px;
        margin-right: 10px;
    }
}

/* ************************ nav pills ************************** */
.nav-pills {
    font-size: 1.1em;
    color: $gray;
    .show > .nav-link {
        font-size: 0.9em;
        color: $gray;
    }
    .nav-link {
        border-radius: 0;
        border-bottom: $gray-dark 1px solid;
        font-size: 0.9em;
        color: $gray;
        transition: all 0.4s ease;
        padding-left: 0;
        padding: 0.9em 0.3em;
        &.active,
        &:hover,
        &:active,
        &:focus {
            color: $gray;
            background-color: $yellow;
        }
    }
}
.custom-select:focus {
    box-shadow: none;
    border-color: $gray-light;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    background-image: none;
}
.size-option,
.brand-option,
.cart-col-inner {
    margin-bottom: 0.7em;
    .form-check {
        margin-right: 1.6em;
        margin-bottom: 1.7em;
    }
    .custom-control-input:checked ~ .custom-control-label::before,
    .custom-control-input:not(:disabled):active ~ .custom-control-label::before,
    .custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
        border-radius: 50%;
        background-color: $gray;
        border-color: $gray;
    }
    .custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
        background-color: transparent;
    }
    .custom-checkbox
        .custom-control-input:checked
        ~ .custom-control-label::after {
        background-image: none;
    }
    .custom-checkbox .custom-control-label::before {
        border-radius: 50%;
        border: 1px solid $gray;
    }
}
.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none !important;
}
.color-option {
    margin-bottom: 2.1em;
    .custom-control-label::after,
    .custom-control-label::before {
        width: 14px;
        height: 14px;
    }
    .custom-checkbox
        .custom-control-input:checked
        ~ .custom-control-label::after {
        background-image: none;
        box-shadow: $gray 0px 0px 0px 1px;
        border-radius: 50%;
        border: $white 1px solid;
    }
    .custom-checkbox .custom-control-label::before {
        border-radius: 50%;
    }
    .custom-control-label::before {
        border: none;
    }
    .custom-control-label {
        &.red-color::before {
            background-color: $red;
        }
        &.offwhite-color::before {
            background-color: $gray-light;
        }
        &.black-color::before {
            background-color: $black;
        }
        &.blue-color::before {
            background-color: $blue;
        }
        &.green-color::before {
            background-color: $green;
        }
        &.light-orange-color::before {
            background-color: $orange-light;
        }
    }
    .custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    }
    .custom-radio .custom-control-input:checked ~ .custom-control-label::before,
    .custom-control-input:not(:disabled):active ~ .custom-control-label::before,
    .custom-control-input:not(:disabled):active ~ .custom-control-label::before,
    .custom-radio .custom-control-input:checked ~ .custom-control-label::before,
    .custom-radio
        .custom-control-input:focused
        ~ .custom-control-label::before {
        box-shadow: $gray-light 0px 0px 0px 3px;
    }
    .custom-radio .custom-control-input:checked ~ .custom-control-label::after {
        box-shadow: $gray-light 0px 0px 0px 1px;
        border-radius: 50%;
        border: $white 1px solid;
        background-image: none;
    }
}

/* ************************ product-list-col ************************** */
.product-list-col {
    margin-top: 6em;
    .card {
        margin-bottom: 30px;
        &:hover,
        &:active,
        &:focus {
            transform: translateY(-10px);
        }
    }
    .product-list-col .product-card-col {
        margin-bottom: 2.5em;
    }
}
.productpreview {
    padding-top: 15px;
    padding-bottom: 15px;
    &.carousel {
        .carousel-inner {
            max-width: 85%;
            margin-left: auto;
            margin-right: auto;
        }
        .carousel-item {
            background-color: $white;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            border: none;
            img {
                opacity: 0;
            }
        }
    }
}
.color-option.carousel-indicators {
    position: static;
    display: inline-block;
    margin: 0;
    list-style: none;
}

/* ************************ pagination ************************** */
.page-item {
    &.active {
        .page-link {
            color: $black-light;
            border-color: $black-light;
        }
    }
    .page-link {
        background-color: transparent;
        color: $black-light;
        border-color: $black-light;
        font-size: 0.9em;
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        &:hover,
        &:focus,
        &:active {
            background-color: $yellow;
        }
    }
    &:first-child,
    &:last-child {
        .page-link {
            border-radius: 0;
        }
    }
    &.disabled {
        .page-link {
            background-color: transparent;
            border-color: $black-light;
        }
    }
}

/* ************************ Blog Single page and about page ************************** */
.blog-single-contianer,
.story-container,
.sm-container {
    padding-top: 4.6em;
    padding-bottom: 4em;
    max-width: 1145px;
    h3 {
        line-height: 1.3em;
    }
    .date {
        margin-bottom: 1em;
    }
    .share-btn-wrap {
        margin-bottom: 2.7em;
    }
    p {
        line-height: 1.7em;
    }
    .img-caption {
        background-color: $white;
        padding: 1em 1.8em;
        margin-bottom: 5em;
    }
}
.story-container {
    max-width: 100%;
}
.two-column {
    column-count: 2;
    column-gap: 30px;
    text-align: justify;
}
.thumb-container {
    padding: 0 10px;
}
.blog-detail {
    img {
        width: 100%;
        max-width: 100%;
    }
}
/* ************************ Product Single Page ************************** */
.product-single-wrapper {
    padding-top: 13em;
    .features {
        h3 {
            font-size: 1.4em;
        }
        ul {
            padding-left: 1em;
            margin-bottom: 2.8em;
            li {
                margin-bottom: 0.3em;
            }
        }
    }
    .col.thumb {
        padding-top: 10px;
        padding-bottom: 30px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .single-product-carousel-container {
        .thumb-bg {
            min-height: 100%;
            max-height: 100%;
            border: #fff 14px solid;
            background-color: #fff;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            img {
                opacity: 0;
                width: 100%;
                height: auto;
            }
        }
    }
    .product-detail-col {
        max-width: 635px;
        @include media-breakpoint-up(xl) {
            padding-left: 7.1em;
        }
        h4 {
            font-size: 1.3em;
            padding-bottom: 0;
            margin-bottom: 0;
            line-height: 1.4em;
        }
        h3 {
            font-size: 2.4em;
            line-height: 1.2em;
            margin-top: 0.3em;
            padding-top: 0;
        }
        .price {
            font-size: 1.2em;
            margin-top: 1em;
            font-family: Oswald;
            font-weight: 600;
        }
        .prduct-dis {
            font-size: 1em;
            margin-top: 2.3em;
            margin-bottom: 5.6em;
        }
        h5 {
            font-family: "Roboto Condensed", sans-serif;
            font-weight: 700;
            font-size: 0.9em;
            @include media-breakpoint-up(xl) {
                max-width: 485px;
                .btn-md {
                    margin-top: -1.3em;
                }
            }
        }
        .size-option {
            margin-top: 1.6em;
        }
        .quantity {
            font-family: "Roboto Condensed", sans-serif;
            font-weight: 700;
            font-size: 0.8em;
            margin-top: 2.4em;
            .quantity-input-wrap {
                display: inline-block;
                margin-left: 2.1em;
            }
        }
    }
    .color-option {
        margin-top: 3.2em;
        margin-bottom: 3.3em;
        h5 {
            padding-right: 2em;
            position: relative;
        }
    }
}

/* ************************ form style ************************** */
.custom-select {
    -webkit-appearance: none;
    border-radius: 0;
}
.form-control:focus {
    box-shadow: none;
}
.quantity-input {
    .inline-group {
        max-width: 9rem;
        padding: 0.5rem;
    }
    .inline-group .form-control {
        text-align: right;
    }
    .form-control[type="number"]::-webkit-inner-spin-button,
    .form-control[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    &.input-group {
        width: 12em;
    }
    input.form-control.quantity {
        margin-top: 0px;
        height: auto;
        border: 1px solid $secondary;
        text-align: center;
        font-size: 1.1em;
        border-left: none;
        border-right: none;
        background-color: transparent;
    }
    .custom-control-input:checked ~ .custom-control-label::before {
        border-color: $gray;
        background-color: $gray;
    }
}
label.custom-control-label span {
    position: absolute;
    top: 3px;
    left: -18px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
}
.color-option .rm-color.custom-control-label::before {
    background-color: transparent !important;
}
.subscribe-form,
.promo-code-form {
    font-size: 16px;
    p {
        font-size: 0.8em;
    }
    .form-control,
    .btn {
        font-size: 0.6em;
        line-height: 1.9em;
        height: 4em;
        border-radius: 0;
    }
}
.promo-code {
    margin-top: 0.9em;
    font-size: 0.9em;
    .promo-code-form {
        .form-control,
        .btn,
        .btn-primary.gray-bordered {
            border-color: $gray-light;
        }
    }
}
.slider.slider-horizontal {
    max-width: 90%;
    margin-left: 1em;
}
.slider {
    &.slider-horizontal {
        .slider-track {
            height: 2px;
            .slider-selection,
            .slider-track-low,
            .slider-track-high {
                background-color: rgba(0, 0, 0, 0.26);
                background-image: none;
            }
            .slider-selection {
                background-color: $black;
            }
        }
    }
    .slider-handle {
        width: 12px;
        height: 12px;
        background: $black;
        outline: none;
    }
}
.price-option {
    #pirceview {
        &:before {
            content: "Rs ";
        }
    }
}
.tooltip.tooltip-main.bs-tooltip-top.show {
    display: none !important;
}
/* ************************ modal style ************************** */
.modal,
.alert {
    .modal-content {
        border-radius: 0;
        background-color: $light;
        border: none;
        a {
            color: $body-color;
        }
        .btn.btn-outline-dark {
            &:hover,
            &:focus,
            &:active {
                color: $white;
            }
        }
    }
    .modal-header,
    .modal-footer {
        border-radius: 0;
        border: none;
    }
    .modal-footer {
        &.center {
            justify-content: center;
        }
    }
    .close {
        font-size: 1em;
    }
    .notice-txt {
        font-size: 13px;
    }
}
.alert {
    z-index: 9999;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 5vh;
    width: 800px;
    padding: 30px;
    max-width: 80%;
    border-radius: 0;
    &.alert-success {
        color: #52570f;
        background-color: #cfdb29;
        border-color: #cfdb29;
    }
    .modal-title {
        font-weight: bold;
    }
    &.alert-sm {
        width: 100%;
        max-width: 300px;
    }
    &.alert-md {
        width: 100%;
        max-width: 500px;
    }
    &.alert-lg {
        width: 100%;
        max-width: 800px;
    }
    &.alert-xl {
        width: 100%;
        max-width: 1140px;
    }
    &.alert-danger {
        background-color: $danger;
        border-color: $danger;
        color: $white;
        .close {
            color: $white;
            text-shadow: none;
        }
    }
    &.alert-info {
        background-color: $cyan-dark;
        border-color: $cyan-dark;
        color: $white;
        .close {
            color: $white;
            text-shadow: none;
        }
    }
}
/* ************************ cart-page-wrapper style ************************** */
.cart-page-wrapper {
    padding-top: 12em;
    font-size: 1em;
    h4 {
        padding: 1em 0em 0.3em 0em;
    }
    .product-quantity {
        .quantity-input-wrap {
            .quantity-input {
                &.input-group {
                }
                .btn {
                    padding: 0 0.3em;
                    height: 1.9rem;
                    line-height: 1.9rem;
                }
            }
            .form-control.quantity {
                padding: 0;
                height: 1.9rem;
                max-width: 2.2em;
            }
        }
    }
}
.cart-col-inner,
.order-summary-col-inner {
    background-color: $white;
    .product-image {
        width: 10%;
    }
    .column-labels,
    .product-row {
        width: 100%;
        display: block;
        border-bottom: 1px solid $black;
        opacity: 0.5;
        position: relative;
        @include media-breakpoint-down(sm) {
            padding-left: 2em;
            padding-right: 2em;
        }
        label,
        .p-col {
            margin-bottom: 0;
            @include media-breakpoint-up(md) {
                float: left;
                text-align: left;
            }
            &.product-image,
            &.product-name,
            &.product-size,
            &.product-color,
            &.product-quantity,
            &.product-price,
            &.product-action {
                width: 100%;
                padding-left: 0;
                text-align: left;
                @include media-breakpoint-up(md) {
                    width: 20%;
                }
            }
            &.product-image {
                @include media-breakpoint-down(sm) {
                    position: absolute;
                    top: 2.5em;
                    left: 0;
                    width: 20%;
                    padding-left: 1em;
                    img {
                        max-width: 100%;
                    }
                }
                @include media-breakpoint-up(md) {
                    padding-left: 2em;
                }
            }
            &.product-name {
                padding-right: 1em;
                @include media-breakpoint-down(sm) {
                    margin-bottom: 0.5em;
                }
            }
            &.product-size {
                @include media-breakpoint-down(sm) {
                    float: left;
                    width: 50%;
                    display: inline-block;
                }
                @include media-breakpoint-up(md) {
                    width: 9%;
                }
            }
            &.product-color {
                span.d-inline {
                    position: relative;
                    top: -0.3em;
                }
                @include media-breakpoint-down(sm) {
                    margin-top: 0.2em;
                    float: left;
                    width: 50%;
                    display: inline-block;
                    &:after {
                        content: "";
                        display: table;
                        clear: both;
                    }
                }
                @include media-breakpoint-up(md) {
                    width: 11%;
                }
            }
            &.product-quantity {
                @include media-breakpoint-down(sm) {
                    margin-bottom: 0.5em;
                    margin-top: 0.5em;
                }
                @include media-breakpoint-up(md) {
                    width: 18%;
                }
            }
            &.product-price {
                @include media-breakpoint-up(md) {
                    width: 13%;
                }
            }
            &.product-action {
                padding-right: 24px;
                @include media-breakpoint-down(sm) {
                    position: absolute;
                    top: 32px;
                    right: 1em;
                    width: auto;
                }
                @include media-breakpoint-up(md) {
                    width: 6%;
                    text-align: center;
                }
            }
            .p-color {
                @include media-breakpoint-down(sm) {
                    text-align: center;
                    display: inline-block;
                }
            }
        }
    }
    .product-row {
        padding-top: 2.5em;
        padding-bottom: 0.9em;
        opacity: 1;
        border-color: lighten($gray, 50%);

        @include media-breakpoint-down(sm) {
            padding-left: 25%;
            border-top: 1px solid lighten($gray, 50%);
            border-bottom: none;
        }
        @include media-breakpoint-up(sm) {
            border-bottom: none;
        }

        .product-cat {
            font-size: 0.7em;
            width: 100%;
        }
        .product-name-text {
            width: 100%;
            font-family: "Roboto Condensed", sans-serif;
            font-weight: 700;
            font-size: 1em;
            margin-top: 0em;
        }
        .product-action {
            .btn {
                padding: 0.3em 0.6em;
                font-size: 0.8em;
            }
        }
    }
    .container-fluid.summary-contianer {
        padding: 0 1em;
    }
}
.p-color {
    width: 14px;
    height: 14px;
    display: block;
    border-radius: 50%;
    box-shadow: $gray-light 0px 0px 0px 1px;
    border: $white 1px solid;
    &.red {
        background-color: $red;
    }
    &.offwhite {
        background-color: $gray-light;
    }
    &.black {
        background-color: $black;
    }
    &.blue {
        background-color: $blue;
    }
    &.green {
        background-color: $green;
    }
    &.light-orange {
        background-color: $orange-light;
    }
}
.product-price {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
}
.cart-col-inner {
    h4 {
        @include media-breakpoint-down(sm) {
            padding-left: 1em;
        }
    }
}
.order-summary-col-inner {
    padding-left: 2em;
    padding-right: 2em;
    h4 {
        margin-bottom: 1.1em;
    }
    .row {
        margin-bottom: 0.6em;
    }
}
.total-row {
    padding-top: 0.9em;
    padding-bottom: 0.8em;
    font-family: Oswald;
    font-weight: 600;
}
.checkout-btn {
    margin-top: 1.5em;
    margin-bottom: 1.9em;
}
.cart-col {
    h4 {
        @include media-breakpoint-up(md) {
            padding-left: 2em;
        }
    }
}

/* ************************ cart overlay style ************************** */
.cart-overlay {
    width: 705px;
    max-width: 100%;
    &.cart-overlay-sm {
        width: calc(100vw - 125px);
    }
    h4 {
        color: $white;
        padding-left: 1em;
        .close {
            color: $white;
            text-shadow: none;
            border: 1px solid $white;
            padding: 4px;
            font-size: 0.7em;
            margin: 0.4em 2em;
        }
    }
    .cart-col-inner {
        background-color: rgba(0, 0, 0, 1);
        padding-top: 1.2em;
        margin-bottom: 0;
        .product-name {
            width: 60%;
        }
    }
    .product-row {
        margin-top: 1.3em;
        padding-top: 0;
    }
    .product-image {
        width: 17%;
        padding: 0 20px 0 20px;
        float: left;
    }
    .product-image img {
        max-width: 100%;
    }
    .product-name,
    .product-price {
        float: left;
        color: $white;
        width: 60%;
    }
    .product-price {
        width: 20%;
        .product-price-txt {
            margin-bottom: 1.1em;
        }
        .btn {
            color: $yellow;
            font-size: 0.8em;
        }
    }
    .product-color {
        .p-color {
            top: 4px;
            position: relative;
        }
    }
    .product-color,
    .product-size,
    .product-quantity {
        font-size: 0.8em;
        margin-right: 3em;
    }
    .sub-total-row {
        border-top: 1px solid $white;
        border-bottom: 1px solid $white;
        color: $white;
        padding: 1.1em 0;
    }
    .checkout-row {
        text-align: center;
        a {
            color: $yellow;
            text-decoration: none;
        }
        .checkout-btn {
            color: $gray;
            margin-top: 1.5em;
            margin-bottom: 1.5em;
        }
    }
    .sub-total-txt {
        font-family: "Roboto Condensed", sans-serif;
        width: 77%;
        float: left;
        text-align: right;
        font-weight: 700;
        padding-right: 2em;
    }
    .sub-total {
        font-family: "Roboto Condensed", sans-serif;
        float: left;
        width: 18%;
        font-weight: 700;
    }
    .close:not(:disabled):not(.disabled):focus,
    .close:not(:disabled):not(.disabled):hover {
        outline: none;
    }
}

/* ************************ search style ************************** */
.search-input {
    &#search-trigger,
    &#search-trigger-sm {
        position: relative;
        cursor: pointer;
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: transparent;
            z-index: 2;
        }
    }
}
body {
    transition: transform 0.5s ease;
    .search-overlay {
        opacity: 0;
        position: fixed;
        z-index: -9999;
        top: 0;
        left: 0;
        width: 100%;
        padding: 50px;
        padding-bottom: 400px;
        height: calc(100vh + 300px);
        background: rgba(0, 0, 0, 0.9);
        padding-top: 150px;
        display: none;
        overflow: auto;
        .search-input {
            border-bottom: 2px solid $white;
        }
        .form-control {
            width: calc(100% - 40px);
        }
        .close {
            position: absolute;
            top: 0;
            right: 0;
            margin: 40px;
            padding: 10px;
            color: $white;
            outline: none;
            transition: all 0.3s ease;
            &:hover {
                transform: rotateZ(90deg);
            }
        }
    }
}
.cart-col-inner {
    .outer-container {
        padding-left: 2.4em;
        padding-right: 2.4em;
    }
    .form-control {
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 0;
        &:focus,
        &:active {
            border-bottom: 2px solid $black;
        }
        &.error {
            border-bottom: 2px solid $danger;
        }
    }
    label.error {
        color: $danger;
        position: relative;
        width: 100%;
        &:before {
            content: "\e905";
            position: absolute;
            top: 3px;
            right: 0;
            display: block;
            font-family: "icomoon" !important;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            border: none;
        }
    }
}

/* ************************ tab nav style ************************** */
.nav-tabs {
    border-bottom: 1px solid $black;
    .nav-item {
        .nav-link {
            border: 1px solid $black-light;
            border-left-color: transparent;
            border-radius: 0;
            font-family: "Roboto Condensed", sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 1em;
            line-height: 1.4em;
            padding: 0.6em 1.3em 0.7em 1.3em;
            color: $gray;
            &.show .nav-link,
            &.active {
                background: $yellow;
                border-radius: 0;
            }
        }
        &:first-child .nav-link {
            border-left: 1px solid $black-light;
        }
    }
}
.tab-nav-with-paination {
    position: relative;
    nav {
        position: absolute;
        right: 0;
        top: 0;
    }
}

/* ************************ productzoom slider ************************** */
#productzoom,
.single-product-carousel-container {
    .carousel-inner {
        height: 80vh;
    }
    .modal-body {
        padding: 0;
    }
    a {
        color: $gray;
        font-size: 2em;
    }
    .carousel-item {
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        max-height: 100%;
        min-height: 100%;
        img {
            margin: 0 auto;
            opacity: 0;
        }
    }
    .carousel .carousel-item {
        background-color: $white;
    }
    .carousel-indicators {
        li {
            width: 50px;
            height: 50px;
            background-size: cover;
            background-position: center center;
        }
    }
    .close {
        outline: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 20px;
        height: 20px;
        z-index: 9;
        font-size: 1.5rem;
        margin: 15px;
        transition: all 0.3s ease;
        &:hover {
            transform: rotateZ(90deg);
        }
    }
    .carousel-control-next:focus,
    .carousel-control-next:hover,
    .carousel-control-prev:focus,
    .carousel-control-prev:hover {
        color: $gray;
    }
}
.single-product-carousel-container {
    .carousel-inner {
        height: auto;
        .carousel-item {
            border: transparent 50px solid;
        }
    }
    .carousel-indicators {
        position: relative;
        margin-left: -15px;
        margin-right: -15px;
    }
    .thumb {
        cursor: pointer;
        &.active {
            opacity: 0.7;
        }
    }
}
#productzoom {
    .carousel-item {
        img {
            max-height: 80vh;
        }
    }
}

/* ************************ login page ************************** */
.login-body {
    height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 0px;
    background: #49494b url("../../images/backendlogin-bg.jpg") repeat-y 50% top;
    .form-signin {
        width: 100%;
        max-width: 390px;
        padding: 15px;
        padding-bottom: 220px;
        margin: auto;
    }
    .form-signin .checkbox {
        font-weight: 400;
    }
    .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
        border-radius: 0;
        border: 1px solid $gray;
    }
    .form-signin .form-control:focus {
        z-index: 2;
    }
    .form-signin input[type="email"] {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .form-container {
        background-color: $white;
        padding: 25px;
    }
}

.callout-outer {
    @include media-breakpoint-up(lg) {
        background-color: $gray-light;
    }
    border-bottom: 1px solid $gray;
    position: relative;
    &:before {
        @include media-breakpoint-up(lg) {
            content: "";
            display: block;
            background-color: $yellow-dark;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 50%;
        }
    }
}
.callout {
    font-size: 18px;
    @include media-breakpoint-down(md) {
        width: 100%;
        max-width: 100%;
        background: $yellow;
    }
    position: relative;
    @include media-breakpoint-up(xxxl) {
        font-size: 15px;
    }
    h5 {
        line-height: 1.4em;
        text-align: center;
        @include media-breakpoint-up(xxxl) {
            font-size: 2.29em;
        }
    }
    .btn {
        border: $gray 1px solid;
        &:hover {
            color: $white;
        }
    }
    .btn {
        font-size: 11px;
        @include media-breakpoint-up(xxxl) {
            font-size: 15px;
        }
    }
}
.callout-col {
    padding-top: 70px;
    padding-bottom: 70px;
}
.bg-gray-light {
    background-color: $gray-light;
}
.bg-blue {
    background-color: $cyan-dark;
}
.color-img-radio {
    padding-left: 0;
    .custom-control-label {
        &::before,
        &::after,
        span {
            display: none !important;
            opacity: 0 !important;
        }
    }
    .color-image-thumb {
        width: 64px;
        height: 64px;
        background-color: $white;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        border: 5px solid $white;
    }
    .custom-control-input {
        z-index: 9999;
        opacity: 1;
        width: 100%;
        height: 100%;
        opacity: 0;
        &:checked ~ .custom-control-label {
            border: $gray 1px solid;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}
/***************  form style 2 *****************/
.form-style2 {
    .form-control {
        border-radius: 0;
        border: 1px solid $gray-light;
        &:active,
        &:focus {
            border-color: $gray;
        }
    }
}
.star-box {
    .star {
        width: 24px;
        height: 24px;
        display: inline-block;
        background: url("../../images/star.png") no-repeat center center;
        transition: all 0.3s ease;
        &.checked {
            background-image: url("../../images/star-on.png");
        }
        &:hover {
            transform: scale(1.1);
        }
    }
    &.editable {
        .star {
            &:hover {
                background-image: url("../../images/star-on.png");
            }
        }
    }
    &.star1 {
        .star:first-child {
            background-image: url("../../images/star-on.png");
        }
    }
    &.star2 {
        .star:first-child,
        .star:nth-child(2) {
            background-image: url("../../images/star-on.png");
        }
    }
    &.star3 {
        .star:first-child,
        .star:nth-child(2),
        .star:nth-child(3) {
            background-image: url("../../images/star-on.png");
        }
    }
    &.star4 {
        .star:first-child,
        .star:nth-child(2),
        .star:nth-child(3),
        .star:nth-child(4) {
            background-image: url("../../images/star-on.png");
        }
    }
    &.star5 {
        .star:first-child,
        .star:nth-child(2),
        .star:nth-child(3),
        .star:nth-child(4),
        .star:nth-child(5) {
            background-image: url("../../images/star-on.png");
        }
    }
}

/***************  contact page style *****************/
.map-container {
    height: 730px;
    max-height: 70vh;
    background: #ccc;
    iframe {
        width: 100%;
        height: 100%;
    }
}
.no-banner-page {
    padding-top: 155px;
    padding-bottom: 50px;
}
.col.card-col {
    &:hover {
        z-index: 1;
    }
}
.sharebtn {
    position: relative;
    &:hover .share {
        display: block;
    }
    .share {
        display: none;
        position: absolute;
        top: 0;
        left: 100%;
        content: "";
        width: auto;
        z-index: 999;
        white-space: nowrap;
        font-size: 1.6em;
        line-height: 0;
        background-color: transparent;
        border: $gray solid 1px;
        border-left-color: transparent;
        height: 100%;
        a {
            text-decoration: none;
            color: $gray-dark;
            display: inline-block;
            margin-right: 0;
            font-size: 0.9em;
            padding: 0.2em 0.3em;
            vertical-align: middle;
            max-height: 100%;
            &:hover {
                background-color: $gray-dark;
                color: $white;
            }
        }
    }
}

.review-box {
    .review-btn {
        font-size: 0.9em;
    }
}
