<template>
  <v-btn
    small
    text
    tile
    style="background:#EEFE3A"
    outlined
    @click.stop="callback($event)"
    class="text-capitalize custombutton"
  >
    Add New
    <i class="fas fa-plus" right style="font-size: 12px;margin-left:5px"></i>
  </v-btn>
</template>

<script>
export default {
  methods: {
    callback: function(e) {
      this.$emit("click", e);
    }
  }
};
</script>