<template>
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/admin" class="text-decoration-none"
            >Dashboard</router-link
          >
        </li>
        <li class="breadcrumb-item">
          <router-link to="/admin/products" class="text-decoration-none"
            >Products</router-link
          >
        </li>
        <li class="breadcrumb-item active" aria-current="page">Add Product</li>
      </ol>
    </nav>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Add Product</h3>
        <div class="card-tools">
          <div style="display: flex; flex-direction: row">
            <h6 class="mr-2 mt-2">Parallax</h6>
            <v-switch
              inset
              v-model="addProductForm.is_highlighted"
              dense
              flat
              color="orange"
              class="mr-5 my-0"
            ></v-switch>
            <h6 class="mr-2 mt-2">Featured</h6>
            <v-switch
              inset
              v-model="addProductForm.featured"
              flat
              dense
              color="orange"
              class="mr-5 my-0"
            ></v-switch>
            <h6 class="mr-2 mt-2">Publish</h6>
            <v-switch
              inset
              v-model="addProductForm.published"
              flat
              dense
              color="orange"
              class="mr-5 my-0"
            ></v-switch>
            <v-btn
              color="blue-grey darken-3"
              tile
              depressed
              dense
              dark
              @click="saveProduct()"
              class="mr-2"
              >Save</v-btn
            >
            <v-btn
              color="blue-grey darken-3"
              tile
              depressed
              dense
              dark
              @click="pasteProduct()"
              v-if="checkLocalStorage()"
              >Paste</v-btn
            >
            <ProductMenu @close="closeDialog()" />
          </div>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <v-form ref="productForm" class="pb-0">
          <v-row>
            <v-col cols="12" md="6" class="pb-0">
              <v-text-field
                label="Name"
                :rules="nameRules"
                required
                outlined
                dense
                class="font-weight-light"
                v-model="addProductForm.name"
              />
            </v-col>

            <v-col cols="12" md="6" class="pb-0">
              <v-select
                :items="this.getBrandItems"
                label="Brands"
                :rules="brandRule"
                :value="brand"
                outlined
                required
                dense
                @change="brandChange"
              ></v-select>
            </v-col>
            <v-col cols="12" md="6" class="pt-0 pb-0">
              <v-select
                :items="this.getDivisionItems"
                label="Division"
                v-model="selectedDivision"
                dense
                outlined
                multiple
              >
                <template slot="selection" slot-scope="data">
                  <v-chip>{{ data.item }}</v-chip>
                </template>
                <template slot="item" slot-scope="data">
                  <template v-if="typeof data.item !== 'object'">
                    <v-list-item-content
                      v-text="data.item"
                    ></v-list-item-content>
                  </template>
                  <template>
                    <v-list-item-content>
                      <v-list-item-title>{{
                        data.item.name
                      }}</v-list-item-title>
                    </v-list-item-content>
                  </template>
                </template>
              </v-select>
            </v-col>
            <v-col cols="12" md="6" class="pt-0 pb-0">
              <v-select
                :items="this.getProductCategoryItems"
                label="Product Category"
                :rules="productCategoryRule"
                dense
                :value="productCategory"
                outlined
                required
                @change="productCategoryChange"
              ></v-select>
            </v-col>
            <v-col cols="12" md="6" class="pt-0 pb-0">
              <v-text-field
                label="Price"
                :rules="priceRules"
                required
                type="number"
                dense
                min="0"
                outlined
                class="font-weight-light"
                v-model="addProductForm.price"
              />
            </v-col>
            <v-col cols="12" md="6" class="pt-0 pb-0">
              <v-combobox
                outlined
                :items="filterTags"
                multiple
                dense
                label="Tags"
                v-model="addProductForm.tags"
              >
                <template v-slot:selection="{ attrs, item, select, selected }">
                  <v-chip
                    v-bind="attrs"
                    :input-value="selected"
                    close
                    dense
                    @click="select"
                    @click:close="removeTag(item)"
                  >
                    <strong>{{ item }}</strong>
                  </v-chip>
                </template>
              </v-combobox>
            </v-col>
            <v-col cols="12" md="6" class="pb-0 pt-0">
              <v-select
                :items="this.getColorItems"
                label="Color"
                :rules="colorRule"
                v-model="selectedColor"
                dense
                outlined
                item-text="name"
                item-value="name"
                required
              >
                <template slot="selection" slot-scope="data">
                  <v-chip>
                    <v-avatar
                      left
                      :color="data.item.hex"
                      size="5"
                      dense
                    ></v-avatar>
                    {{ data.item.name }}
                  </v-chip>
                </template>
                <template slot="item" slot-scope="data">
                  <template v-if="typeof data.item !== 'object'">
                    <v-list-item-content
                      v-text="data.item"
                    ></v-list-item-content>
                  </template>
                  <template>
                    <v-list-item-icon>
                      <v-avatar
                        :color="data.item.hex"
                        size="20"
                        dense
                      ></v-avatar>
                    </v-list-item-icon>
                    <v-list-item-content>
                      <v-list-item-title>{{
                        data.item.name
                      }}</v-list-item-title>
                    </v-list-item-content>
                  </template>
                </template>
              </v-select>
            </v-col>
            <v-col cols="12" md="3" class="pt-0 pb-0">
              <v-text-field
                label="Sale Percentage"
                type="number"
                min="0"
                dense
                max="100"
                outlined
                class="font-weight-light"
                v-model="addProductForm.sale_price"
              />
            </v-col>
            <v-col cols="12" md="3" class="pt-0 pb-0">
              <v-container class="pt-0 pb-0">
                <v-row class="pt-0 pb-0">
                  <h6 class="mr-5 mt-5">Sale</h6>
                  <v-switch
                    inset
                    dense
                    v-model="addProductForm.sale"
                    flat
                    color="orange"
                  ></v-switch>
                </v-row>
              </v-container>
            </v-col>
            <v-col cols="12" md="6" class="pb-0 pt-0">
              <v-select
                :items="genders"
                label="Gender"
                dense
                v-model="addProductForm.genders"
                outlined
                multiple
              >
                <template slot="selection" slot-scope="data">
                  <v-chip dense>{{ data.item }}</v-chip>
                </template>
                <template slot="item" slot-scope="data">
                  <template v-if="typeof data.item !== 'object'">
                    <v-list-item-content
                      v-text="data.item"
                    ></v-list-item-content>
                  </template>
                  <template>
                    <v-list-item-content>
                      <v-list-item-title>{{
                        data.item.name
                      }}</v-list-item-title>
                    </v-list-item-content>
                  </template>
                </template>
              </v-select>
            </v-col>

            <v-col cols="12" md="12" class="pb-0 pt-0">
              <v-textarea
                outlined
                dense
                name="input-7-4"
                v-model="addProductForm.short_description"
                required
                counter
                :rules="shortDescriptionRules"
                label="Short Description(Max 255 characters)"
              ></v-textarea>
            </v-col>

            <v-col cols="12" md="6" class="pb-0 pt-0">
              <v-select
                :items="getSizesKey"
                label="Size Name"
                dense
                v-model="sizeGroup"
                :rules="sizeNameRule"
                required
                @change="sizeNameChange"
                outlined
              ></v-select>
            </v-col>

            <v-col cols="12" md="6" class="pb-0 pt-0">
              <v-select
                :items="size"
                label="Sizes"
                v-model="selectedSizes"
                outlined
                dense
                multiple
                @change="sizeSelectChange"
              >
                <template slot="selection" slot-scope="data">
                  <v-chip>{{ data.item }}</v-chip>
                </template>
                <template slot="item" slot-scope="data">
                  <template v-if="typeof data.item !== 'object'">
                    <v-list-item-content
                      v-text="data.item"
                    ></v-list-item-content>
                  </template>
                  <template>
                    <v-list-item-content>
                      <v-list-item-title>{{
                        data.item.name
                      }}</v-list-item-title>
                    </v-list-item-content>
                  </template>
                </template>
              </v-select>
            </v-col>

            <div class="col-md-12 py-0">
              <div v-if="this.sizeQuantity.length > 0">
                <hr style="color: black" />
                <h4 class="text-center">Size Quantity</h4>
                <div class="row">
                  <div
                    class="col-6 py-0"
                    v-for="(sq, index) in sizeQuantity"
                    :key="index"
                  >
                    <div class="card" style="box-shadow: none">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-4 py-0">
                            <v-text-field
                              :label="sq.key"
                              class="font-weight-light"
                              outlined
                              type="number"
                              dense
                              v-model="sq.quantity"
                            ></v-text-field>
                          </div>
                          <div class="col-8 py-0">
                            <v-text-field
                              label="SKU"
                              class="font-weight-light"
                              outlined
                              dense
                              v-model="sq.sku"
                            ></v-text-field>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <hr style="color: black" />
              </div>
            </div>

            <v-col cols="12" md="12" class="pt-0 pb-0">
              <h6>Features</h6>
              <quillEditor
                class="quill-editor"
                style="height: 500px"
                ref="myQuillEditor"
                v-model="addProductForm.features"
                :options="editorOption"
              ></quillEditor>
            </v-col>
          </v-row>

          <v-col cols="12" md="12" class="pl-0 pt-0" style="margin-top: 90px">
            <h6>Upload Photos</h6>
            <v-row class="pl-4">
              <a-upload
                listType="picture-card"
                :fileList="products"
                @preview="handlePreview"
                @change="handleChange"
                :beforeUpload="beforeUpload"
              >
                <div v-if="products.length < 5">
                  <a-icon type="plus" />
                  <div class="ant-upload-text">Upload</div>
                </div>
              </a-upload>
              <a-modal
                :visible="previewVisible"
                :footer="null"
                @cancel="handleCancel"
              >
                <img alt="example" style="width: 100%" :src="previewImage" />
              </a-modal>
            </v-row>
          </v-col>
        </v-form>
      </div>
    </div>
  </div>
</template>


<script>
import { mapGetters, mapMutations } from "vuex";
import Swal from "sweetalert2";
import { getImgPath } from "../../utils/path";
import { showToast, showDeleteConfirmation } from "../../utils/toast";
import moment from "moment";
import AddButton from "./AddButton";
import EditButton from "./EditButton";
import DeleteButton from "./DeleteButton";
import ProductMenu from "./ProductMenu";

import "quill/dist/quill.core.css";
import "quill/dist/quill.snow.css";
import "quill/dist/quill.bubble.css";
import { quillEditor, Quill } from "vue-quill-editor";
import ImageResize from "quill-image-resize";

// Register ImageResize module
Quill.register("modules/imageResize", ImageResize);
export default {
  components: {
    ProductMenu,
    quillEditor,
    AddButton,
    EditButton,
    DeleteButton,
  },
  data() {
    return {
      previewVisible: false,
      previewImage: "",

      products: [],

      selectedCategory: null,
      editorOption: {
        placeholder: "Enter Description",
        theme: "snow",
        modules: {
          imageResize: true,
          toolbar: [
            ["bold", "italic", "underline", "strike"],
            ["blockquote", "code-block"],
            [{ header: 1 }, { header: 2 }],
            [{ list: "ordered" }, { list: "bullet" }],
            [{ script: "sub" }, { script: "super" }],
            [{ indent: "-1" }, { indent: "+1" }],
            [{ direction: "rtl" }],
            [{ size: ["small", false, "large", "huge"] }],
            [{ header: [1, 2, 3, 4, 5, 6, false] }],
            [{ font: [] }],
            [{ color: [] }, { background: [] }],
            [{ align: [] }],
            ["clean"],
            ["link", "image", "video"],
          ],
        },
      },
      dialog: false,
      imageRules: [
        (v) => !!v || "Photo is required",
        (value) =>
          !value ||
          value.size < 2000000 ||
          "Profile pic should be less than 2 MB!",
      ],
      brandRule: [(v) => !!v || "Brand is required"],
      productCategoryRule: [(v) => !!v || "Product Category is required"],
      sizeNameRule: [(v) => !!v || "Size Name is required"],
      nameRules: [
        (v) => !!v || "Name is required",
        (v) => (v && v.length <= 50) || "Name must be less than 50 characters",
      ],

      categoriesFetched: false,
      colorFetched: false,
      color: "",
      colorRule: [(v) => !!v || "Color is required"],
      priceRules: [(v) => !!v || "Price is required"],
      shortDescriptionRules: [
        (v) => !!v || "Short Description is required",
        (v) =>
          (v && v.length <= 255) ||
          "Short Description must be less than 255 characters",
      ],
      sizeGroup: "",
      size: [],
      selectedSizes: [],
      genders: ["Men", "Women", "Youth", "Unisex"],
      selectedColor: "",
      selectedDivision: [],
      brand: "",
      productCategory: "",
      sizeQuantity: [],
      addProductForm: {
        name: "",
        code: "",
        price: "",
        sale_price: "",
        brand_id: "",
        product_category_id: "",
        short_description: "",
        features: "",
        sizes: [],
        tags: [],
        color: "",
        genders: [],
        divisions: [],
        sale: false,
        featured: false,
        published: false,
        is_highlighted: false,
      },
    };
  },
  methods: {
    imgPath: getImgPath,
    ...mapMutations({
      addProductSuccess: "product/ADD_PRODUCT_SUCCESS",
      editProductSuccess: "product/EDIT_PRODUCT_SUCCESS",
    }),
    sizeSelectChange(sizeArr) {
      this.sizeQuantity = [];
      if (this.selectedSizes.length > 0) {
        const filteredSizeGroup = this.sizes.filter(
          (size) => size.group == this.sizeGroup
        );

        if (filteredSizeGroup.length > 0) {
          for (const filteredSizeGroupSize of filteredSizeGroup[0].sizes) {
            for (const selectedSize of sizeArr) {
              if (selectedSize == filteredSizeGroupSize.name) {
                this.sizeQuantity.push({
                  key: selectedSize,
                  value: filteredSizeGroupSize.id,
                  sku: "",
                  quantity: 0,
                });
              }
            }
          }
        }
      }
    },
    sizeNameChange(choosenSize) {
      const filteredSize = this.sizes.filter((s) => s.group == choosenSize);
      if (filteredSize.length > 0) {
        this.sizeGroup = filteredSize[0].group;
        this.size = filteredSize[0].sizes.map((s) => s.name);
      }
    },
    pasteProduct() {
      const product = localStorage.getItem("copied");
      if (product != null) {
        const jsonProduct = JSON.parse(product);
        this.addProductForm.name = jsonProduct.name;
        this.addProductForm.code =
          jsonProduct.code == null ? "" : jsonProduct.code;
        if (this.brands.length > 0) {
          const filteredBrands = this.brands.filter(
            (brand) => brand.id == jsonProduct.brand_id
          );

          if (filteredBrands.length > 0) {
            this.brandChange(filteredBrands[0].name);
            this.brand = filteredBrands[0].name;
          }
        }

        if (jsonProduct.product_category != null) {
          this.productCategory = jsonProduct.product_category.name;
          this.productCategoryChange(jsonProduct.product_category.name);
        }

        this.addProductForm.price = jsonProduct.price;
        this.addProductForm.sale_price =
          jsonProduct.sale_price == null ? "" : jsonProduct.sale_price;
        this.addProductForm.quantity = jsonProduct.quantity;
        this.addProductForm.quantity = jsonProduct.quantity;
        this.addProductForm.short_description = jsonProduct.short_description;
        this.addProductForm.sale = jsonProduct.sale == 1 ? true : false;
        this.addProductForm.featured = jsonProduct.featured == 1 ? true : false;
        this.addProductForm.published =
          jsonProduct.published == 1 ? true : false;
        this.addProductForm.featured = jsonProduct.featured == 1 ? true : false;
        this.addProductForm.is_highlighted =
          jsonProduct.is_highlighted == 1 ? true : false;
        this.addProductForm.features = jsonProduct.features;
        this.addProductForm.tags = jsonProduct.tags.map((tag) => tag.name);
        if (jsonProduct.sizes.length > 0) {
          const selectedGroupSize = this.sizes.filter(
            (size) => size.id == jsonProduct.sizes[0].group_size_id
          );
          if (selectedGroupSize.length > 0) {
            this.sizeGroup = selectedGroupSize[0].group;
            this.sizeNameChange(this.sizeGroup);
            this.selectedSizes = jsonProduct.sizes.map((size) => size.name);
          }
        }

        this.addProductForm.genders = jsonProduct.genders.map(
          (gender) => gender.name
        );
        this.selectedColor = jsonProduct.colors.map((color) => color.name);
        this.selectedDivision = jsonProduct.divisions.map(
          (division) => division.name
        );
      }
    },
    removeTag(item) {
      this.addProductForm.tags.splice(
        this.addProductForm.tags.indexOf(item),
        1
      );
      this.addProductForm.tags = [...this.addProductForm.tags];
    },
    addUpload(index) {
      this.inputs.push({ product: "" });
    },
    removeUpload(index) {
      this.inputs.splice(index, 1);
    },
    fetchColors() {
      this.$store.dispatch("color/fetchColors");
    },
    handleCancel() {
      this.previewVisible = false;
    },
    handlePreview(file) {
      this.previewImage = file.url || file.thumbUrl;
      this.previewVisible = true;
    },
    checkLocalStorage() {
      if (localStorage.getItem("copied") != null) {
        return true;
      }
      return false;
    },
    beforeUpload(file) {
      file["status"] = "success";
      const isCorrectType =
        file.type === "image/jpeg" ||
        file.type === "image/jpg" ||
        file.type === "image/png";
      if (!isCorrectType) {
        showToast("error", "You can only upload JPEG/JPG/PNG file!");
        file["status"] = "error";
      }
      const isLt2M = file.size / 1024 / 1024 < 3;
      if (!isLt2M) {
        showToast("error", "Image must smaller than 3MB!");
        file["status"] = "error";
      }

      return false;
      //return isCorrectType && isLt2M;
    },
    handleChange({ fileList }) {
      const filteredFiles = fileList.filter((file) => {
        return file.status != "error";
      });
      this.products = filteredFiles;
    },
    onEditorChange({ editor, html, text }) {
      this.addProductForm.features = html;
    },
    brandChange(inputBrand) {
      const filteredBrand = this.brands.filter(
        (brand) => brand.name.toLowerCase() == inputBrand.toLowerCase()
      );
      if (filteredBrand.length > 0) {
        this.addProductForm.brand_id = filteredBrand[0].id;
      }
    },
    productCategoryChange(pCategory) {
      const filteredProductCategory = this.productCategories.filter(
        (pcat) => pcat.name == pCategory
      );
      if (filteredProductCategory.length > 0) {
        this.addProductForm.product_category_id = filteredProductCategory[0].id;
      }
    },
    saveProduct() {
      if (this.$refs.productForm.validate()) {
        if (this.products.length > 0) {
          this.addProductForm["photos"] = this.products;
        }
        if (this.selectedColor) {
          this.colors.map((colorObject) => {
            if (colorObject.name == this.selectedColor) {
              this.addProductForm.color = colorObject.id;
            }
          });
        }
        if (this.selectedDivision.length > 0) {
          const tempDivisionId = [];
          this.selectedDivision.map((division) => {
            this.divisions.map((divisionObject) => {
              if (divisionObject.name == division) {
                tempDivisionId.push(divisionObject.id);
              }
            });
          });
          this.addProductForm.divisions = tempDivisionId;
        }

        if (this.sizeQuantity.length > 0) {
          this.addProductForm["sizeQuantity"] = this.sizeQuantity;
        }

        this.$store
          .dispatch("product/createProduct", this.addProductForm)
          .then((result) => {
            if (!result.errors) {
              this.$refs.productForm.reset();
              this.showDialog = false;
              this.addProductSuccess(result);
              this.addProductForm.photos = [];
              this.addProductForm.sizes = [];
              this.selectedSizes = [];
              this.size = [];
              this.sizeGroup = "";
              this.addProductForm.featured = false;
              this.addProductForm.published = false;
              this.addProductForm.is_highlighted = false;
              this.featured = false;
              this.published = false;
              this.brand = "";
              this.productCategory = "";
              this.addProductForm.features = "";
              this.products = [];
              showToast("success", "Product Added Successfully");
              this.$router.push("/admin/products");
            } else {
              showToast("error", JSON.stringify(result.errors));
            }
          });
      }
    },
  },
  computed: {
    ...mapGetters({
      tags: "blog/tags",
      brands: "brand/brands",
      divisions: "division/divisions",
      productCategories: "productcategory/productCategories",
      colors: "color/colors",
      sizes: "size/sizes",
    }),
    getSizesKey: function () {
      return this.sizes.map((size) => size.group);
    },
    getSizes: function () {
      const s = [];
      for (const size of this.sizes) {
        const temp = {
          header: size.group,
        };
        s.push(temp);
        for (const sz of size.sizes) {
          const temp = {
            name: sz.name,
          };
          s.push(temp);
        }
      }
      return s;
    },
    filterTags: function () {
      return this.tags.map((tag) => tag.name);
    },
    getDivisionItems: function () {
      return this.divisions.map((division) => division.name);
    },
    getBrandItems: function () {
      return this.brands.map((brand) => brand.name);
    },
    getProductCategoryItems: function () {
      return this.productCategories.map((pcat) => pcat.name);
    },
    getColorItems: function () {
      return this.colors.map((color) => {
        return {
          name: color.name,
          hex: color.hex,
        };
      });
    },
  },
};
</script>

<style scoped>
.capText input {
  text-transform: uppercase;
}
</style>
