<template>
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/admin" class="text-decoration-none"
            >Dashboard</router-link
          >
        </li>
        <li class="breadcrumb-item">
          <router-link to="/admin/products" class="text-decoration-none"
            >Products</router-link
          >
        </li>
        <li class="breadcrumb-item active" aria-current="page">Add Variant</li>
      </ol>
    </nav>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Add Variant</h3>
        <div class="card-tools">
          <v-btn
            color="blue-grey darken-3"
            small
            tile
            depressed
            dark
            @click="saveVariant()"
            >Add</v-btn
          >
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <v-form ref="variantForm">
          <div class="row">
            <div class="col-md-6 py-0">
              <v-text-field
                label="Price"
                min="0"
                :rules="priceRules"
                dense
                required
                type="number"
                outlined
                class="font-weight-light"
                v-model="form.price"
              />
            </div>
            <div class="col-md-6 py-0">
              <v-text-field
                label="Sale Percentage"
                type="number"
                outlined
                min="0"
                dense
                max="100"
                class="font-weight-light"
                v-model="form.sale_price"
              />
            </div>

            <div class="col-md-6 py-0">
              <v-select
                :items="this.getColorItems"
                label="Color"
                :rules="colorRule"
                dense
                v-model="selectedColor"
                outlined
                item-text="name"
                item-value="name"
                required
              >
                <template slot="selection" slot-scope="data">
                  <v-chip dense>
                    <v-avatar
                      left
                      :color="data.item.hex"
                      size="5"
                      dense
                    ></v-avatar>
                    {{ data.item.name }}
                  </v-chip>
                </template>
                <template slot="item" slot-scope="data">
                  <template v-if="typeof data.item !== 'object'">
                    <v-list-item-content
                      v-text="data.item"
                    ></v-list-item-content>
                  </template>
                  <template>
                    <v-list-item-icon>
                      <v-avatar
                        :color="data.item.hex"
                        size="20"
                        dense
                      ></v-avatar>
                    </v-list-item-icon>
                    <v-list-item-content>
                      <v-list-item-title>{{
                        data.item.name
                      }}</v-list-item-title>
                    </v-list-item-content>
                  </template>
                </template>
              </v-select>
            </div>
            <div class="col-md-2 py-0">
              <h6 class="mr-2 mt-2">Parallax</h6>
              <v-switch
                inset
                v-model="form.is_highlighted"
                flat
                color="orange"
                class="mr-5 my-0"
                dense
              ></v-switch>
            </div>

            <div class="col-md-2 py-0">
              <h6 class="mr-2 mt-2">Status</h6>
              <v-switch
                inset
                v-model="form.published"
                flat
                color="orange"
                class="mr-5 my-0"
                dense
              ></v-switch>
            </div>

            <v-col cols="12" md="6" class="pb-0 pt-0">
              <v-select
                :items="getSizesKey"
                label="Size Name"
                v-model="sizeGroup"
                :rules="sizeNameRule"
                required
                dense
                @change="sizeChange"
                outlined
              ></v-select>
            </v-col>

            <v-col cols="12" md="6" class="pb-0 pt-0">
              <v-select
                :items="size"
                label="Sizes"
                v-model="selectedSizes"
                dense
                outlined
                multiple
                @change="sizeSelectChange"
              >
                <template slot="selection" slot-scope="data">
                  <v-chip dense>{{ data.item }}</v-chip>
                </template>
                <template slot="item" slot-scope="data">
                  <template v-if="typeof data.item !== 'object'">
                    <v-list-item-content
                      v-text="data.item"
                    ></v-list-item-content>
                  </template>
                  <template>
                    <v-list-item-content>
                      <v-list-item-title>{{
                        data.item.name
                      }}</v-list-item-title>
                    </v-list-item-content>
                  </template>
                </template>
              </v-select>
            </v-col>

            <div class="col-md-12 py-0">
              <div v-if="this.sizeQuantity.length > 0">
                <hr style="color: black" />
                <h4 class="text-center">Size Quantity</h4>
                <div class="row">
                  <div
                    class="col-6 py-0"
                    v-for="(sq, index) in sizeQuantity"
                    :key="index"
                  >
                    <div class="card" style="box-shadow: none">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-4 py-0">
                            <v-text-field
                              :label="sq.key"
                              class="font-weight-light"
                              outlined
                              type="number"
                              dense
                              v-model="sq.quantity"
                            ></v-text-field>
                          </div>
                          <div class="col-8 py-0">
                            <v-text-field
                              label="SKU"
                              class="font-weight-light"
                              outlined
                              dense
                              v-model="sq.sku"
                            ></v-text-field>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <hr style="color: black" />
              </div>
            </div>

            <div class="col-md-12 py-0">
              <h6>Upload Photos</h6>
              <a-upload
                listType="picture-card"
                :fileList="variants"
                @preview="handlePreview"
                @change="handleChange"
                :beforeUpload="beforeUpload"
                multiple
              >
                <div v-if="variants.length < 4">
                  <a-icon type="plus" />
                  <div class="ant-upload-text">Upload</div>
                </div>
              </a-upload>
              <a-modal
                :visible="previewVisible"
                :footer="null"
                @cancel="handleCancel"
              >
                <img alt="example" style="width: 100%" :src="previewImage" />
              </a-modal>
            </div>
          </div>
        </v-form>
      </div>
    </div>
  </div>
</template>


<script>
import { mapGetters, mapMutations } from "vuex";
import Swal from "sweetalert2";
import { getImgPath } from "../../utils/path";
import { showToast, showDeleteConfirmation } from "../../utils/toast";
import moment from "moment";
import AddButton from "./AddButton";
import EditButton from "./EditButton";
import DeleteButton from "./DeleteButton";

import "quill/dist/quill.core.css";
import "quill/dist/quill.snow.css";
import "quill/dist/quill.bubble.css";
import { quillEditor, Quill } from "vue-quill-editor";
import ImageResize from "quill-image-resize";

// Register ImageResize module
Quill.register("modules/imageResize", ImageResize);
export default {
  components: {
    quillEditor,
    AddButton,
    EditButton,
    DeleteButton,
  },
  data() {
    return {
      previewVisible: false,
      previewImage: "",
      editorOption: {
        placeholder: "Enter Description",
        theme: "snow",
        modules: {
          imageResize: true,
          toolbar: [
            ["bold", "italic", "underline", "strike"],
            ["blockquote", "code-block"],
            [{ header: 1 }, { header: 2 }],
            [{ list: "ordered" }, { list: "bullet" }],
            [{ script: "sub" }, { script: "super" }],
            [{ indent: "-1" }, { indent: "+1" }],
            [{ direction: "rtl" }],
            [{ size: ["small", false, "large", "huge"] }],
            [{ header: [1, 2, 3, 4, 5, 6, false] }],
            [{ font: [] }],
            [{ color: [] }, { background: [] }],
            [{ align: [] }],
            ["clean"],
            ["link", "image", "video"],
          ],
        },
      },
      dialog: false,
      selectedColor: "",
      priceRules: [(v) => !!v || "Price is required"],
      colorRule: [(v) => !!v || "Color is required"],
      nameRules: [
        (v) => !!v || "Title is required",
        (v) =>
          (v && v.length <= 150) || "Title must be less than 150 characters",
      ],
      sizeNameRule: [(v) => !!v || "Size Name is required"],
      variants: [],
      selectedSizes: [],
      sizeGroup: "",
      size: [],
      sizeQuantity: [],
      form: {
        price: "",
        sale_price: "",
        published: false,
        is_highlighted: false,
        color: "",
        photos: [],
        sizes: [],
      },
    };
  },
  methods: {
    imgPath: getImgPath,
    sizeSelectChange(sizeArr) {
      this.sizeQuantity = [];
      if (this.selectedSizes.length > 0) {
        const filteredSizeGroup = this.sizes.filter(
          (size) => size.group == this.sizeGroup
        );

        if (filteredSizeGroup.length > 0) {
          for (const filteredSizeGroupSize of filteredSizeGroup[0].sizes) {
            for (const selectedSize of sizeArr) {
              if (selectedSize == filteredSizeGroupSize.name) {
                this.sizeQuantity.push({
                  key: selectedSize,
                  value: filteredSizeGroupSize.id,
                  sku: "",
                  quantity: 0,
                });
              }
            }
          }
        }
      }
    },
    handleCancel() {
      this.previewVisible = false;
    },
    handlePreview(file) {
      this.previewImage = file.url || file.thumbUrl;
      this.previewVisible = true;
    },
    handleChange({ fileList }) {
      /*if (info.file.status === "uploading") {
        this.variants = info.fileList;
      }

      if (info.file.status === "done") {
        this.form.photos.push(info.file.originFileObj);
        this.variants = info.fileList;
      }

      if (info.file.status === "removed") {
        const index = this.addBlogForm.photos.indexOf(info.file);
        this.form.photos.splice(index, 1);
        this.variants = info.fileList;
      }
        const filteredFiles = fileList.filter((file) => {
        return file.status != "error";
      });
      */

      const filteredFiles = fileList.filter((file) => {
        return file.status != "error";
      });
      this.variants = filteredFiles;
    },
    beforeUpload(file) {
      file["status"] = "success";
      const isImage =
        file.type === "image/jpeg" ||
        file.type === "image/jpg" ||
        file.type === "image/png";
      if (!isImage) {
        showToast("error", "You can only upload JPEG/JPG/PNG file!");
        file["status"] = "error";
      }
      const isLt2M = file.size / 1024 / 1024 < 3;
      if (!isLt2M) {
        showToast("error", "Image must smaller than 3MB!");
        file["status"] = "error";
      }
      return false;
    },
    onEditorChange({ editor, html, text }) {
      this.addBlogForm.description = html;
    },
    sizeChange(choosenSize) {
      const filteredSize = this.sizes.filter((s) => s.group == choosenSize);
      if (filteredSize.length > 0) {
        this.sizeGroup = filteredSize[0].group;
        this.size = filteredSize[0].sizes.map((s) => s.name);
      }
    },
    saveVariant() {
      if (this.$refs.variantForm.validate()) {
        if (this.variants.length > 0) {
          this.form["photos"] = this.variants;
        }

        if (this.selectedColor) {
          this.colors.map((colorObject) => {
            if (colorObject.name == this.selectedColor) {
              this.form.color = colorObject.id;
            }
          });
        }

        //size number to size id
        if (this.selectedSizes.length > 0) {
          const filteredSizeGroup = this.sizes.filter(
            (size) => size.group == this.sizeGroup
          );
          if (filteredSizeGroup.length > 0) {
            for (const filteredSizeGroupSize of filteredSizeGroup[0].sizes) {
              for (const selectedSize of this.selectedSizes) {
                if (selectedSize == filteredSizeGroupSize.name) {
                  this.form.sizes.push(filteredSizeGroupSize.id);
                }
              }
            }
          }
        }
        if (this.sizeQuantity.length > 0) {
          this.form["sizeQuantity"] = this.sizeQuantity;
        }
        this.form["product_id"] = this.$route.params.id;
        this.$store
          .dispatch("product/createVariant", this.form)
          .then((result) => {
            if (!result.errors) {
              this.$refs.variantForm.reset();
              this.form.photos = [];
              this.form.sizes = [];
              this.selectedSizes = [];
              this.size = [];
              this.sizeGroup = "";
              this.form.featured = false;
              this.form.published = false;
              this.form.is_highlighted = false;
              this.variants = [];
              showToast("success", "Variant Added Successfully");
              this.$router.push(`/admin/products`);
            } else {
              showToast("error", JSON.stringify(result.errors));
            }
          });
      }
    },
  },
  computed: {
    ...mapGetters({
      colors: "color/colors",
      sizes: "size/sizes",
    }),
    getColorItems: function () {
      return this.colors.map((color) => {
        return {
          name: color.name,
          hex: color.hex,
        };
      });
    },
    getSizesKey: function () {
      return this.sizes.map((size) => size.group);
    },
  },
};
</script>