<template>
  <v-btn icon depressed tile @click="callback($event)">
    <font-awesome-icon :icon="['fas', 'edit']" style="font-size: 16px;color:green" />
  </v-btn>
</template>

<script>
export default {
  methods: {
    callback: function(e) {
      this.$emit("click", e);
    }
  }
};
</script>