<template>
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/admin" class="text-decoration-none"
            >Dashboard</router-link
          >
        </li>
        <li class="breadcrumb-item">
          <router-link to="/admin/blogs" class="text-decoration-none"
            >Blogs</router-link
          >
        </li>
        <li class="breadcrumb-item active" aria-current="page">Edit Blog</li>
      </ol>
    </nav>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Edit Blog</h3>
        <div class="card-tools">
          <div style="display: flex; flex-direction: row">
            <h6 class="mr-2 pt-2">Ride Registration</h6>
            <v-switch
              inset
              dense
              v-model="addBlogForm.registration"
              flat
              color="blue"
              class="mr-5 my-0"
            ></v-switch>
            <v-btn
              color="blue-grey darken-3"
              small
              tile
              depressed
              dark
              @click="saveBlog()"
              >Save</v-btn
            >
          </div>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <v-form ref="blogForm">
          <div class="row">
            <div class="col-md-6 py-0">
              <v-text-field
                class="font-weight-light"
                outlined
                label="Title"
                v-model="addBlogForm.title"
                :rules="nameRules"
                required
              ></v-text-field>
            </div>
            <div class="col-md-6 py-0">
              <v-combobox
                outlined
                :items="filterTags"
                multiple
                label="Tags"
                v-model="addBlogForm.chips"
              >
                <template v-slot:selection="{ attrs, item, select, selected }">
                  <v-chip
                    v-bind="attrs"
                    :input-value="selected"
                    close
                    @click="select"
                    @click:close="remove(item)"
                  >
                    <strong>{{ item }}</strong>
                  </v-chip>
                </template>
              </v-combobox>
            </div>
            <div class="col-md-6 py-0">
              <v-textarea
                outlined
                dense
                name="input-7-4"
                v-model="addBlogForm.short_description"
                required
                counter
                :rules="shortDescriptionRules"
                label="Short Description(Max 255 characters)"
              ></v-textarea>
            </div>
            <div class="col-md-12 py-0">
              <h6>Description</h6>
              <quillEditor
                class="quill-editor"
                ref="myQuillEditor"
                style="height: 1000px"
                v-model="addBlogForm.description"
                :options="editorOption"
              ></quillEditor>
            </div>
            <div class="col-md-12 py-0" style="margin-top: 90px">
              <h6>Upload Photos</h6>
              <a-upload
                listType="picture-card"
                :fileList="blogs"
                @preview="handlePreview"
                @change="handleChange"
                :beforeUpload="beforeUpload"
                :remove="customRemove"
              >
                <div v-if="blogs.length < 4">
                  <a-icon type="plus" />
                  <div class="ant-upload-text">Upload</div>
                </div>
              </a-upload>
              <a-modal
                :visible="previewVisible"
                :footer="null"
                @cancel="handleCancel"
              >
                <img alt="example" style="width: 100%" :src="previewImage" />
              </a-modal>
            </div>
          </div>
        </v-form>
      </div>
    </div>
  </div>
</template>


<script>
import { mapGetters, mapMutations } from "vuex";
import Swal from "sweetalert2";
import { getImgPath } from "../../utils/path";
import { showToast, showDeleteConfirmation } from "../../utils/toast";
import moment from "moment";
import AddButton from "./AddButton";
import EditButton from "./EditButton";
import DeleteButton from "./DeleteButton";
import "quill/dist/quill.core.css";
import "quill/dist/quill.snow.css";
import "quill/dist/quill.bubble.css";
import { quillEditor, Quill } from "vue-quill-editor";
import ImageResize from "quill-image-resize";

// Register ImageResize module
Quill.register("modules/imageResize", ImageResize);
export default {
  components: {
    quillEditor,
    AddButton,
    EditButton,
    DeleteButton,
  },
  data() {
    return {
      previewVisible: false,
      previewImage: "",
      editorOption: {
        placeholder: "Enter Description",
        theme: "snow",
        modules: {
          imageResize: true,
          toolbar: [
            ["bold", "italic", "underline", "strike"],
            ["blockquote", "code-block"],
            [{ header: 1 }, { header: 2 }],
            [{ list: "ordered" }, { list: "bullet" }],
            [{ script: "sub" }, { script: "super" }],
            [{ indent: "-1" }, { indent: "+1" }],
            [{ direction: "rtl" }],
            [{ size: ["small", false, "large", "huge"] }],
            [{ header: [1, 2, 3, 4, 5, 6, false] }],
            [{ font: [] }],
            [{ color: [] }, { background: [] }],
            [{ align: [] }],
            ["clean"],
            ["link", "image", "video"],
          ],
        },
      },
      dialog: false,
      nameRules: [
        (v) => !!v || "Title is required",
        (v) =>
          (v && v.length <= 150) || "Title must be less than 150 characters",
      ],
      shortDescriptionRules: [
        (v) => !!v || "Short Description is required",
        (v) =>
          (v && v.length <= 255) ||
          "Short Description must be less than 255 characters",
      ],
      tagFetched: false,
      blogs: [],
      addBlogForm: {
        title: "",
        chips: [],
        short_description: "",
        description: "",
        registration: false,
      },
    };
  },
  created() {
    this.$store
      .dispatch("blog/fetchInvidisualBlog", this.$route.params.id)
      .then((res) => {
        if (res) {
          this.addBlogForm.title = res.title;
          this.addBlogForm.short_description = res.short_description;
          this.addBlogForm.description = res.description;
          this.addBlogForm.registration = res.registration == 1 ? true : false;
          if (res.tags.length > 0) {
            this.addBlogForm.chips = res.tags.map((tag) => tag.name);
          }
          if (res.photos.length > 0) {
            const b = { fileList: [] };
            res.photos.map((photo) => {
              const temp = {
                uid: photo.id,
                name: photo.photo,
                response: {
                  name: photo.photo,
                },
                status: "done",
                url: this.imgPath("blog", photo.photo),
              };
              b.fileList.push(temp);
            });
            this.handleChange(b);
          }
        } else {
          this.$router.push(`/admin/blogs`);
        }
      });
    this.fetchTags();
  },
  methods: {
    imgPath: getImgPath,
    ...mapMutations({
      addBlogSuccess: "blog/ADD_BLOG_SUCCESS",
      editBlogSuccess: "blog/EDIT_BLOG_SUCCESS",
    }),
    fetchTags() {
      this.$store.dispatch("blog/fetchTags");
    },
    async customRemove(options) {
      try {
        let reqData = {};
        if (typeof options.uid == "number") {
          reqData = {
            id: options.uid,
            name: options.response.name,
          };
        } else {
          reqData = {
            name: options.response.name,
          };
        }

        const { data } = await axios.post("/api/blogs/remove", reqData);
        showToast("success", "You have removed a photo");
      } catch (e) {}
    },
    handleCancel() {
      this.previewVisible = false;
    },
    handlePreview(file) {
      this.previewImage = file.url || file.thumbUrl;
      this.previewVisible = true;
    },
    handleChange({ fileList }) {
      const filteredFiles = fileList.filter((file) => {
        return file.status != "error";
      });
      this.blogs = filteredFiles;
    },
    beforeUpload(file) {
      file["status"] = "success";
      const isImage =
        file.type === "image/jpeg" ||
        file.type === "image/jpg" ||
        file.type === "image/png";
      if (!isImage) {
        showToast("error", "You can only upload JPEG/JPG/PNG file!");
        file["status"] = "error";
      }
      const isLt2M = file.size / 1024 / 1024 < 3;
      if (!isLt2M) {
        showToast("error", "Image must smaller than 3MB!");
        file["status"] = "error";
      }
      return false;
      // return isImage && isLt2M;
    },
    remove(item) {
      this.addBlogForm.chips.splice(this.addBlogForm.chips.indexOf(item), 1);
      this.addBlogForm.chips = [...this.addBlogForm.chips];
    },
    onEditorChange({ editor, html, text }) {
      this.addBlogForm.description = html;
    },
    saveBlog() {
      if (this.$refs.blogForm.validate()) {
        if (this.blogs.length > 0) {
          this.addBlogForm["photos"] = this.blogs;
        }

        const rawData = {
          ...this.addBlogForm,
          id: this.$route.params.id,
        };
        this.$store.dispatch("blog/modifyBlog", rawData).then((result) => {
          if (!result.errors) {
            this.$refs.blogForm.reset();
            this.showDialog = false;
            this.editBlogSuccess(result);
            this.addBlogForm.title = "";
            this.addBlogForm.description = "";
            this.addBlogForm.chips = [];
            this.blogs = [];
            showToast("success", "Blog Edited Successfully");
            this.$router.push("/admin/blogs");
          } else {
            console.log(result.errors);
            showToast("error", JSON.stringify(result.errors));
          }
        });
      }
    },
  },
  computed: {
    ...mapGetters({
      tags: "blog/tags",
    }),
    filterTags: function () {
      return this.tags.map((tag) => tag.name);
    },
  },
  filters: {
    formatDate: function (date) {
      return moment(date).format("MMMM Do YYYY");
    },
  },
};
</script>