<template>
  <v-menu bottom left>
    <template v-slot:activator="{ on }">
      <v-btn icon v-on="on">
        <i class="fas fa-ellipsis-v" style="font-size: 20px;"></i>
      </v-btn>
    </template>

    <v-list>
      <v-list-item @click.stop="openDialog('brand')">
        <template>
          <v-list-item-icon>
            <i class="fas fa-tag" style="font-size: 20px;"></i>
          </v-list-item-icon>

          <BrandModal
            :visible="addBrandDialog"
            @closeBrandDialog="closeDialog('brand')"
            :editMode="editMode"
            :editBrand="editItem"
          />
        </template>
        <v-list-item-content>
          <v-list-item-title>Add Brand</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-list-item @click.stop="openDialog('category')">
        <template>
          <v-list-item-icon>
            <i class="fas fa-layer-group" style="font-size: 20px;"></i>
          </v-list-item-icon>
          <DivisionModal
            :visible="addCategoryDialog"
            @closeDivisionDialog="closeDialog('category')"
            :editMode="editMode"
            :editCategory="editItem"
          />
        </template>
        <v-list-item-content>
          <v-list-item-title>Add Division</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-list-item @click.stop="openDialog('productCategory')">
        <template>
          <v-list-item-icon>
            <i class="fas fa-object-group" style="font-size: 20px;"></i>
          </v-list-item-icon>
          <ProductCategoryModal
            :visible="productCategoryDialog"
            @closeCategoryDialog="closeDialog('productCategory')"
            :editMode="editMode"
            :editCategory="editItem"
          />
        </template>
        <v-list-item-content>
          <v-list-item-title>Add Product Category</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-list-item @click.stop="openDialog('size')">
        <template>
          <v-list-item-icon>
            <i class="fas fa-ruler" style="font-size: 20px;"></i>
          </v-list-item-icon>
          <SizeModal
            :visible="addSizeDialog"
            @closeSizeDialog="closeDialog('size')"
            :editMode="editMode"
            :editSize="editItem"
          />
        </template>
        <v-list-item-content>
          <v-list-item-title>Add Sizes</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-list-item @click.stop="openDialog('color')">
        <template>
          <v-list-item-icon>
            <i class="fas fa-fill-drip" style="font-size: 20px;"></i>
          </v-list-item-icon>
          <ColorModal
            :visible="addColorDialog"
            @closeColorDialog="closeDialog('color')"
            :editMode="editMode"
            :editColor="editItem"
          />
        </template>

        <v-list-item-content>
          <v-list-item-title>Add Color</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-item @click.stop="openDialog('colorMap')" v-if="edit">
        <template>
          <v-list-item-icon>
            <i class="fas fa-images" style="font-size: 20px;"></i>
          </v-list-item-icon>
          <ProductColorMap
            :visible="addProductColorDialog"
            @closeProductColorDialog="closeDialog('colorMap')"
            :editProduct="product"
          />
        </template>

        <v-list-item-content>
          <v-list-item-title>Color Map</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-menu>
</template>


<script>
import DivisionModal from "../modals/DivisionModal";
import SizeModal from "../modals/SizeModal";
import BrandModal from "../modals/BrandModal";
import ProductColorMap from "../modals/ProductColorMap";
import ProductCategoryModal from "../modals/ProductCategoryModal";
import ColorModal from "../modals/ColorModal";
export default {
  props: ["edit", "product"],
  components: {
    ProductColorMap,
    BrandModal,
    DivisionModal,
    ProductCategoryModal,
    ColorModal,
    SizeModal
  },
  methods: {
    openDialog(type) {
      if (type == "category") {
        this.addCategoryDialog = true;
      } else if (type == "productCategory") {
        this.productCategoryDialog = true;
      } else if (type == "color") {
        this.addColorDialog = true;
      } else if (type == "colorMap") {
        this.addProductColorDialog = true;
      } else if (type == "brand") {
        this.addBrandDialog = true;
      } else if (type == "size") {
        this.addSizeDialog = true;
      }
    },
    closeDialog(type) {
      this.addCategoryDialog = false;
      if (type == "category") {
        this.addCategoryDialog = false;
      } else if (type == "productCategory") {
        this.productCategoryDialog = false;
      } else if (type == "colorMap") {
        this.addProductColorDialog = false;
      } else if (type == "color") {
        this.addColorDialog = false;
      } else if (type == "brand") {
        this.addBrandDialog = false;
      } else if (type == "size") {
        this.addSizeDialog = false;
      } else if (type == "close") {
        this.$emit("close");
      }
    }
  },
  data() {
    return {
      addColorDialog: false,
      addBrandDialog: false,
      addSizeDialog: false,
      addProductColorDialog: false,
      editItem: {},
      addCategoryDialog: false,
      editMode: false,
      productCategoryDialog: false
    };
  }
};
</script>