<template>
  <v-dialog v-model="showDialog" persistent max-width="700px">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title" v-if="editMode">Edit Banner</h4>
        <h4 class="card-title" v-else>Add Banner</h4>

        <div class="card-tools">
          <v-btn
            v-if="editMode"
            color="blue-grey darken-3"
            tile
            depressed
            small
            :loading="buttonLoading"
            dark
            class="mr-2"
            @click="saveBanner()"
            >Save</v-btn
          >
          <v-btn
            v-else
            tile
            depressed
            small
            :loading="buttonLoading"
            dark
            color="blue-grey darken-3"
            @click="saveBanner()"
            class="mr-2"
            >Add</v-btn
          >
          <v-btn icon @click="closeDialog()">
            <i class="fas fa-times"></i>
          </v-btn>
        </div>
      </div>

      <v-form ref="bannerForm">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 py-0">
              <v-text-field
                label="Url"
                dense
                class="font-weight-light"
                outlined
                v-model="addBannerForm.url"
              ></v-text-field>
            </div>
            <div class="col-md-6 py-0">
              <v-text-field
                label="Primary Tagline"
                class="font-weight-light"
                dense
                outlined
                v-model="addBannerForm.primary_tagline"
              ></v-text-field>
            </div>
            <div class="col-md-6 py-0">
              <v-text-field
                label="Secondary Tagline"
                class="font-weight-light"
                outlined
                dense
                v-model="addBannerForm.secondary_tagline"
              ></v-text-field>
            </div>
            <div class="col-md-6 py-0">
              <v-switch
                inset
                v-model="addBannerForm.status"
                flat
                label="Status"
                color="orange"
                dense
              ></v-switch>
            </div>
            <div class="col-md-6 py-0">
              <h6>Upload Photo(Size: 1920 x 1080px)</h6>
              <a-upload
                listType="picture-card"
                :fileList="banner"
                :beforeUpload="beforeUpload"
                @preview="handlePreview"
                @change="handleChange"
              >
                <div v-if="banner.length < 1">
                  <a-icon type="plus" />
                  <div class="ant-upload-text">Upload</div>
                </div>
              </a-upload>
              <a-modal
                :visible="previewVisible"
                :footer="null"
                @cancel="handleCancel"
              >
                <img alt="example" style="width: 100%" :src="previewImage" />
              </a-modal>
            </div>
          </div>
        </div>
      </v-form>
    </div>
  </v-dialog>
</template>

<script>
import { showToast } from "../../utils/toast";
import { mapMutations } from "vuex";
import { getImgPath } from "../../utils/path";

export default {
  props: ["visible", "editMode", "editBanner"],
  data: () => ({
    previewVisible: false,
    previewImage: "",
    banner: [],
    buttonLoading: false,
    addBannerForm: {
      url: "",
      primary_tagline: "",
      secondary_tagline: "",
      status: false,
    },
  }),
  methods: {
    imgPath: getImgPath,
    ...mapMutations({
      addBannerSuccess: "banner/ADD_BANNER_SUCCESS",
      editBannerSuccess: "banner/EDIT_BANNER_SUCCESS",
    }),
    handleCancel() {
      this.previewVisible = false;
    },
    handlePreview(file) {
      this.previewImage = file.url || file.thumbUrl;
      this.previewVisible = true;
    },
    handleChange({ fileList }) {
      const filteredFiles = fileList.filter((file) => {
        return file.status != "error";
      });
      this.banner = filteredFiles;
    },
    beforeUpload(file) {
      file["status"] = "success";
      const isImage =
        file.type === "image/jpeg" ||
        file.type === "image/jpg" ||
        file.type === "image/png";
      if (!isImage) {
        showToast("error", "You can only upload JPEG/JPG/PNG file!");
        file["status"] = "error";
        return false;
      }
      const isLt2M = file.size / 1024 / 1024 < 3;
      if (!isLt2M) {
        showToast("error", "Image must smaller than 3MB!");
        file["status"] = "error";
        return false;
      }
      this.addBannerForm.photo = file;
      return false;
      // return isImage && isLt2M;
    },
    saveBanner() {
      if (this.$refs.bannerForm.validate()) {
        this.buttonLoading = true;
        if (this.editMode) {
          const rawData = {
            ...this.addBannerForm,
            id: this.editBanner.id,
          };
          this.$store
            .dispatch("banner/modifyBanner", rawData)
            .then((result) => {
              this.buttonLoading = false;
              if (!result.errors) {
                this.$refs.bannerForm.reset();
                this.showDialog = false;
                this.editBannerSuccess(result);
                this.banner = [];
                showToast("success", "Banner Edited Successfully");
              } else {
                showToast("error", JSON.stringify(result.errors));
              }
            });
        } else {
          if (!this.addBannerForm.photo) {
            this.buttonLoading = false;
            return showToast("error", "Banner Photo is required");
          }
          this.$store
            .dispatch("banner/createBanner", this.addBannerForm)
            .then((result) => {
              this.buttonLoading = false;
              if (!result.errors) {
                this.$refs.bannerForm.reset();
                this.showDialog = false;
                this.addBannerSuccess(result);
                this.banner = [];
                showToast("success", "Banner Added Successfully");
              } else {
                showToast("error", JSON.stringify(result.errors));
              }
            });
        }
      }
    },
    closeDialog() {
      this.banner = [];
      this.$refs.bannerForm.reset();
      this.showDialog = false;
    },
  },
  computed: {
    showDialog: {
      get: function () {
        if (this.editMode) {
          this.addBannerForm.url = this.editBanner.url;
          this.addBannerForm.primary_tagline = this.editBanner.primary_tagline;
          this.addBannerForm.secondary_tagline = this.editBanner.secondary_tagline;
          this.addBannerForm.status =
            this.editBanner.status == 1 ? true : false;
          if (this.editBanner.location != null) {
            const b = {
              fileList: [
                {
                  uid: this.editBanner.id,
                  name: this.editBanner.location,
                  status: "done",
                  url: this.imgPath("banners", this.editBanner.location),
                },
              ],
            };

            this.handleChange(b);
          }
        }
        return this.visible;
      },
      set: function (value) {
        if (!value) {
          this.$emit("closeBannerDialog");
        }
      },
    },
  },
};
</script>