<template>
  <v-dialog v-model="showDialog" persistent max-width="480px">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title" v-if="editMode">Edit Color</h4>
        <h4 class="card-title" v-else>Add Color</h4>

        <div class="card-tools">
          <v-btn
            v-if="editMode"
            color="blue-grey darken-3"
            tile
            depressed
            small
            dark
            class="mr-2"
            @click="saveColor()"
            >Save</v-btn
          >
          <v-btn
            v-else
            tile
            depressed
            small
            dark
            color="blue-grey darken-3"
            @click="saveColor()"
            class="mr-2"
            >Add</v-btn
          >
          <v-btn icon @click="closeDialog()">
            <i class="fas fa-times"></i>
          </v-btn>
        </div>
      </div>
      <v-form ref="colorForm">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 py-0">
              <v-select
                :items="this.colorGroup"
                label="Group"
                :rules="colorGroupRule"
                :value="colorGroupName"
                dense
                outlined
                required
                @change="colorGroupChange"
              ></v-select>
            </div>
            <div class="col-md-12 py-0">
              <v-text-field
                label="Name"
                class="font-weight-light"
                outlined
                v-model="addColorForm.name"
                dense
                :rules="nameRules"
                required
              ></v-text-field>
            </div>

            <div class="col-md-2 py-0">
              <v-avatar :color="addColorForm.hex" size="40"></v-avatar>
            </div>

            <div class="col-md-10 py-0">
              <v-menu
                :close-on-content-click="false"
                :nudge-right="40"
                transition="scale-transition"
                offset-y
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="addColorForm.hex"
                    label="Hex Code*"
                    readonly
                    outlined
                    :rules="hexRules"
                    dense
                    required
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-color-picker
                  class="ma-2"
                  v-model="addColorForm.hex"
                ></v-color-picker>
              </v-menu>
            </div>
          </div>
        </div>
      </v-form>
    </div>
  </v-dialog>
</template>

<script>
import { showToast } from "../../utils/toast";
import { mapMutations } from "vuex";

export default {
  props: ["visible", "editMode", "editColor"],
  data: () => ({
    colorDialog: false,
    colorGroup:['Blue','Yellow','Red','Green','Black','White'],
    swatches: [
      ["#FF0000", "#AA0000", "#550000"],
      ["#FFFF00", "#AAAA00", "#555500"],
      ["#00FF00", "#00AA00", "#005500"],
      ["#00FFFF", "#00AAAA", "#005555"],
      ["#0000FF", "#0000AA", "#000055"],
    ],
    nameRules: [
      (v) => !!v || "Color Name is required",
      (v) => (v && v.length <= 20) || "Color must be less than 20 characters",
    ],
    colorGroupRule: [(v) => !!v || "Color Group is required"],
    hexRules: [(v) => !!v || "Hex is required"],
    type: "hex",
    colorGroupName:"",
    addColorForm: {
      name: "",
      hex: "",
      group:"",
    },
  }),
  methods: {
    ...mapMutations({
      addColorSuccess: "color/ADD_COLOR_SUCCESS",
      editColorSuccess: "color/EDIT_COLOR_SUCCESS",
    }),
    colorGroupChange(colorName){
      this.colorGroupName=colorName;
      this.addColorForm.group=colorName;
    },
    saveColor() {
      if (this.$refs.colorForm.validate()) {
        if (this.editMode) {
          const rawData = {
            ...this.addColorForm,
            id: this.editColor.id,
          };
          this.$store.dispatch("color/modifyColor", rawData).then((result) => {
            if (!result.errors) {
              this.$refs.colorForm.reset();
              this.showDialog = false;
              this.editColorSuccess(result);
              this.addColorForm.hex = "#FFFFFF";
              this.addColorForm.group = "";
              this.colorGroupName = "";
              showToast("success", "Color Edited Successfully");
            } else {
              console.log(result.errors);
              showToast("error", JSON.stringify(result.errors));
            }
          });
        } else {
          this.$store
            .dispatch("color/createColor", this.addColorForm)
            .then((result) => {
              if (!result.errors) {
                this.$refs.colorForm.reset();
                this.addColorForm.hex = "#FFFFFF";
                this.addColorForm.group = "";
                this.colorGroupName = "";
                this.showDialog = false;
                this.addColorSuccess(result);
                showToast("success", "Color Added Successfully");
              } else {
                showToast("error", JSON.stringify(result.errors));
              }
            });
        }
      }
    },
    closeDialog() {
      this.$refs.colorForm.reset();
      this.showDialog = false;
      this.addColorForm.hex = "#FFFFFF";
      this.addColorForm.group = "";
      this.colorGroupName= "";
    },
  },
  computed: {
    showDialog: {
      get: function () {
        if (this.editMode) {
          this.addColorForm.name = this.editColor.name;
          this.addColorForm.hex = this.editColor.hex;
          this.colorGroupName = this.editColor.group;
          this.colorGroupChange(this.editColor.group)
        }
        return this.visible;
      },
      set: function (value) {
        if (!value) {
          this.$emit("closeColorDialog");
        }
      },
    },
  },
};
</script>