<template>
  <v-dialog v-model="showDialog" persistent max-width="900px">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title" v-if="editMode">Edit Coupon</h4>
        <h4 class="card-title" v-else>Add Coupon</h4>

        <div class="card-tools">
          <v-btn
            v-if="editMode"
            color="blue-grey darken-3"
            tile
            depressed
            :loading="buttonLoading"
            small
            dark
            class="mr-2"
            @click="saveCoupon()"
            >Save</v-btn
          >
          <v-btn
            v-else
            tile
            :loading="buttonLoading"
            depressed
            small
            dark
            color="blue-grey darken-3"
            @click="saveCoupon()"
            class="mr-2"
            >Add</v-btn
          >
          <v-btn icon @click="closeDialog()">
            <i class="fas fa-times"></i>
          </v-btn>
        </div>
      </div>
      <v-form ref="couponForm">
        <div class="card-body">
          <div class="row">
            <div class="col-6 py-0">
              <v-text-field
                label="Coupon Code"
                class="font-weight-light"
                dense
                outlined
                v-model="addCouponForm.code"
                :rules="codeRule"
                required
              ></v-text-field>
            </div>
            <div class="col-6 py-0">
              <v-select
                :items="this.type"
                label="Coupon Type"
                dense
                :rules="typeRule"
                v-model="addCouponForm.type"
                outlined
                required
              ></v-select>
            </div>
            <div class="col-6 py-0">
              <v-text-field
                label="Coupon Amount"
                class="font-weight-light"
                outlined
                type="number"
                v-model="addCouponForm.amount"
                dense
                :rules="couponAmountRule"
                required
              ></v-text-field>
            </div>
            <div class="col-6 py-0">
              <v-text-field
                label="User Limit"
                class="font-weight-light"
                type="number"
                dense
                outlined
                v-model="addCouponForm.limit"
              ></v-text-field>
            </div>
            <div class="col-6 py-0">
              <v-text-field
                label="Cart Limit"
                class="font-weight-light"
                dense
                type="number"
                outlined
                v-model="addCouponForm.cart_limit"
              ></v-text-field>
            </div>
            <div class="col-6 py-0">
              <v-menu
                v-model="menu2"
                :close-on-content-click="false"
                :nudge-right="40"
                transition="scale-transition"
                offset-y
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="addCouponForm.expiry"
                    dense
                    label="Coupon Expiry Date"
                    readonly
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="addCouponForm.expiry"
                  @input="menu2 = false"
                ></v-date-picker>
              </v-menu>
            </div>
            <div class="col-6 py-0">
              <v-textarea
                outlined
                name="input-7-4"
                dense
                v-model="addCouponForm.description"
                label="Description(Optional)"
              ></v-textarea>
            </div>
          </div>
        </div>
      </v-form>
    </div>
  </v-dialog>
</template>

<script>
import Swal from "sweetalert2";
import { mapMutations, mapGetters } from "vuex";
import { showToast } from "../../utils/toast";

export default {
  props: ["visible", "editMode", "editCoupon"],
  data: () => ({
    dialog: false,
    typeRule: [(v) => !!v || "Coupon Type is required"],
    codeRule: [
      (v) => !!v || "Coupon Code is required",
      (v) =>
        (v && v.length <= 20) || "Coupon Code must be less than 20 characters",
    ],
    couponAmountRule: [(v) => !!v || "Coupon Amount is required"],
    type: ["Fixed Cart Discount", "Percentage Discount"],
    menu2: false,
    couponTypeValue: "",
    buttonLoading: false,
    addCouponForm: {
      code: "",
      type: "",
      description: "",
      amount: "",
      cart_limit: "",
      expiry: new Date().toISOString().substr(0, 10),
      limit: "",
    },
  }),
  methods: {
    ...mapMutations({
      addCouponSuccess: "coupon/ADD_COUPON_SUCCESS",
      editCouponSuccess: "coupon/EDIT_COUPON_SUCCESS",
    }),
    saveCoupon() {
      if (this.$refs.couponForm.validate()) {
        this.buttonLoading = true;
        if (this.editMode) {
          const rawData = {
            ...this.addCouponForm,
            id: this.editCoupon.id,
          };
          this.$store
            .dispatch("coupon/modifyCoupon", rawData)
            .then((result) => {
              this.buttonLoading = false;
              if (!result.errors) {
                this.$refs.couponForm.reset();
                this.showDialog = false;
                this.editCouponSuccess(result);
                showToast("success", "Coupon Edited Successfully");
              } else {
                showToast("error", `${result.errors}`);
              }
            });
        } else {
          this.$store
            .dispatch("coupon/createCoupons", this.addCouponForm)
            .then((result) => {
              this.buttonLoading = false;
              if (!result.errors) {
                this.$refs.couponForm.reset();
                this.showDialog = false;
                this.addCouponSuccess(result);
                showToast("success", "Coupon Added Successfully");
              } else {
                showToast("error", `${result.errors}`);
              }
            });
        }
      }
    },
    closeDialog() {
      this.dialog = false;
      this.$refs.couponForm.reset();
      this.showDialog = false;
      this.value = "";
    },
    categoryChange(category) {
      this.addProductCategoryForm.category_id = this.categories.filter(
        (b) => b.name == category
      )[0].id;
    },
  },
  computed: {
    showDialog: {
      get: function () {
        if (this.editMode) {
          this.addCouponForm.code = this.editCoupon.code;
          this.addCouponForm.type =
            this.editCoupon.type == 0
              ? "Fixed Cart Discount"
              : "Percentage Discount";
          this.addCouponForm.description = this.editCoupon.description;
          this.addCouponForm.amount = this.editCoupon.amount;
          this.addCouponForm.cart_limit = this.editCoupon.cart_limit;
          this.addCouponForm.expiry = this.editCoupon.expiry;
          this.addCouponForm.limit = this.editCoupon.limit;
        }
        return this.visible;
      },
      set: function (value) {
        if (!value) {
          this.$emit("closeCouponDialog");
        }
      },
    },
  },
};
</script>
