<template>
  <v-dialog v-model="showDialog" persistent max-width="800px">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title" v-if="editMode">Edit Dealer</h4>
        <h4 class="card-title" v-else>Add Dealer</h4>

        <div class="card-tools">
          <v-btn
            v-if="editMode"
            color="blue-grey darken-3"
            tile
            depressed
            small
            dark
            class="mr-2"
            :loading="buttonLoading"
            @click="saveNotice()"
            >Save</v-btn
          >
          <v-btn
            v-else
            tile
            depressed
            small
            dark
            color="blue-grey darken-3"
            :loading="buttonLoading"
            @click="saveNotice()"
            class="mr-2"
            >Add</v-btn
          >
          <v-btn icon @click="closeDialog()">
            <i class="fas fa-times"></i>
          </v-btn>
        </div>
      </div>

      <v-form ref="dealerForm">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 py-0">
              <v-text-field
                label="Name"
                class="font-weight-light"
                outlined
                dense
                required
                :rules="nameRules"
                v-model="addDealerForm.name"
              ></v-text-field>
            </div>
            <div class="col-md-6 py-0">
              <v-text-field
                label="Location"
                class="font-weight-light"
                outlined
                required
                dense
                :rules="locationRules"
                v-model="addDealerForm.location"
              ></v-text-field>
            </div>
            <div class="col-md-6 py-0">
              <v-text-field
                label="Phone"
                class="font-weight-light"
                outlined
                required
                dense
                type="number"
                :rules="phoneRules"
                v-model="addDealerForm.phone"
              ></v-text-field>
            </div>
            <div class="col-md-6 py-0">
              <v-text-field
                label="Address"
                class="font-weight-light"
                outlined
                required
                dense
                :rules="addressRules"
                v-model="addDealerForm.address"
              ></v-text-field>
            </div>
            <div class="col-md-6 py-0">
              <v-text-field
                label="Website Link"
                class="font-weight-light"
                outlined
                required
                dense
                :rules="websiteRules"
                v-model="addDealerForm.website"
              ></v-text-field>
            </div>
            <div class="col-md-6 py-0">
              <v-text-field
                label="Category"
                class="font-weight-light"
                outlined
                required
                dense
                :rules="categoryRules"
                v-model="addDealerForm.category"
              ></v-text-field>
            </div>
            <div class="col-md-6 py-0">
              <h6>Upload Logo</h6>
              <a-upload
                listType="picture-card"
                :fileList="banner"
                :beforeUpload="beforeUpload"
                @preview="handlePreview"
                @change="handleChange"
              >
                <div v-if="banner.length < 1">
                  <a-icon type="plus" />
                  <div class="ant-upload-text">Upload</div>
                </div>
              </a-upload>
              <a-modal
                :visible="previewVisible"
                :footer="null"
                @cancel="handleCancel"
              >
                <img alt="example" style="width: 100%" :src="previewImage" />
              </a-modal>
            </div>
          </div>
        </div>
      </v-form>
    </div>
  </v-dialog>
</template>

<script>
import { showToast } from "../../utils/toast";
import { mapMutations } from "vuex";
import { getImgPath } from "../../utils/path";

export default {
  props: ["visible", "editMode", "editDealer"],
  data: () => ({
    previewVisible: false,
    previewImage: "",
    buttonLoading: false,
    banner: [],
    nameRules: [
      (v) => !!v || "Name is required",
      (v) => (v && v.length <= 50) || "Name must be less than 50 characters",
    ],
    phoneRules: [
      (v) => !!v || "Phone is required",
      (v) => (v && v.length <= 15) || "Phone must be less than 15 characters",
    ],
    addressRules: [
      (v) => !!v || "Address is required",
      (v) => (v && v.length <= 20) || "Address must be less than 20 characters",
    ],
    websiteRules: [
      (v) => !!v || "Website is required",
      (v) => (v && v.length <= 50) || "Website must be less than 50 characters",
    ],
    categoryRules: [
      (v) => !!v || "Category is required",
      (v) =>
        (v && v.length <= 10) || "Category must be less than 10 characters",
    ],
    locationRules: [
      (v) => !!v || "Location is required",
      (v) =>
        (v && v.length <= 50) || "Location must be less than 50 characters",
    ],
    addDealerForm: {
      name: "",
      location: "",
      phone: "",
      address: "",
      website: "",
      category: "",
    },
  }),
  methods: {
    imgPath: getImgPath,
    ...mapMutations({
      addDealerSuccess: "dealer/ADD_DEALER_SUCCESS",
      editDealerSuccess: "dealer/MODIFY_DEALER_SUCCESS",
    }),
    handleCancel() {
      this.previewVisible = false;
    },
    handlePreview(file) {
      this.previewImage = file.url || file.thumbUrl;
      this.previewVisible = true;
    },
    handleChange({ fileList }) {
      const filteredFiles = fileList.filter((file) => {
        return file.status != "error";
      });
      this.banner = filteredFiles;
    },
    beforeUpload(file) {
      file["status"] = "success";
      const isImage =
        file.type === "image/jpeg" ||
        file.type === "image/jpg" ||
        file.type === "image/png";
      if (!isImage) {
        showToast("error", "You can only upload JPEG/JPG/PNG file!");
        file["status"] = "error";
        return false;
      }
      const isLt2M = file.size / 1024 / 1024 < 3;
      if (!isLt2M) {
        showToast("error", "Image must smaller than 3MB!");
        file["status"] = "error";
        return false;
      }
      this.addDealerForm.photo = file;
      return false;
    },
    saveNotice() {
      if (this.$refs.dealerForm.validate()) {
        this.buttonLoading = true;
        if (this.editMode) {
          const rawData = {
            ...this.addDealerForm,
            id: this.editDealer.id,
          };
          this.$store
            .dispatch("dealer/modifyDealer", rawData)
            .then((result) => {
              this.buttonLoading = false;
              if (!result.errors) {
                this.$refs.dealerForm.reset();
                this.showDialog = false;
                this.editDealerSuccess(result);
                this.banner = [];
                showToast("success", "Dealer Edited Successfully");
              } else {
                showToast("error", JSON.stringify(result.errors));
              }
            });
        } else {
          if (!this.addDealerForm.photo) {
            this.buttonLoading = false;
            return showToast("error", "Logo is required");
          }
          this.$store
            .dispatch("dealer/createDealer", this.addDealerForm)
            .then((result) => {
              this.buttonLoading = false;
              if (!result.errors) {
                this.$refs.dealerForm.reset();
                this.showDialog = false;
                this.addDealerSuccess(result);
                this.banner = [];
                showToast("success", "Dealer Added Successfully");
              } else {
                showToast("error", JSON.stringify(result.errors));
              }
            });
        }
      }
    },
    closeDialog() {
      this.banner = [];
      this.$refs.dealerForm.reset();
      this.showDialog = false;
    },
  },
  computed: {
    showDialog: {
      get: function () {
        if (this.editMode) {
          this.addDealerForm.name = this.editDealer.name;
          this.addDealerForm.location = this.editDealer.location;
          this.addDealerForm.phone = this.editDealer.phone;
          this.addDealerForm.address = this.editDealer.address;
          this.addDealerForm.website = this.editDealer.website;
          this.addDealerForm.category = this.editDealer.category;
          if (this.editDealer.logo != null) {
            const b = {
              fileList: [
                {
                  uid: this.editDealer.id,
                  name: this.editDealer.logo,
                  status: "done",
                  url: this.imgPath("dealers", this.editDealer.logo),
                },
              ],
            };

            this.handleChange(b);
          }
        }
        return this.visible;
      },
      set: function (value) {
        if (!value) {
          this.$emit("closeDealerDialog");
        }
      },
    },
  },
};
</script>