<template>
  <v-dialog v-model="showDialog" persistent max-width="480px">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title" v-if="editMode">Edit Division</h4>
        <h4 class="card-title" v-else>Add Division</h4>

        <div class="card-tools">
          <v-btn
            v-if="editMode"
            color="blue-grey darken-3"
            tile
            depressed
            small
            :loading="buttonLoading"
            dark
            class="mr-2"
            @click="saveCategory()"
            >Save</v-btn
          >
          <v-btn
            v-else
            tile
            depressed
            small
            :loading="buttonLoading"
            dark
            color="blue-grey darken-3"
            @click="saveCategory()"
            class="mr-2"
            >Add</v-btn
          >
          <v-btn icon @click="closeDialog()">
            <i class="fas fa-times"></i>
          </v-btn>
        </div>
      </div>
      <v-form ref="divisionForm">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 py-0">
              <v-text-field
                label="Division Name"
                class="font-weight-light"
                dense
                outlined
                v-on:keydown.enter.prevent="saveCategory()"
                v-model="addDivisionForm.name"
                :rules="nameRules"
                required
              ></v-text-field>
            </div>

            <div class="col-md-12 py-0">
              <v-textarea
                outlined
                name="input-7-4"
                v-model="addDivisionForm.info"
                dense
                required
                counter
                :rules="infoRules"
                label="Division Description(Max 255 characters)"
              ></v-textarea>
            </div>
            <div class="col-6 py-0">
              <h6>Banner Photo</h6>
              <a-upload
                listType="picture-card"
                :fileList="banner"
                :beforeUpload="beforeUpload"
                @preview="handlePreview"
                @change="handleChange"
              >
                <div v-if="banner.length < 1">
                  <a-icon type="plus" />
                  <div class="ant-upload-text">Upload</div>
                </div>
              </a-upload>
              <a-modal
                :visible="previewVisible"
                :footer="null"
                @cancel="handleCancel"
              >
                <img alt="example" style="width: 100%" :src="previewImage" />
              </a-modal>
            </div>

            <div class="col-6 py-0">
              <h6>Highlight Photo</h6>
              <a-upload
                listType="picture-card"
                :fileList="highlight"
                :beforeUpload="beforeHighlightUpload"
                @preview="handleHighlightPreview"
                @change="handleHighlightChange"
              >
                <div v-if="highlight.length < 1">
                  <a-icon type="plus" />
                  <div class="ant-upload-text">Upload</div>
                </div>
              </a-upload>
              <a-modal
                :visible="previewHighlightVisible"
                :footer="null"
                @cancel="handleHighlightCancel"
              >
                <img
                  alt="example"
                  style="width: 100%"
                  :src="previewHighlightImage"
                />
              </a-modal>
            </div>
          </div>
        </div>
      </v-form>
    </div>
  </v-dialog>
</template>

<script>
import { showToast } from "../../utils/toast";
import { mapMutations } from "vuex";
import { getImgPath } from "../../utils/path";

export default {
  props: ["visible", "editMode", "editDivision"],
  data: () => ({
    previewVisible: false,
    previewImage: "",
    banner: [],
    previewHighlightVisible: false,
    previewHighlightImage: "",
    highlight: [],
    dialog: false,
    buttonLoading: false,
    infoRules: [
      (v) =>
        (v && v.length <= 255) ||
        "Division info must be less than 255 characters",
    ],
    nameRules: [
      (v) => !!v || "Division Name is required",
      (v) =>
        (v && v.length <= 20) ||
        "Division Name must be less than 20 characters",
    ],
    addDivisionForm: {
      name: "",
      info: "",
      banner: "",
      highlight: "",
    },
  }),
  methods: {
    imgPath: getImgPath,
    ...mapMutations({
      addDivisionSuccess: "division/ADD_DIVISION_SUCCESS",
      editDivisionSuccess: "division/EDIT_DIVISION_SUCCESS",
    }),
    handleCancel() {
      this.previewVisible = false;
    },
    handlePreview(file) {
      this.previewImage = file.url || file.thumbUrl;
      this.previewVisible = true;
    },
    handleChange({ fileList }) {
      const filteredFiles = fileList.filter((file) => {
        return file.status != "error";
      });
      this.banner = filteredFiles;
    },
    beforeUpload(file) {
      file["status"] = "success";
      const isImage =
        file.type === "image/jpeg" ||
        file.type === "image/jpg" ||
        file.type === "image/png";
      if (!isImage) {
        showToast("error", "You can only upload JPEG/JPG/PNG file!");
        file["status"] = "error";
        return false;
      }
      const isLt2M = file.size / 1024 / 1024 < 3;
      if (!isLt2M) {
        showToast("error", "Image must smaller than 3MB!");
        file["status"] = "error";
        return false;
      }

      this.addDivisionForm.banner = file;
      return false;
      // return isImage && isLt2M;
    },
    handleHighlightCancel() {
      this.previewHighlightVisible = false;
    },
    handleHighlightPreview(file) {
      this.previewHighlightImage = file.url || file.thumbUrl;
      this.previewHighlightVisible = true;
    },
    handleHighlightChange({ fileList }) {
      const filteredFiles = fileList.filter((file) => {
        return file.status != "error";
      });
      this.highlight = filteredFiles;
    },
    beforeHighlightUpload(file) {
      file["status"] = "success";
      const isImage =
        file.type === "image/jpeg" ||
        file.type === "image/jpg" ||
        file.type === "image/png";
      if (!isImage) {
        showToast("error", "You can only upload JPEG/JPG/PNG file!");
        file["status"] = "error";
        return false;
      }
      const isLt2M = file.size / 1024 / 1024 < 3;
      if (!isLt2M) {
        showToast("error", "Image must smaller than 3MB!");
        file["status"] = "error";
        return false;
      }
      this.addDivisionForm.highlight = file;
      return false;
    },
    saveCategory() {
      if (this.$refs.divisionForm.validate()) {
        this.buttonLoading = true;
        if (this.editMode) {
          const rawData = {
            ...this.addDivisionForm,
            id: this.editDivision.id,
          };
          this.$store
            .dispatch("division/modifyDivision", rawData)
            .then((result) => {
              this.buttonLoading = false;
              if (!result.errors) {
                this.$refs.divisionForm.reset();
                this.showDialog = false;
                this.editDivisionSuccess(result);
                this.banner = [];
                this.highlight = [];
                this.addDivisionForm.name = "";
                this.addDivisionForm.banner = "";
                showToast("success", "Division Edited Successfully");
              } else {
                showToast(
                  "error",
                  `${this.addDivisionForm.name} already exists`
                );
              }
            });
        } else {
          this.$store
            .dispatch("division/createDivision", this.addDivisionForm)
            .then((result) => {
              this.buttonLoading = false;
              if (!result.errors) {
                this.$refs.divisionForm.reset();
                this.showDialog = false;
                this.addDivisionSuccess(result);
                this.banner = [];
                this.highlight = [];
                this.addDivisionForm.name = "";
                this.addDivisionForm.banner = "";
                showToast("success", "Division Added Successfully");
              } else {
                showToast(
                  "error",
                  `${this.addDivisionForm.name} already exists`
                );
              }
            });
        }
      }
    },
    closeDialog() {
      this.dialog = false;
      this.banner = [];
      this.highlight = [];
      this.$refs.divisionForm.reset();
      this.showDialog = false;
    },
  },
  computed: {
    showDialog: {
      get: function () {
        if (this.editMode) {
          this.addDivisionForm.name = this.editDivision.name;
          this.addDivisionForm.info = this.editDivision.info;
          if (this.editDivision.banner != null) {
            const b = {
              fileList: [
                {
                  uid: this.editDivision.id,
                  name: this.editDivision.banner,
                  status: "done",
                  url: this.imgPath("banners", this.editDivision.banner),
                },
              ],
            };

            this.handleChange(b);
          }

          if (this.editDivision.highlight != null) {
            const b = {
              fileList: [
                {
                  uid: this.editDivision.id,
                  name: this.editDivision.highlight,
                  status: "done",
                  url: this.imgPath("highlights", this.editDivision.highlight),
                },
              ],
            };

            this.handleHighlightChange(b);
          }
        }
        return this.visible;
      },
      set: function (value) {
        if (!value) {
          this.$emit("closeDivisionDialog");
        }
      },
    },
  },
};
</script>