<template>
  <v-dialog v-model="showDialog" persistent max-width="1000px">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title" v-if="editMode">Message</h4>
        <h4 class="card-title" v-else>Message</h4>

        <div class="card-tools">
          <v-btn icon @click="closeDialog()">
            <i class="fas fa-times"></i>
          </v-btn>
        </div>
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6 py-0">
                <v-text-field
                  label="Name"
                  class="font-weight-light"
                  outlined
                  dense
                  v-model="messageForm.name"
                  disabled
                  :rules="nameRule"
                  required
                ></v-text-field>
              </div>
              <div class="col-md-6 py-0">
                <v-text-field
                  label="Contact No"
                  class="font-weight-light"
                  dense
                  outlined
                  disabled
                  type="number"
                  v-model="messageForm.contact_no"
                  :rules="contactRule"
                  required
                ></v-text-field>
              </div>
              <div class="col-12 py-0">
                <v-text-field
                  label="Email"
                  class="font-weight-light"
                  outlined
                  v-model="messageForm.email"
                  dense
                  :rules="emailRule"
                  required
                ></v-text-field>
              </div>

              <div class="col-12 py-0">
                <v-textarea
                  label="Message"
                  class="font-weight-light"
                  outlined
                  dense
                  disabled
                  v-model="messageForm.message"
                  :rules="messageRule"
                  required
                ></v-textarea>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <v-form ref="messageForm">
              <div class="row">
                <div class="col-12 py-0">
                  <v-text-field
                    label="Subject"
                    class="font-weight-light"
                    outlined
                    v-model="replyForm.subject"
                    dense
                    :rules="subjectRule"
                    required
                  ></v-text-field>
                </div>

                <div class="col-12 py-0">
                  <v-textarea
                    label="Reply Message"
                    class="font-weight-light"
                    outlined
                    dense
                    v-model="replyForm.message"
                    :rules="replyMessageRule"
                    required
                  ></v-textarea>
                </div>

                <div class="col-12 py-0">
                  <v-btn
                    tile
                    depressed
                    small
                    :loading="buttonLoading"
                    dark
                    color="blue-grey darken-3"
                    @click="sendReply()"
                    style="float: right"
                    >Reply</v-btn
                  >
                </div>
              </div>
            </v-form>
          </div>
        </div>
      </div>
    </div>
  </v-dialog>
</template>

<script>
import { showToast } from "../../utils/toast";
import { mapMutations } from "vuex";
export default {
  name: "MessageModal",
  props: ["visible", "editMessage"],
  data() {
    return {
      nameRule: [(v) => !!v || "Category is required"],
      emailRule: [(v) => !!v || "Email is required"],
      contactRule: [(v) => !!v || "Contact is required"],
      messageRule: [(v) => !!v || "Message is required"],
      replyMessageRule: [
        (v) => !!v || "Reply message is required",
        (v) =>
          (v && v.length <= 191) ||
          "Reply message must be less than 191 characters",
      ],
      subjectRule: [(v) => !!v || "Message is required"],
      dialog: false,
      buttonLoading: false,
      messageForm: {
        id: "",
        name: "",
        email: "",
        contact_no: "",
        message: "",
      },

      replyForm: {
        subject: "",
        message: "",
      },
    };
  },
  methods: {
    ...mapMutations({
      editMessageSuccess: "message/EDIT_MESSAGE_SUCCESS",
    }),
    closeDialog() {
      this.messageForm.id = "";
      this.messageForm.name = "";
      this.messageForm.email = "";
      this.messageForm.contact_no = "";
      this.messageForm.message = "";
      this.replyForm.subject = "";
      this.replyForm.message = "";
      this.showDialog = false;

      this.dialog = false;
    },
    sendReply() {
      if (this.$refs.messageForm.validate()) {
        const rawData = {
          id: this.editMessage.id,
          ...this.replyForm,
        };
        this.buttonLoading = true;
        this.$store.dispatch("message/sendReply", rawData).then((result) => {
          this.buttonLoading = false;
          showToast("success", "Message Replyed Successfully");
          this.replyForm.subject = "";
          this.replyForm.message = "";
          this.editMessageSuccess(result);
          this.closeDialog();
        });
      }
    },
  },
  computed: {
    showDialog: {
      get: function () {
        if (this.editMessage) {
          this.messageForm.id = this.editMessage.id;
          this.messageForm.name = this.editMessage.name;
          this.messageForm.email = this.editMessage.email;
          this.messageForm.contact_no = this.editMessage.contact_no;
          this.messageForm.message = this.editMessage.message;
        }

        return this.visible;
      },
      set: function (value) {
        if (!value) {
          this.$emit("closeMessageDialog");
        }
      },
    },
  },
};
</script>