<template>
  <v-dialog v-model="showDialog" persistent max-width="700px">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title" v-if="editMode">Edit Notice</h4>
        <h4 class="card-title" v-else>Add Notice</h4>

        <div class="card-tools">
          <v-btn
            v-if="editMode"
            color="blue-grey darken-3"
            tile
            depressed
            small
            dark
            class="mr-2"
            @click="saveNotice()"
          >Save</v-btn>
          <v-btn
            v-else
            tile
            depressed
            small
            dark
            color="blue-grey darken-3"
            @click="saveNotice()"
            class="mr-2"
          >Add</v-btn>
          <v-btn icon @click="closeDialog()">
            <i class="fas fa-times"></i>
          </v-btn>
        </div>
      </div>

      <v-form ref="noticeForm">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 py-0">
              <v-text-field
                label="Title"
                class="font-weight-light"
                outlined
                required
                dense
                 :rules="titleRules"
                v-model="addNoticeForm.title"
              ></v-text-field>
            </div>
            <div class="col-md-6 py-0">
              <v-text-field
                label="Link"
                class="font-weight-light"
                outlined
                dense
                v-model="addNoticeForm.link"
              ></v-text-field>
            </div>
            <div class="col-md-10 py-0">
               <v-textarea
                outlined
                name="input-7-4"
                v-model="addNoticeForm.description"
                required
                dense
                counter
                :rules="descriptionRules"
                label="Description(Max 255 characters)"
              ></v-textarea>
            </div>
            <div class="col-md-2 py-0">
              <h6>Status</h6>
              <v-switch inset v-model="addNoticeForm.status" flat color="orange" dense></v-switch>
            </div>
            <div class="col-md-6 py-0">
              <h6>Upload Photo</h6>
              <a-upload
                listType="picture-card"
                :fileList="banner"
                :beforeUpload="beforeUpload"
                @preview="handlePreview"
                @change="handleChange"
              >
                <div v-if="banner.length < 1">
                  <a-icon type="plus" />
                  <div class="ant-upload-text">Upload</div>
                </div>
              </a-upload>
              <a-modal :visible="previewVisible" :footer="null" @cancel="handleCancel">
                <img alt="example" style="width: 100%" :src="previewImage" />
              </a-modal>
            </div>
          </div>
        </div>
      </v-form>
    </div>
  </v-dialog>
</template>

<script>
import { showToast } from "../../utils/toast";
import { mapMutations } from "vuex";
import { getImgPath } from "../../utils/path";

export default {
  props: ["visible", "editMode", "editNotice"],
  data: () => ({
    previewVisible: false,
    previewImage: "",
    banner: [],
    titleRules: [(v) => !!v || "Title is required",
    (v) =>(v && v.length <= 50) ||
        "Title must be less than 50 characters"],
    descriptionRules: [
      (v) =>
        (v && v.length <= 255) ||
        "Description must be less than 255 characters",
    ],
    addNoticeForm: {
      title:"",
      link: "",
      description: "",
      status: false
    }
  }),
  methods: {
    imgPath: getImgPath,
    ...mapMutations({
      addNoticeSuccess: "notice/ADD_NOTICE_SUCCESS",
      editNoticeSuccess: "notice/MODIFY_NOTICE_SUCCESS"
    }),
    handleCancel() {
      this.previewVisible = false;
    },
    handlePreview(file) {
      this.previewImage = file.url || file.thumbUrl;
      this.previewVisible = true;
    },
    handleChange({ fileList }) {
      this.banner = fileList;
    },
    beforeUpload(file) {
      const isImage =
        file.type === "image/jpeg" ||
        file.type === "image/jpg" ||
        file.type === "image/png";
      if (!isImage) {
        this.$message.error("You can only upload JPG file!");
        this.banner = [];
      }
      const isLt2M = file.size / 1024 / 1024 < 3;
      if (!isLt2M) {
        showToast("error", "Image must smaller than 3MB!");
        this.banner = [];
      }
      this.addNoticeForm.photo = file;
      return isImage && isLt2M;
    },
    saveNotice() {
      if (this.$refs.noticeForm.validate()) {
        if (this.editMode) {
          const rawData = {
            ...this.addNoticeForm,
            id: this.editNotice.id
          };
          this.$store.dispatch("notice/modifyNotice", rawData).then(result => {
            if (!result.errors) {
              this.$refs.noticeForm.reset();
              this.showDialog = false;
              this.editNoticeSuccess(result);
              this.banner = [];
              showToast("success", "Notice Edited Successfully");
            } else {
              showToast("error", JSON.stringify(result.errors));
            }
          });
        } else {
          if (!this.addNoticeForm.photo) {
            return showToast("error", "Photo is required");
          }
          this.$store
            .dispatch("notice/createNotice", this.addNoticeForm)
            .then(result => {
              if (!result.errors) {
                this.$refs.noticeForm.reset();
                this.showDialog = false;
                this.addNoticeSuccess(result);
                this.banner = [];
                showToast("success", "Notice Added Successfully");
              } else {
                showToast("error", JSON.stringify(result.errors));
              }
            });
        }
      }
    },
    closeDialog() {
      this.banner = [];
      this.$refs.noticeForm.reset();
      this.showDialog = false;
    }
  },
  computed: {
    showDialog: {
      get: function() {
        if (this.editMode) {
          this.addNoticeForm.title = this.editNotice.title;
          this.addNoticeForm.description = this.editNotice.description;
          this.addNoticeForm.link = this.editNotice.link;
          this.addNoticeForm.status =
            this.editNotice.status == 1 ? true : false;
          if (this.editNotice.photo != null) {
            const b = {
              fileList: [
                {
                  uid: this.editNotice.id,
                  name: this.editNotice.photo,
                  status: "done",
                  url: this.imgPath("notices", this.editNotice.photo)
                }
              ]
            };

            this.handleChange(b);
          }
        }
        return this.visible;
      },
      set: function(value) {
        if (!value) {
          this.$emit("closeNoticeDialog");
        }
      }
    }
  }
};
</script>