<template>
  <v-dialog v-model="showDialog" persistent max-width="900px">
    <v-card>
      <v-card-title class="ml-2">
        <h4 class="font-weight-bolder text-uppercase">Order</h4>
        <v-spacer></v-spacer>
        <v-btn outlined tile class="text-capitalize" small @click="print()"
          >Print<v-icon right dark> mdi-printer </v-icon></v-btn
        >
        <v-btn icon @click.stop="closeDialog()">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <div id="printMe">
        <hr />
        <v-card-subtitle class="ml-3 pb-0">
          <h5 class="font-weight-bolder text-uppercase">
            Order No: {{ editMessage.order_no }}
          </h5>
          <p style="margin-top: -10px">
            Date: {{ editMessage.created_at | formatDate }}
          </p>
        </v-card-subtitle>
        <v-form ref="messageForm">
          <v-card-text class="pb-0">
            <div class="container pt-0">
              <div class="row">
                <div class="col-md-4">
                  <p class="my-0">
                    Name :
                    <span class="text-capitalize"
                      >{{ editMessage.firstname }}
                      {{ editMessage.lastname }}</span
                    >
                  </p>

                  <p class="my-0">
                    Email :
                    <span>{{ editMessage.email }}</span>
                  </p>
                  <p class="my-0">
                    Phone :
                    <span class="text-capitalize">{{ editMessage.phone }}</span>
                  </p>
                  <p class="my-0">
                    Secondary Phone :
                    <span class="text-capitalize">{{
                      editMessage.secondary_phone
                    }}</span>
                  </p>
                </div>
                <div class="col-md-4">
                  <p class="my-0">
                    Country :
                    <span class="text-capitalize">{{
                      editMessage.country
                    }}</span>
                  </p>
                  <p class="my-0">
                    State :
                    <span class="text-capitalize">{{ editMessage.state }}</span>
                  </p>
                  <p class="my-0">
                    Address :
                    <span class="text-capitalize">{{
                      editMessage.address
                    }}</span>
                  </p>
                  <p class="my-0">
                    Zip Code :
                    <span class="text-capitalize">{{
                      editMessage.zip_code
                    }}</span>
                  </p>
                </div>
                <div class="col-md-4">
                  <p class="my-0">
                    Payment :
                    <span class="text-capitalize">{{
                      editMessage.payment_method
                    }}</span>
                  </p>
                  <p class="my-0">
                    Status :
                    <span class="text-capitalize">{{
                      editMessage.status
                    }}</span>
                  </p>
                </div>
              </div>
            </div>
            <table
              class="table table-condensed table-hover"
            >
              <thead>
                <tr>
                  <th class="text-left">Name</th>
                  <th class="text-left">Photo</th>
                  <th class="text-left">Color</th>
                  <th class="text-left">Qty</th>
                  <th class="text-left">Size</th>
                  <th class="text-left">Price</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="(item, index) in editMessage.order_products"
                  :key="index"
                >
                  <td>{{ item.name }}</td>
                  <td>
                    <img :src="imgPath('products', item.photo)" alt="" width="50" height="50" style="object-fit:contain">
                  </td>
                  <td>
                    <div :style="{height:'30px',width:'30px',borderRadius:'100%',backgroundColor:item.color}"></div>
                  </td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.size }}</td>
                  <td>{{ item.price * item.quantity }}</td>
                </tr>
              </tbody>
            </table>

            <v-divider></v-divider>

            <div style="display: flex">
              <span class="mx-auto"></span>
              <div
                style="
                  display: flex;
                  justify-content: space-between;
                  width: 250px;
                "
                class="mr-5"
              >
                <p class="ma-1">Sub Total</p>
                <span class="my-1">Rs.{{ editMessage.subtotal }}</span>
              </div>
            </div>
            <div style="display: flex">
              <span class="mx-auto"></span>
              <div
                style="
                  display: flex;
                  justify-content: space-between;
                  width: 250px;
                "
                class="mr-5"
              >
                <p class="ma-1">Promo Code Discount</p>
                <span class="my-1">Rs.{{ editMessage.discount }}</span>
              </div>
            </div>
              <div style="display: flex">
              <span class="mx-auto"></span>
              <div
                style="
                  display: flex;
                  justify-content: space-between;
                  width: 250px;
                "
                class="mr-5"
              >
                <p class="ma-1">Shipping</p>
                <span class="my-1">Rs.{{ editMessage.shipping }}</span>
              </div>
            </div>
            <div style="display: flex">
              <span class="mx-auto"></span>
              <div
                style="
                  display: flex;
                  justify-content: space-between;
                  width: 250px;
                "
                class="mr-5"
              >
                <p class="font-weight-bold ma-1">Total</p>
                <span class="my-1">Rs.{{ editMessage.total }}</span>
              </div>
            </div>
          </v-card-text>
          <v-card-actions class="pb-5 pt-0 pr-8">
            <v-spacer></v-spacer>
          </v-card-actions>
        </v-form>
      </div>
    </v-card>
  </v-dialog>
</template>

<script>
import { showToast } from "../../utils/toast";
import { mapMutations } from "vuex";
import { getImgPath } from "../../utils/path";
import moment from "moment";
import axios from "axios";
export default {
  name: "OrderModal",
  props: ["visible", "editMode", "editMessage"],
  data() {
    return {
      dialog: false,
    };
  },
  methods: {
    ...mapMutations({}),
    imgPath: getImgPath,
    statusChanged(status) {
      const data = {
        id: this.editMessage.id,
        status: status,
      };
      this.$store.dispatch("order/changeStatus", data).then((result) => {
        showToast("success", "Status Changed Successfully");
      });
    },
    closeDialog() {
      this.showDialog = false;
      this.dialog = false;
    },
    print() {
      // Pass the element id here
      this.$htmlToPaper("printMe");
    },
  },
  computed: {
    showDialog: {
      get: function () {
        return this.visible;
      },
      set: function (value) {
        if (!value) {
          this.$emit("closeMessageDialog");
        }
      },
    },
  },
  filters: {
    formatDate: function (date) {
      return moment(date).format("MMMM Do YYYY");
    },
  },
};
</script>