<template>
  <v-dialog v-model="showDialog" persistent max-width="900px">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title" v-if="editMode">Edit Page</h4>
        <h4 class="card-title" v-else>Add Page</h4>

        <div class="card-tools">
          <v-btn
            v-if="editMode"
            color="blue-grey darken-3"
            tile
            depressed
            small
            dark
            class="mr-2"
            @click="savePage()"
            >Save</v-btn
          >
          <v-btn
            v-else
            tile
            depressed
            small
            dark
            color="blue-grey darken-3"
            @click="savePage()"
            class="mr-2"
            >Add</v-btn
          >
          <v-btn icon @click="closeDialog()">
            <i class="fas fa-times"></i>
          </v-btn>
        </div>
      </div>
      <v-form ref="pageForm">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 py-0" v-if="editMode">
              <v-text-field
                label="Page Title"
                class="font-weight-light"
                outlined
                dense
                disabled
                v-on:keydown.enter.prevent="savePage()"
                v-model="addPageForm.title"
                :rules="titleRule"
                required
              ></v-text-field>
            </div>
            <div class="col-md-12 py-0" v-else>
              <v-text-field
                label="Page Title"
                class="font-weight-light"
                outlined
                dense
                v-on:keydown.enter.prevent="savePage()"
                v-model="addPageForm.title"
                :rules="titleRule"
                required
              ></v-text-field>
            </div>

            <div class="col-md-12 py-0">
              <h6>Content</h6>
              <quillEditor
                class="quill-editor"
                style="height: 400px"
                ref="myQuillEditor"
                v-model="addPageForm.content"
                :options="editorOption"
              ></quillEditor>
            </div>
            <div class="col-md-12 mt-12"></div>
          </div>
        </div>
      </v-form>
    </div>
  </v-dialog>
</template>

<script>
import { showToast } from "../../utils/toast";
import { mapMutations } from "vuex";
import { getImgPath } from "../../utils/path";
import "quill/dist/quill.core.css";
import "quill/dist/quill.snow.css";
import "quill/dist/quill.bubble.css";
import { quillEditor, Quill } from "vue-quill-editor";
import ImageResize from "quill-image-resize";

// Register ImageResize module
Quill.register("modules/imageResize", ImageResize);

export default {
  props: ["visible", "editMode", "editPage"],
  components: {
    quillEditor,
  },
  data: () => ({
    dialog: false,
    titleRule: [
      (v) => !!v || "Title is required",
      (v) => (v && v.length <= 20) || "Title must be less than 20 characters",
    ],
    editorOption: {
      placeholder: "Enter Content",
      theme: "snow",
      modules: {
        imageResize: true,
        toolbar: [
          ["bold", "italic", "underline", "strike"],
          ["blockquote", "code-block"],
          [{ header: 1 }, { header: 2 }],
          [{ list: "ordered" }, { list: "bullet" }],
          [{ script: "sub" }, { script: "super" }],
          [{ indent: "-1" }, { indent: "+1" }],
          [{ direction: "rtl" }],
          [{ size: ["small", false, "large", "huge"] }],
          [{ header: [1, 2, 3, 4, 5, 6, false] }],
          [{ font: [] }],
          [{ color: [] }, { background: [] }],
          [{ align: [] }],
          ["clean"],
          ["link", "image", "video"],
        ],
      },
    },
    addPageForm: {
      title: "",
      content: "",
    },
  }),
  methods: {
    imgPath: getImgPath,
    ...mapMutations({
      addPageSuccess: "page/ADD_PAGE_SUCCESS",
      editPageSuccess: "page/EDIT_PAGE_SUCCESS",
    }),
    savePage() {
      if (this.$refs.pageForm.validate()) {
        if (this.editMode) {
          const rawData = {
            ...this.addPageForm,
            id: this.editPage.id,
          };
          this.$store.dispatch("page/modifyPage", rawData).then((result) => {
            if (!result.errors) {
              this.$refs.pageForm.reset();
              this.showDialog = false;
              this.addPageForm.title = "";
              this.addPageForm.content = "";
              this.editPageSuccess(result);
              showToast("success", "Page Edited Successfully");
            } else {
              console.log(result.errors);
              showToast("error", `${this.addPageForm.name} already exists`);
            }
          });
        } else {
          this.$store
            .dispatch("page/createPage", this.addPageForm)
            .then((result) => {
              if (!result.errors) {
                this.$refs.pageForm.reset();
                this.showDialog = false;
                this.addPageForm.title = "";
                this.addPageForm.content = "";
                this.addPageSuccess(result);
                showToast("success", "Page Added Successfully");
              } else {
                showToast("error", `${this.addPageForm.title} already exists`);
              }
            });
        }
      }
    },
    closeDialog() {
      this.dialog = false;
      this.addPageForm.title = "";
      this.addPageForm.content = "";
      this.$refs.pageForm.reset();
      this.showDialog = false;
    },
  },
  computed: {
    showDialog: {
      get: function () {
        if (this.editMode) {
          this.addPageForm.title = this.editPage.title;
          this.addPageForm.content =
            this.editPage.content == null ? "" : this.editPage.content;
        }
        return this.visible;
      },
      set: function (value) {
        if (!value) {
          this.$emit("closePageDialog");
        }
      },
    },
  },
};
</script>