<template>
  <v-dialog v-model="showDialog" persistent max-width="480px">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title" v-if="editMode">Edit Product Category</h4>
        <h4 class="card-title" v-else>Add Product Category</h4>

        <div class="card-tools">
          <v-btn
            v-if="editMode"
            color="blue-grey darken-3"
            tile
            depressed
            small
            :loading="buttonLoading"
            dark
            class="mr-2"
            @click="saveProductCategory()"
            >Save</v-btn
          >
          <v-btn
            v-else
            tile
            depressed
            small
            :loading="buttonLoading"
            dark
            color="blue-grey darken-3"
            @click="saveProductCategory()"
            class="mr-2"
            >Add</v-btn
          >
          <v-btn icon @click="closeDialog()">
            <i class="fas fa-times"></i>
          </v-btn>
        </div>
      </div>
      <v-form ref="productCategoryForm">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 py-0">
              <v-text-field
                label="Product Category"
                class="font-weight-light"
                outlined
                dense
                v-on:keydown.enter.prevent="saveProductCategory()"
                v-model="addProductCategoryForm.name"
                :rules="productCategoryRule"
                required
              ></v-text-field>
            </div>
          </div>
        </div>
      </v-form>
    </div>
  </v-dialog>
</template>

<script>
import Swal from "sweetalert2";
import { mapMutations, mapGetters } from "vuex";
import { showToast } from "../../utils/toast";

export default {
  props: ["visible", "editMode", "editCategory"],
  data: () => ({
    dialog: false,
    buttonLoading: false,
    categoryRule: [(v) => !!v || "Category is required"],
    productCategoryRule: [
      (v) => !!v || "Product Category is required",
      (v) =>
        (v && v.length <= 20) ||
        "Product category must be less than 20 characters",
    ],
    value: "",
    addProductCategoryForm: {
      category_id: "",
      name: "",
    },
  }),
  methods: {
    ...mapMutations({
      addProductCategorySuccess: "productcategory/ADD_PRODUCT_CATEGORY_SUCCESS",
      editProductCategorySuccess:
        "productcategory/EDIT_PRODUCT_CATEGORY_SUCCESS",
    }),
    saveProductCategory() {
      if (this.$refs.productCategoryForm.validate()) {
        this.buttonLoading = true;
        if (this.editMode) {
          const rawData = {
            ...this.addProductCategoryForm,
            id: this.editCategory.id,
          };
          this.$store
            .dispatch("productcategory/modifyProductCategory", rawData)
            .then((result) => {
              this.buttonLoading = false;
              if (!result.errors) {
                this.$refs.productCategoryForm.reset();
                this.showDialog = false;
                this.editProductCategorySuccess(result);
                this.addProductCategoryForm.name = "";
                this.value = "";
                showToast("success", "Product category Edited Successfully");
              } else {
                showToast("error", `${result.errors}`);
              }
            });
        } else {
          this.$store
            .dispatch(
              "productcategory/createProductCategory",
              this.addProductCategoryForm
            )
            .then((result) => {
              this.buttonLoading = false;
              if (!result.errors) {
                this.$refs.productCategoryForm.reset();
                this.showDialog = false;
                this.addProductCategorySuccess(result);
                this.banner = [];
                this.addProductCategoryForm.name = "";
                showToast("success", "Product Category Added Successfully");
              } else {
                showToast("error", `${result.errors}`);
              }
            });
        }
      }
    },
    closeDialog() {
      this.dialog = false;
      this.$refs.productCategoryForm.reset();
      this.showDialog = false;
      this.value = "";
    },
  },
  computed: {
    ...mapGetters({ productCategories: "productcategory/productCategories" }),
    getSelectItem: function () {
      return this.categories.map((category) => {
        return category.name;
      });
    },
    showDialog: {
      get: function () {
        if (this.editMode) {
          this.addProductCategoryForm.name = this.editCategory.name;
        }
        return this.visible;
      },
      set: function (value) {
        if (!value) {
          this.$emit("closeCategoryDialog");
        }
      },
    },
  },
};
</script>
