<template>
  <v-dialog v-model="showDialog" persistent scrollable max-width="1000px">
    <v-card>
      <v-card-title class="pb-0">
        <span v-if="editMode" class="headline font-weight-bold">Edit Product</span>
        <span v-else class="headline font-weight-bold">Add Product</span>
        <v-spacer></v-spacer>
        <h6 class="mr-2">Parallax</h6>
        <v-switch inset v-model="addProductForm.is_highlighted" flat color="orange" class="mr-5"></v-switch>
        <h6 class="mr-2">Featured</h6>
        <v-switch inset v-model="addProductForm.featured" flat color="orange" class="mr-5"></v-switch>
        <v-btn
          v-if="editMode"
          color="blue-grey darken-3"
          tile
          depressed
          dark
          class="mr-2"
          @click="saveProduct()"
        >Save</v-btn>
        <v-btn
          v-else
          color="blue-grey darken-3"
          tile
          depressed
          dark
          @click="saveProduct()"
          class="mr-2"
        >Save</v-btn>
        <v-btn
          tile
          outlined
          @click="publish()"
          class="mr-2"
          v-if="this.editProduct.published==0 || !editMode"
        >Publish</v-btn>

        <v-btn tile outlined @click="unpublish()" v-else>Unpublish</v-btn>
        <v-btn
          color="blue-grey darken-3"
          tile
          depressed
          dark
          @click="pasteProduct()"
          v-if="!editMode && checkLocalStorage()"
        >Paste</v-btn>
        <ProductMenu @close="closeDialog()" :edit="editMode" :product="editProduct" />
        <v-btn icon @click="closeDialog()">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>

      <v-card-text>
        <v-form ref="productForm" class="pb-0">
          <v-row>
            <v-col cols="12" md="6" class="pb-0">
              <v-text-field
                label="Name"
                :rules="nameRules"
                required
                outlined
                class="font-weight-light"
                v-model="addProductForm.name"
              />
            </v-col>
            <v-col cols="12" md="6" class="pb-0">
              <v-text-field
                label="Product Code"
                outlined
                class="font-weight-light"
                v-model="addProductForm.code"
              />
            </v-col>
            <v-col cols="12" md="6" class="pt-0 pb-0">
              <v-select
                :items="this.getBrandItems"
                label="Brands"
                :rules="brandRule"
                :value="brand"
                outlined
                required
                @change="brandChange"
              ></v-select>
            </v-col>
            <v-col cols="12" md="6" class="pt-0 pb-0">
              <v-select
                :items="this.getDivisionItems"
                label="Division"
                v-model="selectedDivision"
                outlined
                multiple
              >
                <template slot="selection" slot-scope="data">
                  <v-chip>{{ data.item }}</v-chip>
                </template>
              </v-select>
            </v-col>
            <v-col cols="12" md="6" class="pt-0 pb-0">
              <v-select
                :items="this.getProductCategoryItems"
                label="Product Category"
                :rules="productCategoryRule"
                :value="productCategory"
                outlined
                required
                @change="productCategoryChange"
              ></v-select>
            </v-col>
            <v-col cols="12" md="6" class="pt-0 pb-0">
              <v-text-field
                label="Price"
                :rules="priceRules"
                required
                type="number"
                outlined
                class="font-weight-light"
                v-model="addProductForm.price"
              />
            </v-col>
            <v-col cols="12" md="6" class="pt-0 pb-0">
              <v-combobox
                outlined
                :items="filterTags"
                multiple
                label="Tags"
                v-model="addProductForm.tags"
              >
                <template v-slot:selection="{ attrs, item, select, selected }">
                  <v-chip
                    v-bind="attrs"
                    :input-value="selected"
                    close
                    @click="select"
                    @click:close="removeTag(item)"
                  >
                    <strong>{{ item }}</strong>
                  </v-chip>
                </template>
              </v-combobox>
            </v-col>
            <v-col cols="12" md="3" class="pt-0 pb-0">
              <v-text-field
                label="Sale Price"
                type="number"
                outlined
                class="font-weight-light"
                v-model="addProductForm.sale_price"
              />
            </v-col>
            <v-col cols="12" md="3" class="pt-0 pb-0">
              <v-container class="pt-0 pb-0">
                <v-row class="pt-0 pb-0">
                  <h6 class="mr-5 mt-5">Sale</h6>
                  <v-switch inset v-model="addProductForm.sale" flat color="orange"></v-switch>
                </v-row>
              </v-container>
            </v-col>

            <v-col cols="12" md="6" class="pb-0 pt-0">
              <v-select
                :items="this.getColorItems"
                label="Color"
                :rules="colorRule"
                v-model="selectedColor"
                outlined
                item-text="name"
                item-value="name"
                multiple
                required
              >
                <template slot="selection" slot-scope="data">
                  <v-chip>
                    <v-avatar left :color="data.item.hex" size="5"></v-avatar>
                    {{ data.item.name }}
                  </v-chip>
                </template>
                <template slot="item" slot-scope="data">
                  <template v-if="typeof data.item !== 'object'">
                    <v-list-item-content v-text="data.item"></v-list-item-content>
                  </template>
                  <template>
                    <v-list-item-icon>
                      <v-avatar :color="data.item.hex" size="20"></v-avatar>
                    </v-list-item-icon>
                    <v-list-item-content>
                      <v-list-item-title>{{data.item.name}}</v-list-item-title>
                    </v-list-item-content>
                  </template>
                </template>
              </v-select>
            </v-col>

            <v-col cols="12" md="3" class="pt-0 pb-0">
              <v-text-field
                label="Quantity"
                type="number"
                outlined
                required
                :rules="quantityRules"
                class="font-weight-light"
                v-model="addProductForm.quantity"
              />
            </v-col>
            <v-col cols="12" md="3" class="pt-0 pb-0">
              <v-container class="pt-0 pb-0">
                <v-row class="pt-0 pb-0">
                  <h6 class="mr-5 mt-5">Out Ot Stock</h6>
                  <v-switch inset v-model="addProductForm.out_of_stock" flat color="orange"></v-switch>
                </v-row>
              </v-container>
            </v-col>

            <v-col cols="12" md="6" class="pb-0 pt-0">
              <v-select
                :items="getSizesKey"
                label="Size Name"
                v-model="sizeGroup"
                @change="sizeChange"
                outlined
              ></v-select>
            </v-col>

            <v-col cols="12" md="6" class="pb-0 pt-0">
              <v-select :items="size" label="Sizes" v-model="selectedSizes" outlined multiple>
                <template slot="selection" slot-scope="data">
                  <v-chip>{{ data.item }}</v-chip>
                </template>
              </v-select>
            </v-col>

            <v-col cols="12" md="6" class="pb-0 pt-0">
              <v-select
                :items="genders"
                label="Gender"
                v-model="addProductForm.genders"
                outlined
                multiple
              >
                <template slot="selection" slot-scope="data">
                  <v-chip>{{ data.item }}</v-chip>
                </template>
              </v-select>
            </v-col>

            <v-col cols="12" md="6" class="pb-0 pt-0">
              <v-textarea
                outlined
                name="input-7-4"
                v-model="addProductForm.short_description"
                required
                counter
                :rules="shortDescriptionRules"
                label="Short Description(Max 255 characters)"
              ></v-textarea>
            </v-col>

            <v-col cols="12" md="12" class="pt-0 pb-0">
              <h6>Features</h6>
              <div
                class="quill-editor"
                style="height:300px"
                :content="addProductForm.features"
                @change="onEditorChange($event)"
                v-quill:myQuillEditor="editorOption"
              ></div>
            </v-col>
          </v-row>
          <v-col cols="12" md="6" class="pl-0 pb-0">
            <h6>Upload Size Chart</h6>
            <v-row class="pl-4">
              <template v-if="this.editMode">
                <a-upload
                  listType="picture-card"
                  :fileList="sizecharts"
                  @preview="handleSizeChartPreview"
                  @change="handleSizeChartChange"
                  :remove="customRemoveSizeChart"
                >
                  <div v-if="sizecharts.length < 1">
                    <a-icon type="plus" />
                    <div class="ant-upload-text">Upload</div>
                  </div>
                </a-upload>
                <a-modal :visible="previewVisible" :footer="null" @cancel="handleCancel">
                  <img alt="example" style="width: 100%" :src="previewImage" />
                </a-modal>
              </template>

              <template v-else>
                <a-upload
                  listType="picture-card"
                  :fileList="sizecharts"
                  @preview="handleSizeChartPreview"
                  @change="handleSizeChartChange"
                >
                  <div v-if="sizecharts.length < 1">
                    <a-icon type="plus" />
                    <div class="ant-upload-text">Upload</div>
                  </div>
                </a-upload>
                <a-modal :visible="previewVisible" :footer="null" @cancel="handleCancel">
                  <img alt="example" style="width: 100%" :src="previewImage" />
                </a-modal>
              </template>
            </v-row>
          </v-col>

          <v-col cols="12" md="12" class="pl-0 pt-0">
            <h6>Upload Photos</h6>
            <v-row class="pl-4">
              <template v-if="this.editMode">
                <a-upload
                  listType="picture-card"
                  :fileList="products"
                  @preview="handlePreview"
                  @change="handleChange"
                  :beforeUpload="beforeUpload"
                  multiple
                  :remove="customRemove"
                >
                  <a-icon type="plus" />
                  <div class="ant-upload-text">Upload</div>
                </a-upload>
                <a-modal :visible="previewVisible" :footer="null" @cancel="handleCancel">
                  <img alt="example" style="width: 100%" :src="previewImage" />
                </a-modal>
              </template>
              <template v-else>
                <a-upload
                  listType="picture-card"
                  :fileList="products"
                  @preview="handlePreview"
                  @change="handleChange"
                  :beforeUpload="beforeUpload"
                  multiple
                >
                  <a-icon type="plus" />
                  <div class="ant-upload-text">Upload</div>
                </a-upload>
                <a-modal :visible="previewVisible" :footer="null" @cancel="handleCancel">
                  <img alt="example" style="width: 100%" :src="previewImage" />
                </a-modal>
              </template>
            </v-row>
          </v-col>
        </v-form>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import Form from "vform";
import Swal from "sweetalert2";
import axios from "axios";
import { mapGetters, mapMutations } from "vuex";
import ProductMenu from "../ProductMenu";
import { getImgPath } from "../../utils/path";
import { showToast } from "../../utils/toast";

export default {
  props: ["visible", "editMode", "editProduct"],
  components: {
    ProductMenu
  },
  data: () => ({
    inputs: [
      {
        product: ""
      }
    ],
    previewVisible: false,
    previewImage: "",
    previewSizeChartVisible: false,
    previewSizeChartImage: "",
    sizecharts: [],
    products: [],
    selectedCategory: null,
    editorOption: {
      // some quill options
      modules: {
        toolbar: [
          ["bold", "italic", "underline", "strike"],
          ["blockquote", "code-block"],
          [{ header: 1 }, { header: 2 }],
          [{ list: "ordered" }, { list: "bullet" }],
          [{ script: "sub" }, { script: "super" }],
          [{ indent: "-1" }, { indent: "+1" }],
          [{ direction: "rtl" }],
          [{ size: ["small", false, "large", "huge"] }],
          [{ header: [1, 2, 3, 4, 5, 6, false] }],
          [{ font: [] }],
          [{ color: [] }, { background: [] }],
          [{ align: [] }],
          ["clean"],
          ["link", "image"]
        ]
      }
    },
    dialog: false,
    imageRules: [
      v => !!v || "Photo is required",
      value =>
        !value ||
        value.size < 2000000 ||
        "Profile pic should be less than 2 MB!"
    ],
    brandRule: [v => !!v || "Brand is required"],
    productCategoryRule: [v => !!v || "Product Category is required"],
    nameRules: [
      v => !!v || "Name is required",
      v => (v && v.length <= 50) || "Name must be less than 50 characters"
    ],
    categoriesFetched: false,
    colorFetched: false,
    color: "",
    colorRule: [v => !!v || "Color is required"],
    priceRules: [v => !!v || "Price is required"],
    shortDescriptionRules: [
      v => !!v || "Short Description is required",
      v =>
        (v && v.length <= 255) ||
        "Short Description must be less than 255 characters"
    ],
    quantityRules: [v => !!v || "Quantity is required"],
    sizeGroup: "",
    size: [],
    selectedSizes: [],
    genders: ["Men", "Women", "Youth", "Unisex"],
    selectedColor: [],
    selectedDivision: [],
    brand: "",
    productCategory: "",
    addProductForm: {
      name: "",
      code: "",
      price: "",
      sale_price: "",
      brand_id: "",
      product_category_id: "",
      short_description: "",
      features: "",
      sizes: [],
      quantity: "",
      tags: [],
      colors: [],
      genders: [],
      divisions: [],
      sale: false,
      featured: false,
      published: false,
      is_highlighted: false,
      out_of_stock: false
    }
  }),
  methods: {
    imgPath: getImgPath,
    ...mapMutations({
      addProductSuccess: "product/ADD_PRODUCT_SUCCESS",
      editProductSuccess: "product/EDIT_PRODUCT_SUCCESS"
    }),
    sizeChange(choosenSize) {
      const filteredSize = this.sizes.filter(s => s.group == choosenSize);
      if (filteredSize.length > 0) {
        this.sizeGroup = filteredSize[0].group;
        this.size = filteredSize[0].sizes.map(s => s.name);
      }
    },
    pasteProduct() {
      const product = localStorage.getItem("copied");
      if (product != null) {
        const jsonProduct = JSON.parse(product);
        console.log(jsonProduct);
        this.addProductForm.name = jsonProduct.name;
        this.addProductForm.code =
          jsonProduct.code == null ? "" : jsonProduct.code;
        if (this.brands.length > 0) {
          const filteredBrands = this.brands.filter(
            brand => brand.id == jsonProduct.brand_id
          );

          if (filteredBrands.length > 0) {
            this.brandChange(filteredBrands[0].name);
            this.brand = filteredBrands[0].name;
          }
        }

        if (jsonProduct.product_category != null) {
          this.productCategory = jsonProduct.product_category.name;
          this.productCategoryChange(jsonProduct.product_category.name);
        }

        this.addProductForm.price = jsonProduct.price;
        this.addProductForm.sale_price =
          jsonProduct.sale_price == null ? "" : jsonProduct.sale_price;
        this.addProductForm.quantity = jsonProduct.quantity;
        this.addProductForm.quantity = jsonProduct.quantity;
        this.addProductForm.short_description = jsonProduct.short_description;
        this.addProductForm.sale = jsonProduct.sale == 1 ? true : false;
        this.addProductForm.featured = jsonProduct.featured == 1 ? true : false;
        this.addProductForm.published =
          jsonProduct.published == 1 ? true : false;
        this.addProductForm.featured = jsonProduct.featured == 1 ? true : false;
        this.addProductForm.out_of_stock =
          jsonProduct.out_of_stock == 1 ? true : false;
        this.addProductForm.is_highlighted =
          jsonProduct.is_highlighted == 1 ? true : false;
        this.addProductForm.features = jsonProduct.features;
        this.addProductForm.tags = jsonProduct.tags.map(tag => tag.name);
        if (jsonProduct.sizes.length > 0) {
          const selectedGroupSize = this.sizes.filter(
            size => size.id == jsonProduct.sizes[0].group_size_id
          );
          if (selectedGroupSize.length > 0) {
            this.sizeGroup = selectedGroupSize[0].group;
            this.sizeChange(this.sizeGroup);
            this.selectedSizes = jsonProduct.sizes.map(size => size.name);
          }
        }

        this.addProductForm.genders = jsonProduct.genders.map(
          gender => gender.name
        );
        this.selectedColor = jsonProduct.colors.map(color => color.name);
        this.selectedDivision = jsonProduct.divisions.map(
          division => division.name
        );
      }
    },
    removeTag(item) {
      this.addProductForm.tags.splice(
        this.addProductForm.tags.indexOf(item),
        1
      );
      this.addProductForm.tags = [...this.addProductForm.tags];
    },
    publish() {
      this.addProductForm.published = true;
      this.saveProduct();
    },
    unpublish() {
      this.addProductForm.published = false;
      this.saveProduct();
    },
    async customRemove(options) {
      try {
        let reqData = {};
        if (typeof options.uid == "number") {
          reqData = {
            id: options.uid,
            name: options.response.name
          };
        } else {
          reqData = {
            name: options.response.name
          };
        }

        const { data } = await axios.post("/products/remove", reqData);
      } catch (e) {
        console.log(e);
      }
    },
    async customRemoveSizeChart(options) {
      try {
        let reqData = {};
        if (typeof options.uid == "number") {
          reqData = {
            id: options.uid,
            name: options.response.name
          };
        } else {
          reqData = {
            name: options.response.name
          };
        }

        const { data } = await axios.post("/products/removesizechart", reqData);
      } catch (e) {
        console.log(e);
      }
    },
    addUpload(index) {
      this.inputs.push({ product: "" });
    },
    removeUpload(index) {
      this.inputs.splice(index, 1);
    },
    fetchColors() {
      this.$store.dispatch("color/fetchColors");
    },
    handleCancel() {
      this.previewVisible = false;
    },
    handlePreview(file) {
      this.previewImage = file.url || file.thumbUrl;
      this.previewVisible = true;
    },
    checkLocalStorage() {
      if (localStorage.getItem("copied") != null) {
        return true;
      }
      return false;
    },
    beforeUpload(file) {
      const isCorrectType =
        file.type === "image/jpeg" ||
        file.type === "image/jpg" ||
        file.type === "image/png";
      if (!isCorrectType) {
        showToast("error", "You can only upload JPEG/JPG/PNG file!");
      }
      const isLt2M = file.size / 1024 / 1024 < 3;
      if (!isLt2M) {
        showToast("error", "Image must smaller than 3MB!");
      }
      return isCorrectType && isLt2M;
    },
    handleChange({ fileList }) {
      this.products = fileList;
    },
    handleSizeChartCancel() {
      this.previewSizeChartVisible = false;
    },
    handleSizeChartPreview(file) {
      this.previewSizeChartImage = file.url || file.thumbUrl;
      this.previewSizeChartVisible = true;
    },
    handleSizeChartChange({ fileList }) {
      this.sizecharts = fileList;
    },
    onEditorChange({ editor, html, text }) {
      this.addProductForm.features = html;
    },
    brandChange(inputBrand) {
      const filteredBrand = this.brands.filter(
        brand => brand.name.toLowerCase() == inputBrand.toLowerCase()
      );
      if (filteredBrand.length > 0) {
        this.addProductForm.brand_id = filteredBrand[0].id;
      }
    },
    productCategoryChange(pCategory) {
      const filteredProductCategory = this.productCategories.filter(
        pcat => pcat.name == pCategory
      );
      if (filteredProductCategory.length > 0) {
        this.addProductForm.product_category_id = filteredProductCategory[0].id;
      }
    },
    generatePic(file) {
      if (file) {
        const reader = new FileReader();
        const context = this;
        if (file["size"] < 2111775) {
          reader.onloadend = function(file) {
            context.addTeamForm.photo = reader.result;
          };
          reader.readAsDataURL(file);
        } else {
          if (file["size"] != undefined) {
            Swal.fire({
              title: "Oops...",
              text: "Profile pic should be less than 2mb"
            });
          }
        }
      }
    },
    saveProduct() {
      if (this.$refs.productForm.validate()) {
        if (this.products.length > 0) {
          this.addProductForm["photos"] = this.products;
        }
        if (this.sizecharts.length > 0) {
          this.addProductForm["sizechart"] = this.sizecharts[0];
        }

        if (this.selectedColor.length > 0) {
          const tempColorId = [];
          this.selectedColor.map(color => {
            this.colors.map(colorObject => {
              if (colorObject.name == color) {
                tempColorId.push(colorObject.id);
              }
            });
          });
          this.addProductForm.colors = tempColorId;
        }
        if (this.selectedDivision.length > 0) {
          const tempDivisionId = [];
          this.selectedDivision.map(division => {
            this.divisions.map(divisionObject => {
              if (divisionObject.name == division) {
                tempDivisionId.push(divisionObject.id);
              }
            });
          });
          this.addProductForm.divisions = tempDivisionId;
        }

        //size number to size id
        if (this.selectedSizes.length > 0) {
          const filteredSizeGroup = this.sizes.filter(
            size => size.group == this.sizeGroup
          );
          if (filteredSizeGroup.length > 0) {
            for (const filteredSizeGroupSize of filteredSizeGroup[0].sizes) {
              for (const selectedSize of this.selectedSizes) {
                if (selectedSize == filteredSizeGroupSize.name) {
                  this.addProductForm.sizes.push(filteredSizeGroupSize.id);
                }
              }
            }
          }
        }

        if (this.editMode) {
          const rawData = {
            ...this.addProductForm,
            id: this.editProduct.id
          };
          this.$store
            .dispatch("product/modifyProduct", rawData)
            .then(result => {
              if (!result.errors) {
                this.$refs.productForm.reset();
                this.showDialog = false;
                this.editProductSuccess(result);
                this.addProductForm.features = "";
                this.addProductForm.photos = [];
                this.selectedSizes = [];
                this.addProductForm.sizes = [];
                this.size = [];
                this.sizeGroup = "";
                this.addProductForm.featured = false;
                this.addProductForm.published = false;
                this.addProductForm.is_highlighted = false;
                this.products = [];
                this.featured = false;
                this.published = false;
                this.sizecharts = [];
                this.brand = "";
                this.productCategory = "";
                showToast("success", "Product Edited Successfully");
              } else {
                showToast("error", JSON.stringify(result.errors));
              }
            });
        } else {
          this.$store
            .dispatch("product/createProduct", this.addProductForm)
            .then(result => {
              if (!result.errors) {
                this.$refs.productForm.reset();
                this.showDialog = false;
                this.addProductSuccess(result);
                this.addProductForm.photos = [];
                this.addProductForm.sizes = [];
                this.selectedSizes = [];
                this.size = [];
                this.sizeGroup = "";
                this.addProductForm.featured = false;
                this.addProductForm.published = false;
                this.addProductForm.is_highlighted = false;
                this.featured = false;
                this.published = false;
                this.brand = "";
                this.productCategory = "";
                this.addProductForm.features = "";
                this.products = [];
                this.sizecharts = [];
                showToast("success", "Product Added Successfully");
              } else {
                showToast("error", JSON.stringify(result.errors));
              }
            });
        }
      }
    },
    closeDialog() {
      this.showDialog = false;
      this.$refs.productForm.reset();
      this.addProductForm.sizes = [];
      this.selectedSizes = [];
      this.size = [];
      this.sizeGroup = "";
      this.addProductForm.features = "";
      this.addProductForm.featured = false;
      this.addProductForm.published = false;
      this.addProductForm.is_highlighted = false;
      this.products = [];
      this.sizecharts = [];
      this.brand = "";
      this.productCategory = "";
    }
  },
  computed: {
    ...mapGetters({
      tags: "blogs/tags",
      brands: "brand/brands",
      divisions: "division/divisions",
      productCategories: "productcategory/productCategories",
      colors: "color/colors",
      sizes: "size/sizes"
    }),

    getSizesKey: function() {
      return this.sizes.map(size => size.group);
    },
    getSizes: function() {
      const s = [];
      for (const size of this.sizes) {
        const temp = {
          header: size.group
        };
        s.push(temp);
        for (const sz of size.sizes) {
          const temp = {
            name: sz.name
          };
          s.push(temp);
        }
      }
      console.log(s);
      return s;
    },
    filterTags: function() {
      return this.tags.map(tag => tag.name);
    },
    getDivisionItems: function() {
      return this.divisions.map(division => division.name);
    },
    getBrandItems: function() {
      return this.brands.map(brand => brand.name);
    },
    getProductCategoryItems: function() {
      return this.productCategories.map(pcat => pcat.name);
    },
    getColorItems: function() {
      return this.colors.map(color => {
        return {
          name: color.name,
          hex: color.hex
        };
      });
    },
    showDialog: {
      get: function() {
        if (this.editMode) {
          this.addProductForm.name = this.editProduct.name;
          this.addProductForm.code =
            this.editProduct.code == null ? "" : this.editProduct.code;
          if (this.brands.length > 0) {
            const filteredBrands = this.brands.filter(
              brand => brand.id == this.editProduct.brand_id
            );

            if (filteredBrands.length > 0) {
              this.brandChange(filteredBrands[0].name);
              this.brand = filteredBrands[0].name;
            }
          }

          if (this.editProduct.product_category != null) {
            this.productCategory = this.editProduct.product_category.name;
            this.productCategoryChange(this.editProduct.product_category.name);
          }

          this.addProductForm.price = this.editProduct.price;
          this.addProductForm.sale_price =
            this.editProduct.sale_price == null
              ? ""
              : this.editProduct.sale_price;
          this.addProductForm.quantity = this.editProduct.quantity;
          this.addProductForm.quantity = this.editProduct.quantity;
          this.addProductForm.short_description = this.editProduct.short_description;
          this.addProductForm.sale = this.editProduct.sale == 1 ? true : false;
          this.addProductForm.featured =
            this.editProduct.featured == 1 ? true : false;
          this.addProductForm.published =
            this.editProduct.published == 1 ? true : false;
          this.addProductForm.featured =
            this.editProduct.featured == 1 ? true : false;
          this.addProductForm.out_of_stock =
            this.editProduct.out_of_stock == 1 ? true : false;
          this.addProductForm.is_highlighted =
            this.editProduct.is_highlighted == 1 ? true : false;
          this.addProductForm.features = this.editProduct.features;
          this.addProductForm.tags = this.editProduct.tags.map(tag => tag.name);
          if (this.editProduct.sizes.length > 0) {
            const selectedGroupSize = this.sizes.filter(
              size => size.id == this.editProduct.sizes[0].group_size_id
            );
            if (selectedGroupSize.length > 0) {
              this.sizeGroup = selectedGroupSize[0].group;
              this.sizeChange(this.sizeGroup);
              this.selectedSizes = this.editProduct.sizes.map(
                size => size.name
              );
              // this.selectedSizes = _.uniq(this.selectedSizes);
            }
          }

          this.addProductForm.genders = this.editProduct.genders.map(
            gender => gender.name
          );
          this.selectedColor = this.editProduct.colors.map(color => color.name);
          this.selectedDivision = this.editProduct.divisions.map(
            division => division.name
          );

          if (this.editProduct.photos.length > 0) {
            const b = { fileList: [] };
            this.editProduct.photos.map(photo => {
              const temp = {
                uid: photo.id,
                name: photo.photo,
                response: {
                  name: photo.photo
                },
                status: "done",
                url: this.imgPath("products", photo.photo)
              };
              b.fileList.push(temp);
            });
            this.handleChange(b);
          }
          if (this.editProduct.sizechart) {
            const b = { fileList: [] };

            const temp = {
              uid: this.editProduct.id,
              name: this.editProduct.sizechart,
              response: {
                name: this.editProduct.sizechart
              },
              status: "done",
              url: this.imgPath("products", this.editProduct.sizechart)
            };

            b.fileList.push(temp);
            this.handleSizeChartChange(b);
          }
        }
        if (this.visible) {
          if (!this.categoriesFetched) {
            this.categoriesFetched = true;
          }
          if (!this.colorFetched) {
            this.colorFetched = true;
            this.fetchColors();
          }
        }
        return this.visible;
      },
      set: function(value) {
        if (!value) {
          this.$emit("closeProductDialog");
        }
      }
    }
  }
};
</script>

<style scoped>
.capText input {
  text-transform: uppercase;
}
</style>
