<template>
  <v-dialog v-model="showDialog" scrollable persistent max-width="900px">
    <v-card>
      <v-card-title class="pb-0 ml-2">
        <span class="headline font-weight-bold">Product Color Maping</span>
        <v-spacer></v-spacer>
        <v-btn color="blue-grey darken-3" tile depressed dark @click="saveProductColor()">Save</v-btn>
        <v-btn icon @click="closeDialog()">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>

      <v-card-text class="pb-0">
        <v-form ref="productColorForm">
          <v-container>
            <v-row>
              <v-col
                cols="12"
                md="4"
                sm="6"
                xs="12"
                class="pt-0 pb-0"
                v-for="(photo,index) of photos"
                :key="index"
              >
                <div
                  style="border:1px solid #C4C4C4;margin:0px 1px 5px 1px;padding:0px 8px 0px 8px"
                >
                  <div class="text-center mb-2">
                    <v-avatar size="150" tile justify="center">
                      <v-img :src="imgPath('products',photo.photo)" contain></v-img>
                    </v-avatar>
                  </div>
                  <v-select
                    :items="getColors"
                    label="Select Color"
                    outlined
                    dense
                    required
                    item-text="name"
                    item-value="name"
                    :value="getColorValue(photo)"
                    @change="colorChange($event,photo)"
                  >
                    <template slot="selection" slot-scope="data">
                      <v-chip>
                        <v-avatar left :color="data.item.hex" size="5"></v-avatar>
                        {{ data.item.name }}
                      </v-chip>
                    </template>
                    <template slot="item" slot-scope="data">
                      <template v-if="typeof data.item !== 'object'">
                        <v-list-item-content v-text="data.item"></v-list-item-content>
                      </template>
                      <template>
                        <v-list-item-icon>
                          <v-avatar :color="data.item.hex" size="20"></v-avatar>
                        </v-list-item-icon>
                        <v-list-item-content>
                          <v-list-item-title>{{data.item.name}}</v-list-item-title>
                        </v-list-item-content>
                      </template>
                    </template>
                  </v-select>

                  <v-switch v-model="switch1" inset label="Set as main picture" class="my-0 py-0" @change="pictureChange($event,photo)"></v-switch>
                </div>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { showToast } from "../../utils/toast";
import axios from "axios";
import { getImgPath } from "../../utils/path";
export default {
  name: "ProductColorMap",
  props: ["visible", "editCategory", "editProduct"],
  data() {
    return {
      dialog: false,
      colors: [],
      photos: [],
      finalData: [],
    };
  },
  methods: {
    imgPath: getImgPath,
    closeDialog() {
      this.dialog = false;
      this.finalData = [];
      this.colors = [];
      this.photos = [];
      this.showDialog = false;
    },
    colorChange(color, photo) {
      const filteredColor = this.colors.filter(cl => cl.name == color);
      if (filteredColor.length > 0) {
        this.photos.forEach(ph => {
          if (ph.id == photo.id) {
            const temp = {
              id: photo.id,
              color_id: filteredColor[0].pivot.color_id
            };
            this.finalData.push(temp);
          }
        });
      }
    },
    pictureChange(value,photo){
      console.log(this.finalData)
      console.log(value)
      console.log(photo)
    },
    getColorValue(photo) {
      if (photo.color_id != null) {
        const fileredColor = this.colors.filter(
          color => color.pivot.color_id == photo.color_id
        );
        if (fileredColor.length > 0) {
          return fileredColor[0].name;
        }
      }
    },
    async saveProductColor() {
      try {
        let reqData = {};
        const { data } = await axios.post("/products/colormap", this.finalData);
        showToast("success", "Product color mapped Successfully");
        this.closeDialog();
      } catch (e) {
        console.log(e);
      }
    }
  },
  computed: {
    showDialog: {
      get: function() {
        if (this.editProduct) {
          this.colors = this.editProduct.colors;
          this.photos = this.editProduct.photos;
        }
        return this.visible;
      },
      set: function(value) {
        if (!value) {
          this.$emit("closeProductColorDialog");
        }
      }
    },
    getColors: function() {
      return this.colors.map(color => {
        return {
          name: color.name,
          hex: color.hex
        };
      });
    }
  }
};
</script>