<template>
  <v-dialog v-model="showDialog" persistent max-width="480px">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title" v-if="editMode">Edit Segment</h4>
        <h4 class="card-title" v-else>Add Segment</h4>

        <div class="card-tools">
          <v-btn
            v-if="editMode"
            color="blue-grey darken-3"
            tile
            depressed
            small
            :loading="buttonLoading"
            dark
            class="mr-2"
            @click="saveSegment()"
            >Save</v-btn
          >
          <v-btn
            v-else
            tile
            depressed
            :loading="buttonLoading"
            small
            dark
            color="blue-grey darken-3"
            @click="saveSegment()"
            class="mr-2"
            >Add</v-btn
          >
          <v-btn icon @click="closeDialog()">
            <i class="fas fa-times"></i>
          </v-btn>
        </div>
      </div>
      <v-form ref="segmentForm" onsubmit="return false;">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 py-0">
              <v-text-field
                label="Segment Name"
                class="font-weight-light"
                outlined
                dense
                v-on:keyup.enter="saveSegment()"
                v-model="addSegmentForm.name"
                :rules="nameRule"
                required
              ></v-text-field>
            </div>
          </div>
        </div>
      </v-form>
    </div>
  </v-dialog>
</template>

<script>
import Swal from "sweetalert2";
import { mapMutations, mapGetters } from "vuex";
import { showToast } from "../../utils/toast";

export default {
  props: ["visible", "editMode", "editSegment"],
  data: () => ({
    dialog: false,
    nameRule: [(v) => !!v || "Segment name is required"],
    buttonLoading: false,
    addSegmentForm: {
      name: "",
    },
  }),
  methods: {
    ...mapMutations({
      addSegmentSuccess: "segment/ADD_SEGMENT_SUCCESS",
      editSegmentSuccess: "segment/EDIT_SEGMENT_SUCCESS",
    }),
    saveSegment() {
      if (this.$refs.segmentForm.validate()) {
        this.buttonLoading = true;
        if (this.editMode) {
          const rawData = {
            ...this.addSegmentForm,
            id: this.editSegment.id,
          };
          this.$store
            .dispatch("segment/modifySegment", rawData)
            .then((result) => {
              this.buttonLoading = false;
              if (!result.errors) {
                this.$refs.segmentForm.reset();
                this.showDialog = false;
                this.editSegmentSuccess(result);
                showToast("success", "Segment Edited Successfully");
              } else {
                console.log(result.errors);
                showToast("error", `${result.errors}`);
              }
            });
        } else {
          this.$store
            .dispatch("segment/createSegment", this.addSegmentForm)
            .then((result) => {
              this.buttonLoading = false;
              if (!result.errors) {
                this.$refs.segmentForm.reset();
                this.showDialog = false;
                this.addSegmentSuccess(result);
                showToast("success", "Segment Added Successfully");
              } else {
                showToast("error", `${result.errors}`);
              }
            });
        }
      }
    },
    closeDialog() {
      this.dialog = false;
      this.$refs.segmentForm.reset();
      this.showDialog = false;
    },
  },
  computed: {
    showDialog: {
      get: function () {
        if (this.editMode) {
          this.addSegmentForm.name = this.editSegment.name;
        }
        return this.visible;
      },
      set: function (value) {
        if (!value) {
          this.$emit("closeSegmentDialog");
        }
      },
    },
  },
};
</script>
