<template>
  <v-dialog v-model="showDialog" persistent max-width="480px">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title" v-if="editMode">Edit Shipping</h4>
        <h4 class="card-title" v-else>Add Shipping</h4>

        <div class="card-tools">
          <v-btn
            v-if="editMode"
            color="blue-grey darken-3"
            tile
            depressed
            small
            :loading="buttonLoading"
            dark
            class="mr-2"
            @click="saveShipping()"
            >Save</v-btn
          >
          <v-btn
            v-else
            tile
            depressed
            small
            :loading="buttonLoading"
            dark
            color="blue-grey darken-3"
            @click="saveShipping()"
            class="mr-2"
            >Add</v-btn
          >
          <v-btn icon @click="closeDialog()">
            <i class="fas fa-times"></i>
          </v-btn>
        </div>
      </div>
      <v-form ref="shippingForm">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 py-0">
              <v-select
                :items="this.provinceGroup"
                label="Province"
                :rules="provinceRule"
                :value="provinceName"
                dense
                outlined
                required
                @change="provinceChange"
              ></v-select>
            </div>
            <div class="col-md-6 py-0">
              <v-text-field
                label="Amount"
                class="font-weight-light"
                outlined
                dense
                type="number"
                v-model="shippingForm.amount"
                :rules="rateRule"
                required
              ></v-text-field>
            </div>
            <div class="col-md-6 py-0">
              <v-switch
                inset
                v-model="shippingForm.status"
                flat
                label="Status"
                color="orange"
                dense
              ></v-switch>
            </div>
          </div>
        </div>
      </v-form>
    </div>
  </v-dialog>
</template>

<script>
import Swal from "sweetalert2";
import { mapMutations, mapGetters } from "vuex";
import { showToast } from "../../utils/toast";

export default {
  props: ["visible", "editMode", "editShipping"],
  data: () => ({
    dialog: false,
    buttonLoading: false,
    rateRule: [(v) => !!v || "Rate is required"],
    address: [
      (v) => !!v || "Address is required",
      (v) => (v && v.length <= 20) || "Address must be less than 20 characters",
    ],
    provinceGroup: [
      "Province No.1",
      "Province No.2",
      "Province No.3",
      "Province No.4",
      "Province No.5",
      "Province No.6",
      "Province No.7",
    ],
    provinceRule: [(v) => !!v || "Province is required"],
    provinceName: "",
    shippingForm: {
      amount: "",
      address: "",
      status: false,
    },
  }),
  methods: {
    ...mapMutations({
      addShippingSuccess: "shipping/ADD_SHIPPING_SUCCESS",
      editShippingSuccess:
        "shipping/EDIT_SHIPPING_SUCCESS",
    }),
    provinceChange(provinceName) {
      this.provinceName = provinceName;
      this.shippingForm.address = provinceName;
    },
    saveShipping() {
      if (this.$refs.shippingForm.validate()) {
        this.buttonLoading = true;
        if (this.editMode) {
          const rawData = {
            ...this.shippingForm,
            id: this.editShipping.id,
          };
          this.$store
            .dispatch("shipping/modifyShipping", rawData)
            .then((result) => {
              this.buttonLoading = false;
              if (!result.errors) {
                this.$refs.shippingForm.reset();
                this.showDialog = false;
                this.editShippingSuccess(result);
                this.shippingForm.name = "";
                showToast("success", "Shipping Edited Successfully");
              } else {
                showToast("error", `${result.errors}`);
              }
            });
        } else {
          this.$store
            .dispatch(
              "shipping/createShipping",
              this.shippingForm
            )
            .then((result) => {
              this.buttonLoading = false;
              if (!result.errors) {
                this.$refs.shippingForm.reset();
                this.showDialog = false;
                this.addShippingSuccess(result);
                this.shippingForm.name = "";
                showToast("success", "Shipping Added Successfully");
              } else {
                showToast("error", `${result.errors}`);
              }
            });
        }
      }
    },
    closeDialog() {
      this.dialog = false;
      this.$refs.shippingForm.reset();
      this.showDialog = false;
    },
  },
  computed: {
    ...mapGetters({ shippings: "shipping/shippings" }),
    showDialog: {
      get: function () {
        if (this.editMode) {
          this.provinceChange(this.editShipping.address);
          this.shippingForm.amount = this.editShipping.amount;
          this.shippingForm.status =
            this.editShipping.status == 1 ? true : false;
        }
        return this.visible;
      },
      set: function (value) {
        if (!value) {
          this.$emit("closeShippingDialog");
        }
      },
    },
  },
};
</script>
