<template>
  <v-dialog v-model="showDialog" persistent max-width="600px">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title" v-if="editMode">Edit Size</h4>
        <h4 class="card-title" v-else>Add Size</h4>

        <div class="card-tools">
          <v-btn
            v-if="editMode"
            color="blue-grey darken-3"
            tile
            depressed
            small
            dark
            class="mr-2"
            @click="saveSize()"
            >Save</v-btn
          >
          <v-btn
            v-else
            tile
            depressed
            small
            dark
            color="blue-grey darken-3"
            @click="saveSize()"
            class="mr-2"
            >Add</v-btn
          >
          <v-btn icon @click="closeDialog()">
            <i class="fas fa-times"></i>
          </v-btn>
        </div>
      </div>
      <v-form ref="sizeForm" onsubmit="return false;">
        <div class="card-body">
          <div class="row">
            <div class="col-md-9 col-sm-9 py-0">
              <v-text-field
                label="Size Name"
                class="font-weight-light"
                outlined
                v-on:keyup.enter="saveSize()"
                dense
                v-model="form.name"
                :rules="nameRule"
                required
              ></v-text-field>
            </div>
            <div class="col-md-3 col-sm-3 py-0">
              <h6>Upload Size Chart</h6>
              <a-upload
                listType="picture-card"
                :fileList="sizechart"
                :beforeUpload="beforeUpload"
                @preview="handlePreview"
                @change="handleChange"
              >
                <div v-if="sizechart.length < 1">
                  <a-icon type="plus" />
                  <div class="ant-upload-text">Upload</div>
                </div>
              </a-upload>
              <a-modal
                :visible="previewVisible"
                :footer="null"
                @cancel="handleCancel"
              >
                <img alt="example" style="width: 100%" :src="previewImage" />
              </a-modal>
            </div>
            <div class="col-md-12 py-0">
              <div class="text-center">
                <v-btn outlined tile @click="addSize" class="text-capitalize"
                  >Add Sizes</v-btn
                >
              </div>
            </div>

            <div class="col-md-12 py-0">
              <div class="row">
                <div
                  class="col-6"
                  v-for="(size, index) in form.sizes"
                  :key="index"
                >
                  <div style="display: flex">
                    <v-text-field
                      label="Size"
                      class="font-weight-light"
                      outlined
                      dense
                      v-model="size.size"
                    ></v-text-field>
                    <v-btn icon @click="deleteRow(index)">
                      <i class="fas fa-trash"></i>
                    </v-btn>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </v-form>
    </div>
  </v-dialog>
</template>

<script>
import Swal from "sweetalert2";
import { mapMutations, mapGetters } from "vuex";
import { showToast } from "../../utils/toast";
import { getImgPath } from "../../utils/path";

export default {
  props: ["visible", "editMode", "editSize"],
  data: () => ({
    dialog: false,
    nameRule: [(v) => !!v || "Size name is required"],
    populated: false,
    previewVisible: false,
    previewImage: "",
    sizechart: [],
    form: {
      name: "",
      sizes: [],
    },
  }),
  methods: {
    imgPath: getImgPath,
    ...mapMutations({
      addSizeSuccess: "size/ADD_SIZE_SUCCESS",
      editSizeSuccess: "size/EDIT_SIZE_SUCCESS",
    }),
    handleCancel() {
      this.previewVisible = false;
    },
    handlePreview(file) {
      this.previewImage = file.url || file.thumbUrl;
      this.previewVisible = true;
    },
    handleChange({ fileList }) {
      this.sizechart = fileList;
    },
    beforeUpload(file) {
      const isImage =
        file.type === "image/jpeg" ||
        file.type === "image/jpg" ||
        file.type === "image/png";
      if (!isImage) {
        this.$message.error("You can only upload JPG file!");
        this.sizechart = [];
      }
      const isLt2M = file.size / 1024 / 1024 < 3;
      if (!isLt2M) {
        showToast("error", "Image must smaller than 3MB!");
        this.sizechart = [];
      }
      this.form.sizechart = file;
      return isImage && isLt2M;
    },
    addSize() {
      this.form.sizes.push({ size: "", id: null });
    },
    deleteRow(i) {
      this.form.sizes.splice(i, 1);
    },
    saveSize() {
      console.log(this.form.sizes);
      if (this.$refs.sizeForm.validate()) {
        if (this.form.sizes.length > 0) {
          if (this.editMode) {
            const rawData = {
              ...this.form,
              name: this.form.name,
              sizes: this.form.sizes,
              id: this.editSize.id,
            };
            this.$store.dispatch("size/modifySize", rawData).then((result) => {
              if (!result.errors) {
                this.form.sizes = [];
                this.sizechart = [];
                this.populated = false;
                this.$refs.sizeForm.reset();
                this.showDialog = false;
                this.editSizeSuccess(result);
                showToast("success", "Size Edited Successfully");
              } else {
                showToast("error", `${JSON.stringify(result.errors)}`);
              }
            });
          } else {
            this.$store
              .dispatch("size/createSize", this.form)
              .then((result) => {
                if (!result.errors) {
                  this.form.sizes = [];
                  this.sizechart = [];
                  this.populated = false;
                  this.$refs.sizeForm.reset();
                  this.showDialog = false;
                  this.addSizeSuccess(result);
                  showToast("success", "Size Added Successfully");
                } else {
                  showToast("error", `${JSON.stringify(result.errors)}`);
                }
              });
          }
        } else {
          showToast("error", `Please enter sizes`);
        }
      }
    },
    closeDialog() {
      this.dialog = false;
      this.form.sizes = [];
      this.sizechart = [];
      this.populated = false;
      this.$refs.sizeForm.reset();
      this.showDialog = false;
    },
  },
  computed: {
    showDialog: {
      get: function () {
        if (this.editMode) {
          this.form.name = this.editSize.group;
          if (!this.populated) {
            if (this.editSize.sizes.length > 0) {
              for (const s of this.editSize.sizes) {
                this.form.sizes.push({ size: s.name, id: s.id });
              }
            }

            if (this.editSize.sizechart != null) {
              const b = {
                fileList: [
                  {
                    uid: this.editSize.id,
                    name: this.editSize.sizechart,
                    status: "done",
                    url: this.imgPath("sizecharts", this.editSize.sizechart),
                  },
                ],
              };

              this.handleChange(b);
            }
            this.populated = true;
          }
        }
        return this.visible;
      },
      set: function (value) {
        if (!value) {
          this.$emit("closeSizeDialog");
        }
      },
    },
  },
};
</script>
