<template>
  <v-dialog v-model="showDialog" persistent max-width="750px">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title" v-if="editMode">Edit Team</h4>
        <h4 class="card-title" v-else>Add Team</h4>

        <div class="card-tools">
          <v-btn
            v-if="editMode"
            color="blue-grey darken-3"
            tile
            depressed
            small
            :loading="buttonLoading"
            dark
            class="mr-2"
            @click="saveTeam()"
            >Save</v-btn
          >
          <v-btn
            v-else
            tile
            depressed
            small
            dark
            :loading="buttonLoading"
            color="blue-grey darken-3"
            @click="saveTeam()"
            class="mr-2"
            >Add</v-btn
          >
          <v-btn icon @click="closeDialog()">
            <i class="fas fa-times"></i>
          </v-btn>
        </div>
      </div>

      <div class="card-body py-0">
        <v-form ref="teamForm" onsubmit="return false;">
          <div class="row">
            <div class="col-12 pb-0">
              <v-text-field
                label="Name"
                class="font-weight-light"
                outlined
                dense
                v-model="addTeamForm.name"
                :rules="nameRule"
                required
              ></v-text-field>
            </div>
            <div class="col-md-10 py-0">
              <v-textarea
                label="Bio"
                class="font-weight-light"
                outlined
                v-model="addTeamForm.bio"
                dense
                :rules="nameRule"
                required
              ></v-textarea>
            </div>

            <div class="col-md-2 py-0">
              <h6>Upload photo</h6>
              <template v-if="this.editMode">
                <a-upload
                  listType="picture-card"
                  :fileList="profile"
                  :beforeUpload="beforeUpload"
                  @preview="handlePreview"
                  @change="handleChange"
                  @cancel="handleCancel"
                  :remove="customRemove"
                >
                  <div v-if="profile.length < 1">
                    <a-icon type="plus" />
                    <div class="ant-upload-text">Upload</div>
                  </div>
                </a-upload>
                <a-modal
                  :visible="previewVisible"
                  :footer="null"
                  @cancel="handleCancel"
                >
                  <img alt="example" style="width: 100%" :src="previewImage" />
                </a-modal>
              </template>
              <template v-else>
                <a-upload
                  listType="picture-card"
                  :fileList="profile"
                  :beforeUpload="beforeUpload"
                  @preview="handlePreview"
                  @change="handleChange"
                  @cancel="handleCancel"
                >
                  <div v-if="profile.length < 1">
                    <a-icon type="plus" />
                    <div class="ant-upload-text">Upload</div>
                  </div>
                </a-upload>
                <a-modal
                  :visible="previewVisible"
                  :footer="null"
                  @cancel="handleCancel"
                >
                  <img alt="example" style="width: 100%" :src="previewImage" />
                </a-modal>
              </template>
            </div>
            <div class="col-12 py-0">
              <v-select
                outlined
                :rules="segmentRule"
                label="Select Segment"
                dense
                @change="segmentChange"
                :items="this.getSegmentItems"
                :value="segment"
              ></v-select>
            </div>
            <div class="col-md-6 py-0">
              <v-text-field
                label="Facebook Link"
                class="font-weight-light"
                dense
                outlined
                v-model="addTeamForm.fb_link"
                required
              ></v-text-field>
            </div>
            <div class="col-md-6 py-0">
              <v-text-field
                label="Instagram Link"
                class="font-weight-light"
                dense
                outlined
                v-model="addTeamForm.insta_link"
                required
              ></v-text-field>
            </div>
          </div>
        </v-form>
      </div>
    </div>
  </v-dialog>
</template>

<script>
import { mapMutations, mapGetters } from "vuex";
import { showToast } from "../../utils/toast";
import axios from "axios";

export default {
  props: ["visible", "editMode", "editTeam"],
  data: () => ({
    profile: [],
    dialog: false,
    previewVisible: false,
    previewImage: "",
    segment: "",
    nameRule: [(v) => !!v || "Name is required"],
    segmentRule: [(v) => !!v || "Segment is required"],
    buttonLoading: false,
    addTeamForm: {
      name: "",
      segment_id: "",
      bio: "",
      fb_link: "",
      insta_link: "",
    },
  }),
  methods: {
    ...mapMutations({
      addTeamSuccess: "team/ADD_TEAM_SUCCESS",
      editTeamSuccess: "team/EDIT_TEAM_SUCCESS",
    }),
    async customRemove(options) {
      try {
        let reqData = {};
        if (typeof options.uid == "number") {
          reqData = {
            id: options.uid,
            name: options.response.name,
          };
        } else {
          reqData = {
            name: options.response.name,
          };
        }

        const { data } = await axios.post("/teams/remove", reqData);
      } catch (e) {
        console.log(e);
      }
    },
    beforeUpload(file) {
      const isCorrectType =
        file.type === "image/jpeg" ||
        file.type === "image/jpg" ||
        file.type === "image/png";
      if (!isCorrectType) {
        this.$message.error("You can only upload JPEG/JPG/PNG file!");
      }
      const isLt2M = file.size / 1024 / 1024 < 3;
      if (!isLt2M) {
        showToast("error", "Image must smaller than 3MB!");
      }
      return isCorrectType && isLt2M;
    },
    handleCancel() {
      this.previewVisible = false;
    },
    handlePreview(file) {
      this.previewImage = file.url || file.thumbUrl;
      this.previewVisible = true;
    },
    handleChange({ fileList }) {
      this.profile = fileList;
    },
    onEditorChange({ editor, html, text }) {
      this.addTeamForm.bio = html;
    },
    segmentChange(segment) {
      const chosenSegment = this.segments.filter((seg) => seg.name == segment);
      if (chosenSegment.length > 0) {
        this.addTeamForm.segment_id = chosenSegment[0].id;
      }
    },
    saveTeam() {
      if (this.$refs.teamForm.validate()) {
        this.buttonLoading = true;
        if (this.profile.length > 0) {
          this.addTeamForm["photo"] = this.profile[0];
        }
        if (this.editMode) {
          const rawData = {
            ...this.addTeamForm,
            id: this.editTeam.id,
          };
          this.$store.dispatch("team/modifyTeam", rawData).then((result) => {
            this.buttonLoading = false;
            if (!result.errors) {
              this.$refs.teamForm.reset();
              this.showDialog = false;
              this.profile = [];
              this.addTeamForm.bio = "";
              this.segment = "";
              this.addTeamForm.insta_link = "";
              this.addTeamForm.fb_link = "";
              this.editTeamSuccess(result);
              showToast("success", "Team Edited Successfully");
            } else {
              const errorKeys = Object.keys(result.errors);
              errorKeys.forEach((key) => {
                showToast("error", JSON.stringify(result.errors[key]));
              });
            }
          });
        } else {
          this.$store
            .dispatch("team/createTeam", this.addTeamForm)
            .then((result) => {
              this.buttonLoading = false;
              if (!result.errors) {
                this.$refs.teamForm.reset();
                this.showDialog = false;
                this.profile = [];
                this.addTeamForm.bio = "";
                this.segment = "";
                this.addTeamForm.insta_link = "";
                this.addTeamForm.fb_link = "";
                this.addTeamSuccess(result);
                showToast("success", "Team Added Successfully");
              } else {
                const errorKeys = Object.keys(result.errors);
                errorKeys.forEach((key) => {
                  showToast("error", JSON.stringify(result.errors[key]));
                });
              }
            });
        }
      }
    },
    closeDialog() {
      this.dialog = false;
      this.$refs.teamForm.reset();
      this.profile = [];
      this.addTeamForm.bio = "";
      this.addTeamForm.insta_link = "";
      this.addTeamForm.fb_link = "";
      this.segment = "";
      this.showDialog = false;
    },
  },
  computed: {
    ...mapGetters({
      segments: "segment/segments",
    }),
    getSegmentItems: function () {
      return this.segments.map((segment) => segment.name);
    },
    showDialog: {
      get: function () {
        if (this.editMode) {
          this.addTeamForm.name = this.editTeam.name;
          this.addTeamForm.bio =
            this.editTeam.bio == null ? "" : this.editTeam.bio;
          this.addTeamForm.fb_link =
            this.editTeam.fb_link == null ? "" : this.editTeam.fb_link;
          this.addTeamForm.insta_link =
            this.editTeam.insta_link == null ? "" : this.editTeam.insta_link;

          const filteredSegment = this.segments.filter(
            (seg) => seg.id == this.editTeam.segment_id
          );

          this.segmentChange(filteredSegment[0].name);
          this.segment = filteredSegment[0].name;

          if (this.editTeam.photo) {
            const b = { fileList: [] };

            const temp = {
              uid: this.editTeam.id,
              name: this.editTeam.photo,
              response: {
                name: this.editTeam.photo,
              },
              status: "done",
              url: `/img/teams/${this.editTeam.photo}`,
            };

            b.fileList.push(temp);
            this.handleChange(b);
          }
        }
        return this.visible;
      },
      set: function (value) {
        if (!value) {
          this.$emit("closeTeamDialog");
        }
      },
    },
  },
};
</script>
