<template>
  <v-dialog v-model="showDialog" persistent max-width="600px">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title" v-if="editMode">Edit User</h4>
        <h4 class="card-title" v-else>Add User</h4>

        <div class="card-tools">
          <v-btn
            v-if="editMode"
            color="blue-grey darken-3"
            tile
            depressed
            small
            dark
            :loading="buttonLoading"
            class="mr-2"
            @click="saveUser()"
            >Save</v-btn
          >
          <v-btn
            v-else
            tile
            depressed
            small
            :loading="buttonLoading"
            dark
            color="blue-grey darken-3"
            @click="saveUser()"
            class="mr-2"
            >Add</v-btn
          >
          <v-btn icon @click="closeDialog()">
            <i class="fas fa-times"></i>
          </v-btn>
        </div>
      </div>
      <v-form ref="userForm" onsubmit="return false;">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 py-0">
              <v-text-field
                label="Name"
                :rules="nameRules"
                required
                class="font-weight-light"
                outlined
                dense
                v-model="addUserForm.name"
              ></v-text-field>
            </div>

            <div class="col-md-6 py-0">
              <v-text-field
                label="Email"
                :rules="emailRules"
                required
                dense
                outlined
                class="font-weight-light"
                v-model="addUserForm.email"
              ></v-text-field>
            </div>
            <div class="col-md-6 py-0">
              <v-text-field
                label="Password"
                :rules="passwordRules"
                required
                dense
                outlined
                type="password"
                class="font-weight-light"
                v-model="addUserForm.password"
              ></v-text-field>
            </div>
            <div class="col-md-6 py-0">
              <v-select
                :items="['Admin', 'User']"
                label="Role"
                :rules="roleRules"
                dense
                required
                outlined
                v-model="addUserForm.role"
              ></v-select>
            </div>
          </div>
        </div>
      </v-form>
    </div>
  </v-dialog>
</template>

<script>
import { showToast } from "../../utils/toast";
import { mapMutations } from "vuex";

export default {
  props: ["visible", "editMode", "editUser"],
  data: () => ({
    roleRules: [(v) => !!v || "Parent is required"],
    buttonLoading: false,
    nameRules: [
      (v) => !!v || "Name is required",
      (v) => (v && v.length <= 20) || "Name must be less than 20 characters",
      (v) => (v && v.length >= 3) || "Name must be greater than 3 characters",
    ],
    passwordRules: [
      (v) => !!v || "Password is required",
      (v) =>
        (v && v.length >= 8) || "Password must be greater than 8 characters",
    ],
    emailRules: [
      (v) => !!v || "E-mail is required",
      (v) => /.+@.+/.test(v) || "E-mail must be valid",
    ],
    addUserForm: {
      role: "",
      name: "",
      email: "",
      password: "",
    },
  }),
  methods: {
    ...mapMutations({
      addUserSuccess: "user/ADD_USER_SUCCESS",
      editUserSuccess: "user/EDIT_USER_SUCCESS",
    }),
    saveUser() {
      if (this.$refs.userForm.validate()) {
        this.buttonLoading = true;
        if (this.editMode) {
          const rawData = {
            ...this.addUserForm,
            id: this.editUser.id,
          };
          this.$store.dispatch("user/modifyUser", rawData).then((result) => {
            this.buttonLoading = false;
            if (!result.errors) {
              this.$refs.userForm.reset();
              this.showDialog = false;
              this.editUserSuccess(result);
              showToast("success", "User Edited Successfully");
            } else {
              const errorKeys = Object.keys(result.errors);
              errorKeys.forEach((key) => {
                showToast("error", JSON.stringify(result.errors[key]));
              });
            }
          });
        } else {
          this.$store
            .dispatch("user/createUser", this.addUserForm)
            .then((result) => {
              this.buttonLoading = false;
              if (!result.errors) {
                this.$refs.userForm.reset();
                this.showDialog = false;
                this.addUserSuccess(result);
                showToast("success", "User Added Successfully");
              } else {
                const errorKeys = Object.keys(result.errors);
                errorKeys.forEach((key) => {
                  showToast("error", JSON.stringify(result.errors[key]));
                });
              }
            });
        }
      }
    },
    closeDialog() {
      this.$refs.userForm.reset();
      this.showDialog = false;
    },
  },
  computed: {
    showDialog: {
      get: function () {
        if (this.editMode) {
          this.addUserForm.role = this.editUser.type;
          this.addUserForm.name = this.editUser.name;
          this.addUserForm.email = this.editUser.email;
        }
        return this.visible;
      },
      set: function (value) {
        if (!value) {
          this.$emit("closeDialog");
        }
      },
    },
  },
};
</script>