<template>
  <v-dialog v-model="showDialog" persistent max-width="700px">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title" v-if="editMode">Edit Video</h4>
        <h4 class="card-title" v-else>Add Video</h4>

        <div class="card-tools">
          <v-btn
            v-if="editMode"
            color="blue-grey darken-3"
            tile
            depressed
            small
            :loading="buttonLoading"
            dark
            class="mr-2"
            @click="saveBanner()"
            >Save</v-btn
          >
          <v-btn
            v-else
            tile
            depressed
            :loading="buttonLoading"
            small
            dark
            color="blue-grey darken-3"
            @click="saveBanner()"
            class="mr-2"
            >Add</v-btn
          >
          <v-btn icon @click="closeDialog()">
            <i class="fas fa-times"></i>
          </v-btn>
        </div>
      </div>

      <v-form ref="bannerForm">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 py-0">
              <v-text-field
                label="Url"
                class="font-weight-light"
                outlined
                required
                :rules="urlRule"
                dense
                v-model="addBannerForm.url"
              ></v-text-field>
            </div>
            <div class="col-md-6 py-0">
              <v-text-field
                label="Primary Tagline"
                class="font-weight-light"
                outlined
                dense
                v-model="addBannerForm.primary_tagline"
              ></v-text-field>
            </div>
            <div class="col-md-6 py-0">
              <v-text-field
                label="Secondary Tagline"
                class="font-weight-light"
                outlined
                dense
                v-model="addBannerForm.secondary_tagline"
              ></v-text-field>
            </div>
            <div class="col-md-6 py-0">
              <h6>Status</h6>
              <v-switch
                inset
                dense
                v-model="addBannerForm.status"
                flat
                color="orange"
              ></v-switch>
            </div>
            <div class="col-md-6 py-0" v-if="!this.editMode">
              
              <v-file-input
                label="Upload Video"
                outlined
                :rules="rules"
                accept="video/mp4"
                dense
                v-model="addBannerForm.video"
                show-size
                prepend-icon="mdi-camera"
                small-chips
              ></v-file-input>
              <p class="ma-0 pa-0">Video size:1280x720 (without any top bottom bar)</p>
            </div>
          </div>
        </div>
      </v-form>
    </div>
  </v-dialog>
</template>

<script>
import Form from "vform";
import { showToast } from "../../utils/toast";
import { mapMutations } from "vuex";
import { getImgPath } from "../../utils/path";

export default {
  props: ["visible", "editMode", "editBanner"],
  data: () => ({
    urlRule: [(v) => !!v || "Url is required"],
    rules: [
      (value) =>
        !value || value.size < 50000000 || "Video should be less than 50 MB!",
    ],
    buttonLoading: false,
    addBannerForm: {
      url: "",
      primary_tagline: "",
      secondary_tagline: "",
      video: [],
      status: false,
    },
  }),
  methods: {
    imgPath: getImgPath,
    ...mapMutations({
      addBannerSuccess: "banner/ADD_BANNER_SUCCESS",
      editBannerSuccess: "banner/EDIT_BANNER_SUCCESS",
    }),
    saveBanner() {
      if (this.$refs.bannerForm.validate()) {
        this.buttonLoading = true;
        if (this.editMode) {
          const rawData = {
            ...this.addBannerForm,
            id: this.editBanner.id,
          };
          this.$store
            .dispatch("banner/modifyBanner", rawData)
            .then((result) => {
              this.buttonLoading = false;
              if (!result.errors) {
                this.$refs.bannerForm.reset();
                this.showDialog = false;
                this.editBannerSuccess(result);
                this.banner = [];
                showToast("success", "Banner Edited Successfully");
              } else {
                showToast("error", JSON.stringify(result.errors));
              }
            });
        } else {
          this.$store
            .dispatch("banner/createVideoBanner", this.addBannerForm)
            .then((result) => {
              this.buttonLoading = false;
              if (!result.errors) {
                this.$refs.bannerForm.reset();
                this.showDialog = false;
                this.addBannerSuccess(result);
                this.banner = [];
                showToast("success", "Video Added Successfully");
              } else {
                showToast("error", JSON.stringify(result.errors));
              }
            });
        }
      }
    },
    closeDialog() {
      this.banner = [];
      this.$refs.bannerForm.reset();
      this.showDialog = false;
    },
  },
  computed: {
    showDialog: {
      get: function () {
        if (this.editMode) {
          this.addBannerForm.url = this.editBanner.url;
          this.addBannerForm.primary_tagline = this.editBanner.primary_tagline;
          this.addBannerForm.secondary_tagline = this.editBanner.secondary_tagline;
          this.addBannerForm.status =
            this.editBanner.status == 1 ? true : false;
        }
        return this.visible;
      },
      set: function (value) {
        if (!value) {
          this.$emit("closeBannerDialog");
        }
      },
    },
  },
};
</script>